Repository ss220club/Paradise-SS220, pull requests merged in 2023-12, with the labels that each got.

#776 Fix: Capitilize Cyrillic TGUI Title
  code/modules/tgui/tgui_datum.dm
Labels: :scroll: CL валиден, НЕ МОДУЛЬНО

#778 Fix: Remove Those Pluses
  code/game/machinery/vendors/generic_vendors.dm
Labels: НЕ МОДУЛЬНО, :pencil: Перевод

#779 Fix: Delta minor fixes
  _maps/map_files220/delta/delta.dmm
Labels: :scroll: CL валиден, Изменение Карты, Керберос

#787 Moff pixel shift fix
  modular_ss220/pixel_shift/code/pixel_shift_mob.dm
Labels: :scroll: CL валиден

#791 Feat: Poster expansion, theme "1984"
  modular_ss220/objects/code/posters.dm
  modular_ss220/objects/icons/posters.dmi
Labels: :scroll: CL валиден, Спрайты

#797 Tweak: Cyberiad garden
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#801 fix: hope to fix title screen this time for sure
  modular_ss220/title_screen/_title_screen.dme
  modular_ss220/title_screen/code/_title_screen_defines.dm
  modular_ss220/title_screen/code/mob.dm
  modular_ss220/title_screen/code/new_player.dm
  modular_ss220/title_screen/code/title_screen_controls.dm
  modular_ss220/title_screen/code/title_screen_html.dm
  modular_ss220/title_screen/code/title_screen_subsystem.dm
  modular_ss220/title_screen/icons/loading_screen.gif
Labels: :scroll: CL валиден

#803 Feat: New hoop sprite
  _maps/map_files220/MetaStation/MetaStation.dmm
  _maps/map_files220/cyberiad/cyberiad.dmm
  modular_ss220/aesthetics/_aesthetics.dme
  modular_ss220/aesthetics/basketball/code/basketball.dm
  modular_ss220/aesthetics/basketball/icons/basketball.dmi
Labels: :scroll: CL валиден, Изменение Карты, Спрайты, Кибериада, Цереброн

#804 Fix: CI errors with access helpers
  _maps/map_files220/MetaStation/MetaStation.dmm
  _maps/map_files220/generic/Lavaland.dmm
Labels: :scroll: CL не требуется, Изменение Карты, Цереброн

#794 translate motd when join game
  code/controllers/subsystem/SSjobs.dm
  code/game/jobs/job/assistant.dm
  code/game/jobs/job/central.dm
  code/game/jobs/job/engineering_jobs.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/medical_jobs.dm
  code/game/jobs/job/science_jobs.dm
  code/game/jobs/job/security_jobs.dm
  code/game/jobs/job/silicon_jobs.dm
  code/game/jobs/job/supervisor.dm
  code/game/jobs/job/support.dm
  code/game/jobs/job/support_chaplain.dm
  code/game/jobs/job/syndicate_jobs.dm
Labels: НЕ МОДУЛЬНО, :pencil: Перевод

#821 Port: Glass shutters
  _maps/map_files220/cyberiad/cyberiad.dmm
  modular_ss220/aesthetics/shutters/code/shutters.dm
  modular_ss220/aesthetics/shutters/icons/shutters_glass.dmi
  modular_ss220/maps220/code/layers.dm
Labels: :scroll: CL валиден, Изменение Карты, Спрайты, Кибериада, :clock12: Ждёт мержа

#818 New ID Skins and little price rebalance
  modular_ss220/loadout/code/donor.dm
  modular_ss220/objects/code/card_skins.dm
  modular_ss220/objects/icons/id_skins.dmi
Labels: :scroll: CL валиден, Спрайты, :clock12: Ждёт мержа

#816 Fix: Newspaper text
  code/modules/newscaster/obj/newspaper.dm
Labels: :scroll: CL валиден, НЕ МОДУЛЬНО, :clock12: Ждёт мержа

#817 Better Instruments sounds
  modular_ss220/objects/_objects.dme
  modular_ss220/objects/code/musician.dm
Labels: :scroll: CL валиден, :clock12: Ждёт мержа

#819 Revert: TTS voice choice list
  modular_ss220/text_to_speech/code/tts_seed.dm
Labels: :scroll: CL валиден, :clock12: Ждёт мержа

#789 Fix: Detective dog collar retrieve & pet carriers mob specify
  modular_ss220/mobs/code/pet_carrier.dm
  modular_ss220/mobs/code/simple_animal/pets/security_dogs.dm
Labels: :scroll: CL валиден, :clock12: Ждёт мержа

#719 Кошели
  code/game/objects/items/weapons/storage/wallets.dm
  modular_ss220/clothing/_clothing.dme
  modular_ss220/clothing/code/wallets.dm
  modular_ss220/clothing/icons/object/wallets.dmi
  modular_ss220/loadout/code/donor.dm
Labels: :scroll: CL валиден, Спрайты, :clock12: Ждёт мержа

#783 Bounty: New donor item "PRS-1"
  modular_ss220/clothing/code/mask.dm
  modular_ss220/clothing/icons/mob/mask.dmi
  modular_ss220/clothing/icons/object/masks.dmi
  modular_ss220/loadout/code/donor.dm
Labels: :scroll: CL валиден, Спрайты, :clock12: Ждёт мержа

#820 Кошачьи ушки для Т2 донов
  modular_ss220/loadout/code/donor.dm
Labels: :scroll: CL валиден

#838 Tweak: Change channel name for discord authorization
  modular_ss220/discord_link/code/discord.dm
Labels: :scroll: CL валиден

#836 FIX: Gategun
  modular_ss220/awaymission_gun/code/items/awaymission_gun.dm
Labels: :scroll: CL валиден

#823 Fix: R&D hallway vents and scrubbers
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада, :clock12: Ждёт мержа

#809 Tweak: Pick Darkness & Ghost Teleport List
  modular_ss220/verbs/code/verbs.dm
Labels: :scroll: CL валиден, :clock12: Ждёт мержа

#841 Fix: Outpost QM's office door to glass type
  _maps/map_files220/generic/Lavaland.dmm
Labels: :scroll: CL валиден, Изменение Карты

#834 Remove squares on floors and some skin tweaks
  modular_ss220/aesthetics/floors/icons/floors.dmi
Labels: :scroll: CL валиден, Спрайты

#831 Tips Translate
  strings/tips.txt
Labels: :scroll: CL валиден

#807 Refactor: Sechailer dispatch
  modular_ss220/sechailer/code/sechailer.dm
  modular_ss220/sechailer/sound/radio_static.ogg
Labels: :scroll: CL валиден, Звук, :clock12: Ждёт мержа

#843 Skin Tweaks
  interface/skin.dmf
  modular_ss220/aesthetics/skin/code/darkmode.dm
Labels: :scroll: CL валиден, :clock12: Ждёт мержа

#842 Fix: Delta mini fixes
  _maps/map_files220/delta/delta.dmm
Labels: :scroll: CL валиден, Изменение Карты, Керберос, :clock12: Ждёт мержа

#854 merge upstream
  .github/workflows/ci.yml
  _maps/map_files/generic/Lavaland.dmm
  code/__DEFINES/color_defines.dm
  code/__HELPERS/trait_helpers.dm
  code/__HELPERS/unsorted.dm
  code/datums/components/proximity_monitor.dm
  code/datums/spells/lichdom.dm
  code/datums/uplink_items/uplink_general.dm
  code/game/machinery/computer/HolodeckControl.dm
  code/game/machinery/deployable.dm
  code/game/machinery/portable_turret.dm
  code/game/machinery/washing_machine.dm
  code/game/objects/buckling.dm
  code/game/objects/items/weapons/extinguisher.dm
  code/game/turfs/simulated/floor/asteroid_floors.dm
  code/game/turfs/simulated/floor/lava.dm
  code/game/turfs/simulated/minerals.dm
  code/game/turfs/simulated/walls_misc.dm
  code/modules/antagonists/changeling/powers/apex_predator.dm
  code/modules/hydroponics/grown/banana.dm
  code/modules/mob/language.dm
  code/modules/mob/living/carbon/human/species/moth.dm
  code/modules/mob/living/living.dm
  code/modules/mob/new_player/sprite_accessories/sprite_accessories.dm
  code/modules/projectiles/gun.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/research/designs/mining_designs.dm
  icons/mob/actions/actions.dmi
  icons/mob/clothing/species/nian/underwear.dmi
  paradise.dme
  tgui/docs/component-reference.md
  tgui/packages/tgui/components/DraggableControl.js
  tgui/packages/tgui/components/NanoMap.js
  tgui/packages/tgui/components/Table.js
  tgui/packages/tgui/interfaces/AccountsUplinkTerminal.js
  tgui/packages/tgui/interfaces/DNAModifier.js
  tgui/packages/tgui/interfaces/Instrument.js
  tgui/packages/tgui/interfaces/MedicalRecords.js
  tgui/packages/tgui/interfaces/OperatingComputer.js
  tgui/packages/tgui/interfaces/SecurityRecords.js
  tgui/packages/tgui/interfaces/common/RecordsTable.js
  tgui/packages/tgui/public/tgui.bundle.css
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/styles/interfaces/AccountsUplinkTerminal.scss
  tgui/packages/tgui/styles/interfaces/MedicalRecords.scss
  tgui/packages/tgui/styles/interfaces/SecurityRecords.scss
  tgui/packages/tgui/styles/interfaces/common/RecordsTable.scss
  tgui/packages/tgui/styles/main.scss
Labels: Документация, :scroll: CL валиден, Изменение Карты, Спрайты, TGUI

#857 tweak: new voices update
  modular_ss220/text_to_speech/code/_defines.dm
  modular_ss220/text_to_speech/code/seeds/silero.dm
Labels: :scroll: CL валиден

#858 tweak: make new silero voices free
  modular_ss220/text_to_speech/code/_defines.dm
  modular_ss220/text_to_speech/code/seeds/silero.dm
Labels: :scroll: CL валиден

#855 Feat: Merge updates for Lavaland from Offs
  _maps/map_files220/generic/Lavaland.dmm
Labels: :scroll: CL валиден, Изменение Карты, :clock12: Ждёт мержа

#847 SpaceRuins gps and decal fixes. Caves air fix.
  _maps/map_files220/RandomRuins/SpaceRuins/convoy_ambush.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/destroyed_infiltrator.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/infected_ship.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/mechtransport_new.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/spacehotel.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/voxraiders_1.dmm
  _maps/map_files220/RandomZLevels/caves.dmm
Labels: :scroll: CL валиден, Изменение Карты

#862 Trying to fix falling tests
  code/controllers/master.dm
Labels: :scroll: CL не требуется, НЕ МОДУЛЬНО

#853 Tweak: Give IPC's they own survival box
  modular_ss220/balance/_balance.dme
  modular_ss220/balance/code/species/machine.dm
  modular_ss220/balance/code/species/nucleation.dm
Labels: :scroll: CL валиден, :clock12: Ждёт мержа

#840 feat: add `antag-mix` gamemode. Add blood brothers
  code/datums/mind.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/_common/antag_team.dm
  config/example/config.toml
  icons/mob/hud/antaghud.dmi
  modular_ss220/_defines220/_defines220.dme
  modular_ss220/_defines220/code/atom_hud.dm
  modular_ss220/_defines220/code/gamemode.dm
  modular_ss220/_defines220/code/role_preferences.dm
  modular_ss220/antagonists/_antagonists.dm
  modular_ss220/antagonists/_antagonists.dme
  modular_ss220/antagonists/code/antag_mix/antag_mix.dm
  modular_ss220/antagonists/code/antag_mix/readme.md
  modular_ss220/antagonists/code/antag_mix/scenarios/antag_scenario.dm
  modular_ss220/antagonists/code/antag_mix/scenarios/antag_team_scenario.dm
  modular_ss220/antagonists/code/antag_mix/scenarios/minor_scenarios.dm
  modular_ss220/antagonists/code/blood_brothers/blood_brothers_datum.dm
  modular_ss220/antagonists/code/blood_brothers/blood_brothers_team.dm
  modular_ss220/antagonists/code/configuration/antag_mix_configuration.dm
  modular_ss220/antagonists/code/mind/memory_edit.dm
  modular_ss220/antagonists/sound/ambience/antag/blood_brothers_intro.ogg
  modular_ss220/modular_ss220.dme
Labels: Документация, :scroll: CL валиден, Требуется изменение конфига, Звук, Спрайты

#866 merge upstream
  code/game/objects/effects/decals/cleanable.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/shoes/magboots.dm
  code/modules/mob/living/carbon/human/human_movement.dm
Labels: :scroll: CL невалиден, НЕ МОДУЛЬНО

#875 Fix: Delta Gamma shuttle arrival
  _maps/map_files220/delta/delta.dmm
Labels: :scroll: CL валиден, Изменение Карты, Керберос

#871 Fix: Delta/brig minor fix
  _maps/map_files220/delta/delta.dmm
Labels: :scroll: CL валиден, Изменение Карты, Керберос

#870 Fix: [Cyberiad] Engie pipe
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#867 Fix: blackmesa fixes and nerfs #2
  _maps/map_files220/RandomZLevels/blackmesa.dmm
  modular_ss220/maps220/code/mobs.dm
  modular_ss220/maps220/icons/simple_human.dmi
Labels: :scroll: CL валиден, Изменение Карты, Спрайты

#864 FIX: Возвращаем спрайты медведям из-за говнокода
  modular_ss220/mobs/icons/mob/animal.dmi
Labels: :scroll: CL валиден, Фикс, Спрайты

#852 Translate species info in character preferences menu
  code/modules/client/preference/preferences.dm
  code/modules/mob/living/carbon/human/species/diona_species.dm
  code/modules/mob/living/carbon/human/species/drask.dm
  code/modules/mob/living/carbon/human/species/grey.dm
  code/modules/mob/living/carbon/human/species/human_species.dm
  code/modules/mob/living/carbon/human/species/kidan.dm
  code/modules/mob/living/carbon/human/species/machine.dm
  code/modules/mob/living/carbon/human/species/monkey.dm
  code/modules/mob/living/carbon/human/species/moth.dm
  code/modules/mob/living/carbon/human/species/plasmaman.dm
  code/modules/mob/living/carbon/human/species/skeleton_species.dm
  code/modules/mob/living/carbon/human/species/skrell.dm
  code/modules/mob/living/carbon/human/species/slimepeople.dm
  code/modules/mob/living/carbon/human/species/tajaran.dm
  code/modules/mob/living/carbon/human/species/unathi.dm
  code/modules/mob/living/carbon/human/species/vox.dm
  code/modules/mob/living/carbon/human/species/vulpkanin.dm
Labels: :scroll: CL валиден, НЕ МОДУЛЬНО, :pencil: Перевод

#874 fix: unathi's whip/s emote
  modular_ss220/emotes/audio/unathi/whip_short_unathi.ogg
  modular_ss220/emotes/audio/unathi/whip_unathi.ogg
  modular_ss220/emotes/code/emote.dm
  modular_ss220/emotes/code/emote_keybindings.dm
  modular_ss220/emotes/code/emote_panel_names.dm
Labels: :scroll: CL валиден, Звук

#877 feat: add `blood brother` to `Check Antagonists`
  code/__DEFINES/hud.dm
  code/datums/mind.dm
  code/modules/admin/player_panel.dm
  modular_ss220/_defines220/_defines220.dme
  modular_ss220/_defines220/code/atom_hud.dm
  modular_ss220/antagonists/_antagonists.dme
  modular_ss220/antagonists/code/blood_brothers/blood_brothers_datum.dm
  modular_ss220/antagonists/code/mind/memory_edit.dm
Labels: :scroll: CL валиден

#878 Add: Drive jacket in donor lodaut
  modular_ss220/loadout/code/donor.dm
Labels: :scroll: CL валиден

#879 refactor: credits
  modular_ss220/credits/code/SScredits.dm
  modular_ss220/credits/code/credits.dm
  modular_ss220/credits/code/halloween_credits.dm
Labels: :scroll: CL невалиден

#881 del: Second Olives
  modular_ss220/hydroponics/code/plants.dm
  modular_ss220/hydroponics/icons/growing.dmi
  modular_ss220/hydroponics/icons/plants.dmi
  modular_ss220/hydroponics/icons/seeds.dmi
Labels: :scroll: CL валиден, Спрайты

#883 merge upstream
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_watcher_grave.dmm
  code/game/machinery/snow_machine.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/client/preference/link_processing.dm
Labels: :scroll: CL валиден, Изменение Карты

#882 FIX: Опыт ролек для открытия после новичковых
  modular_ss220/jobs/code/job/engineering_jobs.dm
  modular_ss220/jobs/code/job/medical_jobs.dm
  modular_ss220/jobs/code/job/science_jobs.dm
  modular_ss220/jobs/code/job/security_jobs.dm
Labels: :scroll: CL валиден

#884 added: new year credits
  config/credits/jobs/new_year_staffjobs.txt
  config/credits/sounds/LICENSE.MD
  config/credits/sounds/new_year_title_music.txt
  config/credits/titles/new_year_titles.txt
  config/credits/titles/random_new_year_titles_masculine_2_1.txt
  config/credits/titles/random_new_year_titles_masculine_2_2.txt
  modular_ss220/cinematics/code/cinematics/credits.dm
  modular_ss220/cinematics/icons/LICENSE.MD
  modular_ss220/cinematics/icons/backdrops.dmi
  modular_ss220/credits/_credits.dme
  modular_ss220/credits/code/SScredits.dm
  modular_ss220/credits/code/credits.dm
  modular_ss220/credits/code/new_year_credits.dm
Labels: :scroll: CL валиден, Требуется изменение конфига, Спрайты

#886 add: tts new voices
  modular_ss220/text_to_speech/code/_defines.dm
  modular_ss220/text_to_speech/code/seeds/silero.dm
Labels: :scroll: CL валиден

#887 fix: names in tts seeds
  modular_ss220/text_to_speech/code/seeds/silero.dm
Labels: :scroll: CL невалиден

#888 Customised Bears no longer invisible
  modular_ss220/mobs/code/simple_animal/hostile/bear.dm
Labels: :scroll: CL валиден

#880 Tweak: Metastation medical department
  _maps/map_files220/MetaStation/MetaStation.dmm
Labels: :scroll: CL валиден, Изменение Карты, Цереброн
