Repository ss220club/Paradise-SS220, pull requests merged in 2023-10, with the labels that each got.

#264 Fix: Medbay landmarks (Cyberiad)
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#265 Fix: Turbine area
  _maps/map_files220/delta/delta.dmm
Labels: :scroll: CL валиден, Изменение Карты, Керберос

#268 Feat: RuPara to OffPara porting script
  tools/UpdatePaths/Scripts/ss220/rupara_to_offpara.txt
Labels: :scroll: CL валиден, Инструменты

#269 Fix: Missing new light construct sprites
  modular_ss220/aesthetics/lights/code/lights.dm
  modular_ss220/aesthetics/lights/icons/lights.dmi
Labels: :scroll: CL валиден, Спрайты

#267 Feat: Sol Traders remap.
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
  _maps/map_files220/generic/centcomm.dmm
  modular_ss220/maps220/code/Areas/station.dm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада, Керберос

#270 Tweak: Floor Sprites (AGAIN)
  modular_ss220/aesthetics/floors/icons/floors.dmi
Labels: :scroll: CL валиден, Спрайты

#271 Feat: Decals additions
  modular_ss220/aesthetics/decals/code/decals.dm
  modular_ss220/aesthetics/decals/icons/number.dmi
  modular_ss220/aesthetics/decals/icons/siding.dmi
  modular_ss220/aesthetics/decals/icons/tile.dmi
Labels: :scroll: CL валиден, Спрайты

#263 Feat: Themis statue
  modular_ss220/unique_objects/code/unique_objects.dm
  modular_ss220/unique_objects/icons/statuelarge.dmi
Labels: :scroll: CL валиден, Спрайты

#251 Remap: Delta med maintenance/med
  _maps/map_files220/delta/delta.dmm
  modular_ss220/aesthetics/boxes/code/boxes.dm
  modular_ss220/maps220/code/Areas/station.dm
  modular_ss220/maps220/code/spawners.dm
  modular_ss220/maps220/icons/spawner_icons.dmi
Labels: Изменение Карты, Спрайты, Керберос

#277 Feat: Cyberiad Brig update 1
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#275 Fix: CC ID Card
  _maps/map_files220/RandomRuins/LavaRuins/scp_facility.dmm
Labels: :scroll: CL валиден, Изменение Карты

#273 FIx: SpaceRuins atmos
  _maps/map_files220/RandomRuins/SpaceRuins/convoy_ambush.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/infected_ship.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/mechtransport_new.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/voxraiders_1.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/whiteship.dmm
Labels: :scroll: CL валиден, Изменение Карты

#279 Ref: Light Prefab Cleanup
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада, Керберос

#281 Feat: Lavaland Modular Map
  _maps/map_files220/generic/Lavaland.dmm
  code/controllers/subsystem/non_firing/SSmapping.dm
Labels: :scroll: CL валиден, Изменение Карты

#282 Feat: Var's to Subtypes script
  modular_ss220/maps220/_maps220.dme
  modular_ss220/maps220/code/directions.dm
  tools/UpdatePaths/Scripts/ss220/vars_to_subtypes.txt
Labels: :scroll: CL валиден, Инструменты

#283 Ref: Var's to Subtypes (PepePizdec)
  _maps/map_files220/RandomRuins/LavaRuins/scp_facility.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/convoy_ambush.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/destroyed_infiltrator.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/infected_ship.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/mechtransport_new.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/spacehotel.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/transit_bar.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/voxraiders_1.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/whiteship.dmm
  _maps/map_files220/RandomZLevels/blackmarketpackers.dmm
  _maps/map_files220/RandomZLevels/gate_lizard.dmm
  _maps/map_files220/RandomZLevels/terrorspiders.dmm
  _maps/map_files220/RandomZLevels/wildwest.dmm
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
  _maps/map_files220/generic/Admin_Zone.dmm
  _maps/map_files220/generic/Lavaland.dmm
  _maps/map_files220/generic/centcomm.dmm
  modular_ss220/maps220/code/directions.dm
Labels: Изменение Карты, Кибериада, Керберос

#286 Tweak: Replace syndie duffelbag (Cyberiad)
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#293 Feat: first TTS update, tiers and voice actualization
  modular_ss220/text_to_speech/code/_defines.dm
  modular_ss220/text_to_speech/code/seeds/silero.dm
Labels: :scroll: CL валиден

#287 Feat: Cyberiad Brig update 2
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#289 Port: Detective from RuPara (From Onyx)
  _maps/map_files220/cyberiad/cyberiad.dmm
  modular_ss220/aesthetics/boxes/icons/boxes.dmi
  modular_ss220/detective_rework/code/machines.dm
  modular_ss220/detective_rework/code/misc_stuff.dm
  modular_ss220/detective_rework/code/sample_kits.dm
  modular_ss220/detective_rework/code/swabs.dm
  modular_ss220/detective_rework/detective_rework.dm
  modular_ss220/detective_rework/detective_rework.dme
  modular_ss220/detective_rework/icons/forensics.dmi
  modular_ss220/detective_rework/icons/items_lefthand.dmi
  modular_ss220/detective_rework/icons/items_righthand.dmi
  modular_ss220/modular_ss220.dme
Labels: Изменение Карты, Спрайты, Кибериада

#288 Feat: Securtity additional accesses on red code
  code/modules/security_levels/security_levels.dm
  modular_ss220/modular_ss220.dme
  modular_ss220/security_redalert_accesses/_security_redalert_accesses.dm
  modular_ss220/security_redalert_accesses/_security_redalert_accesses.dme
  modular_ss220/security_redalert_accesses/code/security_redalert_accesses.dm
Labels: :scroll: CL валиден

#290 Feat: Detective spy spiders
  goon/browserassets/css/browserOutput-dark.css
  goon/browserassets/css/browserOutput.css
  modular_ss220/modular_ss220.dme
  modular_ss220/spy_spider/_spy_spider.dm
  modular_ss220/spy_spider/_spy_spider.dme
  modular_ss220/spy_spider/code/spy_spider.dm
  modular_ss220/spy_spider/icons/spy_spider.dmi
Labels: :scroll: CL валиден, Спрайты

#296 Fix: Cyberiad Engie Accesses
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#301 Fix: Teleporter Room (Cyberiad)
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#304 Fix: Lights direction
  _maps/map_files220/RandomRuins/LavaRuins/scp_facility.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/convoy_ambush.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/destroyed_infiltrator.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/infected_ship.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/mechtransport_new.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/spacehotel.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/transit_bar.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/voxraiders_1.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/whiteship.dmm
  _maps/map_files220/RandomZLevels/blackmarketpackers.dmm
  _maps/map_files220/RandomZLevels/gate_lizard.dmm
  _maps/map_files220/RandomZLevels/terrorspiders.dmm
  _maps/map_files220/RandomZLevels/wildwest.dmm
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
  _maps/map_files220/generic/Admin_Zone.dmm
  _maps/map_files220/generic/Lavaland.dmm
  _maps/map_files220/generic/centcomm.dmm
  modular_ss220/maps220/code/directions.dm
  tools/UpdatePaths/Scripts/ss220/vars_to_subtypes.txt
Labels: :scroll: CL валиден, Изменение Карты, Инструменты, Кибериада, Керберос

#305 Fix: donation amounts
  modular_ss220/donor/code/client_procs.dm
Labels: :scroll: CL валиден

#306 Fix: Card Destroyer Fax
  modular_ss220/bureaucracy/code/photocopier.dm
Labels: :scroll: CL валиден

#214 [TGUI] Jukebox
  _maps/map_files220/generic/centcomm.dmm
  config/jukebox_music/LICENSE.txt
  config/jukebox_music/README.txt
  config/jukebox_music/sounds/Superiority Shimmy+2400+4.ogg
  modular_ss220/jukebox/_jukebox.dm
  modular_ss220/jukebox/_jukebox.dme
  modular_ss220/jukebox/code/jukebox.dm
  modular_ss220/jukebox/icons/jukebox.dmi
  modular_ss220/modular_ss220.dme
  tgui/packages/tgui/interfaces/Jukebox.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: :scroll: CL валиден, Требуется изменение конфига, Изменение Карты, Звук, Спрайты, TGUI

#309 NON MODULAR CRINGE: utf8
  code/game/jobs/job_exp.dm
  code/game/machinery/camera/camera.dm
  code/game/mecha/combat/honker.dm
  code/game/mecha/equipment/tools/medical_tools.dm
  code/game/mecha/mecha_topic.dm
  code/game/objects/items/blueprints.dm
  code/game/objects/items/devices/paicard.dm
  code/game/objects/items/weapons/manuals.dm
  code/modules/admin/outfits.dm
  code/modules/admin/permissionverbs/permissionedit.dm
  code/modules/admin/player_panel.dm
  code/modules/admin/secrets.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/arcade/prize_counter.dm
  code/modules/atmospherics/machinery/other/area_atmos_computer.dm
  code/modules/mob/living/silicon/pai/recruit.dm
  code/modules/mob/mob.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paper_bundle.dm
  code/modules/paperwork/photography.dm
  code/modules/pda/ai_pda.dm
Labels: :scroll: CL валиден, НЕ МОДУЛЬНО

#308 remap delta courtroom magistrate IAA office's
  _maps/map_files220/delta/delta.dmm
Labels: :scroll: CL валиден, Изменение Карты, Керберос

#307 Feat: More interaction sounds
  modular_ss220/aesthetics_sounds/_aesthetics_sounds.dme
  modular_ss220/aesthetics_sounds/code/closet.dm
  modular_ss220/aesthetics_sounds/code/items.dm
  modular_ss220/aesthetics_sounds/sound/handling/drop/accessory.ogg
  modular_ss220/aesthetics_sounds/sound/handling/drop/ammobox.ogg
  modular_ss220/aesthetics_sounds/sound/handling/drop/axe.ogg
  modular_ss220/aesthetics_sounds/sound/handling/drop/backpack.ogg
  modular_ss220/aesthetics_sounds/sound/handling/drop/basketball.ogg
  modular_ss220/aesthetics_sounds/sound/handling/drop/boots.ogg
  modular_ss220/aesthetics_sounds/sound/handling/drop/card.ogg
  modular_ss220/aesthetics_sounds/sound/handling/drop/clothing.ogg
  modular_ss220/aesthetics_sounds/sound/handling/drop/flesh.ogg
  modular_ss220/aesthetics_sounds/sound/handling/drop/generic1.ogg
  modular_ss220/aesthetics_sounds/sound/handling/drop/generic2.ogg
  modular_ss220/aesthetics_sounds/sound/handling/drop/gun.ogg
  modular_ss220/aesthetics_sounds/sound/handling/drop/helmet.ogg
  modular_ss220/aesthetics_sounds/sound/handling/drop/knife.ogg
  modular_ss220/aesthetics_sounds/sound/handling/drop/ring.ogg
  modular_ss220/aesthetics_sounds/sound/handling/drop/shoes.ogg
  modular_ss220/aesthetics_sounds/sound/handling/pickup/accessory.ogg
  modular_ss220/aesthetics_sounds/sound/handling/pickup/ammobox.ogg
  modular_ss220/aesthetics_sounds/sound/handling/pickup/axe.ogg
  modular_ss220/aesthetics_sounds/sound/handling/pickup/backpack.ogg
  modular_ss220/aesthetics_sounds/sound/handling/pickup/basketball.ogg
  modular_ss220/aesthetics_sounds/sound/handling/pickup/boots.ogg
  modular_ss220/aesthetics_sounds/sound/handling/pickup/card.ogg
  modular_ss220/aesthetics_sounds/sound/handling/pickup/clothing.ogg
  modular_ss220/aesthetics_sounds/sound/handling/pickup/flesh.ogg
  modular_ss220/aesthetics_sounds/sound/handling/pickup/generic1.ogg
  modular_ss220/aesthetics_sounds/sound/handling/pickup/generic2.ogg
  modular_ss220/aesthetics_sounds/sound/handling/pickup/generic3.ogg
  modular_ss220/aesthetics_sounds/sound/handling/pickup/gun.ogg
  modular_ss220/aesthetics_sounds/sound/handling/pickup/helmet.ogg
  modular_ss220/aesthetics_sounds/sound/handling/pickup/knife.ogg
  modular_ss220/aesthetics_sounds/sound/handling/pickup/ring.ogg
  modular_ss220/aesthetics_sounds/sound/handling/pickup/shoes.ogg
  modular_ss220/aesthetics_sounds/sound/lock_1.ogg
  modular_ss220/aesthetics_sounds/sound/lock_2.ogg
  modular_ss220/aesthetics_sounds/sound/lock_3.ogg
Labels: :scroll: CL валиден, Звук

#314 Feat: Stutters and slurs speech
  code/modules/mob/mob_misc_procs.dm
Labels: :scroll: CL валиден, Фикс, НЕ МОДУЛЬНО, ПИЗДЕЦ

#317 Fix: Mouse description
  modular_ss220/mobs/code/simple_animal/friendly/mouse.dm
Labels: :scroll: CL валиден

#315 Feat: Ghost offering
  modular_ss220/_modpacks.dm
  modular_ss220/administration/_administration.dm
  modular_ss220/administration/_administration.dme
  modular_ss220/administration/code/randomverbs.dm
  modular_ss220/modular_ss220.dme
Labels: :scroll: CL валиден

#323 Fix: No Terror Escape
  _maps/map_files220/RandomZLevels/terrorspiders.dmm
Labels: :scroll: CL валиден, Изменение Карты

#318 Fix: Awaymissions gate_lizard, mechtransport_new
  _maps/map_files220/RandomRuins/SpaceRuins/mechtransport_new.dmm
  _maps/map_files220/RandomZLevels/gate_lizard.dmm
  modular_ss220/maps220/code/mobs.dm
Labels: :scroll: CL валиден, Изменение Карты

#328 [FEAT] Awaymission gun MK2
  modular_ss220/awaymission_gun/code/items/awaymission_gun.dm
  modular_ss220/awaymission_gun/code/research_designs/weapon_designs.dm
  modular_ss220/awaymission_gun/icons/items/energy.dmi
Labels: :scroll: CL валиден, Спрайты

#334 Feat: Cyberiad update detective's office, part 2
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#329 Fix: Delta virology
  _maps/map_files220/delta/delta.dmm
Labels: :scroll: CL валиден, Изменение Карты, Керберос

#327 [MAP] Добавляем зоопарк на дельту, мелкие правки на Коробке
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада, Керберос

#335 Fix: Whiteship destinations
  _maps/map_files220/RandomRuins/SpaceRuins/whiteship.dmm
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада, Керберос

#330 Fix: Delta kitchen
  _maps/map_files220/delta/delta.dmm
Labels: Изменение Карты, Керберос

#316 feat: minor centcom changes
  _maps/map_files220/generic/centcomm.dmm
  modular_ss220/maps220/_maps220.dme
  modular_ss220/maps220/code/admin.dm
Labels: :scroll: CL валиден, Изменение Карты

#336 Fix: No discord linkage ruin
  modular_ss220/discord_link/code/discord.dm
Labels: :scroll: CL невалиден

#349 Feat: Long range faxes (Cyberiad)
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#343 Fix: Cyberiad vanishing closet
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#338 Feat: Disk croutons
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
  modular_ss220/food/code/food.dm
  modular_ss220/food/icons/food.dmi
  modular_ss220/food/icons/trash.dmi
Labels: :scroll: CL валиден, Изменение Карты, Спрайты, Кибериада, Керберос

#351 Revert: explorer slots
  modular_ss220/gateway/_gateway.dme
  modular_ss220/gateway/code/jobs.dm
Labels: :scroll: CL валиден

#352 Revert: Paradise-SS13 De-Grill PR
  _maps/map_files220/RandomRuins/LavaRuins/scp_facility.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/mechtransport_new.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/spacehotel.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/transit_bar.dmm
  _maps/map_files220/RandomZLevels/blackmarketpackers.dmm
  _maps/map_files220/RandomZLevels/gate_lizard.dmm
  _maps/map_files220/RandomZLevels/terrorspiders.dmm
  _maps/map_files220/RandomZLevels/wildwest.dmm
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
  _maps/map_files220/generic/Lavaland.dmm
  _maps/map_files220/generic/centcomm.dmm
  modular_ss220/aesthetics/windows/icons/spawners.dmi
  tools/UpdatePaths/Scripts/ss220/Re_Grill.txt
Labels: :scroll: CL валиден, Изменение Карты, Спрайты, Инструменты, Кибериада, Керберос

#350 Feat: Closet picklocking
  modular_ss220/aesthetics_sounds/code/closet.dm
  modular_ss220/closet_picklocking/_closet_picklocking.dm
  modular_ss220/closet_picklocking/_closet_picklocking.dme
  modular_ss220/closet_picklocking/code/closet_picklocking.dm
  modular_ss220/modular_ss220.dme
Labels: :scroll: CL валиден

#353 Feat: prime modpacks
  modular_ss220/modular_ss220.dme
Labels: :scroll: CL валиден

#354 fix: fix glide size update for wheechairs
  code/game/atoms_movable.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
Labels: НЕ МОДУЛЬНО

#337 [FEAT] Novice rolls
  modular_ss220/jobs/_jobs.dm
  modular_ss220/jobs/_jobs.dme
  modular_ss220/jobs/code/cards_ids.dm
  modular_ss220/jobs/code/clothing/engineering_clothing.dm
  modular_ss220/jobs/code/clothing/medical_clothing.dm
  modular_ss220/jobs/code/clothing/science_clothing.dm
  modular_ss220/jobs/code/clothing/security_clothing.dm
  modular_ss220/jobs/code/job/engineering_jobs.dm
  modular_ss220/jobs/code/job/medical_jobs.dm
  modular_ss220/jobs/code/job/science_jobs.dm
  modular_ss220/jobs/code/job/security_jobs.dm
  modular_ss220/jobs/code/jobs.dm
  modular_ss220/jobs/icons/clothing/hats.dmi
  modular_ss220/jobs/icons/clothing/mob/head.dmi
  modular_ss220/jobs/icons/clothing/mob/uniform.dmi
  modular_ss220/jobs/icons/clothing/uniforms.dmi
  modular_ss220/jobs/icons/hud.dmi
  modular_ss220/jobs/icons/uniforms.dmi
Labels: :scroll: CL валиден, Спрайты

#355 Tweak: Jukebox tweaks
  modular_ss220/jukebox/code/jukebox.dm
Labels: :scroll: CL валиден

#356 Fix: def value for link
  modular_ss220/discord_link/code/discord.dm
Labels: :scroll: CL невалиден

#358 tweak: spawn 1 traitor per 10 players
  code/game/gamemodes/traitor/traitor.dm
Labels: НЕ МОДУЛЬНО

#359 Translation
  code/modules/security_levels/security_levels.dm
Labels: :scroll: CL валиден, НЕ МОДУЛЬНО

#360 Feat: Cyberiad actualization, part 2
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#361 fix: build now compiles
  code/modules/security_levels/security_levels.dm
  modular_ss220/modular_ss220.dme
Labels: :scroll: CL невалиден

#370 Fix: Locked Emergency pods airlocks (CentComm)
  _maps/map_files220/generic/centcomm.dmm
Labels: :scroll: CL валиден, Изменение Карты

#364 Fix: Cyberiad general fixes
  _maps/map_files220/cyberiad/cyberiad.dmm
  modular_ss220/mobs/code/simple_animal/pets/pet.dm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#367 Fix: space_wildwest
  _maps/map_files220/RandomZLevels/wildwest.dmm
Labels: :scroll: CL валиден, Изменение Карты

#376 fix: forgot to include file
  modular_ss220/balance/_balance.dme
Labels: :scroll: CL невалиден

#365 Fix: Delta general fixes
  _maps/map_files220/delta/delta.dmm
Labels: :scroll: CL валиден, Изменение Карты, Керберос

#374 Del: Terror Spiders Gateway
  _maps/map_files220/RandomZLevels/terrorspiders.dmm
  config/example/config.toml
Labels: :scroll: CL валиден, Требуется изменение конфига, Изменение Карты

#375 Fix: Cargo Disposal
  _maps/map_files220/delta/delta.dmm
Labels: :scroll: CL валиден, Изменение Карты, Керберос

#372 Fix: Cyberiad Areas
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL не требуется, Изменение Карты, Кибериада

#378 Fix: Cargo shuttle conveyor
  _maps/map_files220/generic/centcomm.dmm
Labels: :scroll: CL валиден, Изменение Карты

#379 Fix: Grass opacity fix
  modular_ss220/maps220/code/floors.dm
Labels: :scroll: CL валиден

#381 Revert: Ruina
  modular_ss220/emotes/code/emote_verbs.dm
Labels: :scroll: CL валиден

#386 Fix: awaymission baseturf
  _maps/map_files220/RandomZLevels/gate_lizard.dmm
Labels: :scroll: CL валиден, Изменение Карты

#385 Tweak: Delta Long-range faxes and zippo
  _maps/map_files220/delta/delta.dmm
Labels: Изменение Карты, Керберос

#387 feat: translate ai law sets
  code/datums/ai_law_sets.dm
Labels: НЕ МОДУЛЬНО

#388 Tweak: Delta QM office
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада, Керберос

#390 Feat: Wilhelm scream when you fall into the chasm
  modular_ss220/aesthetics_sounds/_aesthetics_sounds.dme
  modular_ss220/aesthetics_sounds/code/wilhelm.dm
  modular_ss220/aesthetics_sounds/sound/wilhelm_scream.ogg
Labels: :scroll: CL валиден, Звук

#392 Fix: Tesla hits through the wall
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#394 Fix: Patch fix
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада, Керберос

#393 Tweak: Delta brig
  _maps/map_files220/delta/delta.dmm
Labels: Изменение Карты, Керберос

#391 Tweak: Delta expedition room
  _maps/map_files220/delta/delta.dmm
Labels: :scroll: CL валиден, Изменение Карты, Керберос

#402 Del: HoS Mateba
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#403 Feat: Mattress
  modular_ss220/objects/_objects.dme
  modular_ss220/objects/code/mattress.dm
  modular_ss220/objects/icons/mattress.dmi
Labels: :scroll: CL валиден, Спрайты

#405 Fix: wildwest invisible airlocks
  _maps/map_files220/RandomZLevels/wildwest.dmm
Labels: :scroll: CL валиден, Изменение Карты

#406 Fix: Cyberiad overhigh pressure
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#409 Fix: missing modified seed sprite
  modular_ss220/hydroponics/icons/seeds.dmi
Labels: :scroll: CL валиден, Спрайты

#411 Feat: Borya the goat
  _maps/map_files220/cyberiad/cyberiad.dmm
  modular_ss220/mobs/code/simple_animal/named_animals.dm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#418 warden cargo access
  modular_ss220/balance/_balance.dm
  modular_ss220/balance/_balance.dme
  modular_ss220/balance/code/jobs/warden.dm
Labels: :scroll: CL валиден

#417 discord verification on non prod server pepelaugh
  config/example/config.toml
  modular_ss220/_misc/_misc.dm
  modular_ss220/_misc/_misc.dme
  modular_ss220/_misc/code/ss220_general_config.dm
  modular_ss220/discord_link/code/discord.dm
Labels: :scroll: CL валиден, Требуется изменение конфига

#423 Feat: Cyberiad arrivals overhaul
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#415 Fix: Cyberiad waste disposal system
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Фикс, Изменение Карты, Кибериада

#278 add: добавил операцию, по смене голоса
  modular_ss220/text_to_speech/code/tts_seed.dm
Labels: Фича, :scroll: CL валиден

#424 add: Credits
  code/controllers/subsystem/SSticker.dm
  config/credits/jobs/staffjobs.txt
  config/credits/sounds/README.MD
  config/credits/sounds/space_asshole.ogg
  config/credits/sounds/title_music.txt
  config/credits/titles/README.MD
  config/credits/titles/finished_titles.txt
  config/credits/titles/random_titles_crews_learns.txt
  config/credits/titles/random_titles_neuter_2_1.txt
  config/credits/titles/random_titles_neuter_2_2.txt
  config/credits/titles/random_titles_plural_2_1.txt
  config/credits/titles/random_titles_plural_2_2.txt
  modular_ss220/credits/_credits.dm
  modular_ss220/credits/_credits.dme
  modular_ss220/credits/code/SScredits.dm
  modular_ss220/modular_ss220.dme
Labels: Фича, :scroll: CL валиден, Требуется изменение конфига, Звук

#435 fix: make gliding in Zero-G set correctly
  code/controllers/subsystem/SSspacedrift.dm
Labels: НЕ МОДУЛЬНО

#436 hotfix: credits
  code/controllers/subsystem/SSticker.dm
  modular_ss220/credits/code/SScredits.dm
Labels: :scroll: CL валиден

#434 Cinematics widescreen support
  modular_ss220/_defines220/_defines220.dme
  modular_ss220/_defines220/code/cult_defines_ss220.dm
  modular_ss220/_defines220/code/hud_ss220.dm
  modular_ss220/_defines220/code/layers_ss220.dm
  modular_ss220/_misc/_misc.dme
  modular_ss220/_misc/code/global_procs.dm
  modular_ss220/cinematics/_cinematics.dm
  modular_ss220/cinematics/_cinematics.dme
  modular_ss220/cinematics/code/_cinematics.dm
  modular_ss220/cinematics/code/cinematics/malf_doomsday.dm
  modular_ss220/cinematics/code/cinematics/narsie_summon.dm
  modular_ss220/cinematics/code/cinematics/nuke_cinematics.dm
  modular_ss220/cinematics/code/cinematics_client_proc.dm
  modular_ss220/cinematics/code/cinematics_screen.dm
  modular_ss220/cinematics/code/cinematics_ticker.dm
  modular_ss220/modular_ss220.dme
  sound/creatures/narsie_rises.ogg
Labels: :scroll: CL валиден, Звук

#430 Feat: roflguns
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
  modular_ss220/objects/_objects.dme
  modular_ss220/objects/code/closets.dm
  modular_ss220/objects/code/weapons.dm
  modular_ss220/objects/icons/ammo.dmi
  modular_ss220/objects/icons/guns.dmi
  modular_ss220/objects/icons/guns_lefthand.dmi
  modular_ss220/objects/icons/guns_righthand.dmi
Labels: :scroll: CL валиден, Изменение Карты, Спрайты, Кибериада, Керберос

#440 Fix: BMPtraiders active turfs
  _maps/map_files220/RandomZLevels/blackmarketpackers.dmm
Labels: :scroll: CL валиден, Изменение Карты

#439 Translate: Stoopid speech
  code/modules/mob/living/carbon/human/human_life.dm
Labels: :scroll: CL валиден, НЕ МОДУЛЬНО

#443 fix: 127 box
  modular_ss220/objects/code/weapons.dm
Labels: Merge Conflict, :scroll: CL невалиден

#442 FIx: Virusfood (Cyberiad)
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#446 Наполнение ЕРТ автоматов, СРТ, плащ синди офицера, револьверы советов
  modular_ss220/clothing/code/suits.dm
  modular_ss220/clothing/icons/mob/suits.dmi
  modular_ss220/clothing/icons/object/suits.dmi
  modular_ss220/modular_ss220.dme
  modular_ss220/objects/code/weapons.dm
  modular_ss220/outfits/_outfits.dm
  modular_ss220/outfits/_outfits.dme
  modular_ss220/outfits/code/outfits.dm
  modular_ss220/vending/code/vending.dm
Labels: :scroll: CL валиден, Спрайты

#451 Fix: Anaconda sprite
  modular_ss220/objects/code/weapons.dm
  modular_ss220/objects/icons/guns_lefthand.dmi
Labels: :scroll: CL валиден, Спрайты

#447 очередной фикс титров
  code/controllers/subsystem/SSticker.dm
  modular_ss220/cinematics/_cinematics.dme
  modular_ss220/cinematics/code/_cinematics.dm
  modular_ss220/cinematics/code/_defines.dm
  modular_ss220/cinematics/code/cinematics/credits.dm
  modular_ss220/cinematics/code/~undefs.dm
  modular_ss220/credits/code/SScredits.dm
Labels: :scroll: CL валиден

#452 fix: rank check
  modular_ss220/credits/code/SScredits.dm
Labels: :scroll: CL валиден

#455 Revert: TTS whisper
  modular_ss220/text_to_speech/code/hear.dm
Labels: :scroll: CL валиден

#459 Add: anaconda loaders
  modular_ss220/objects/code/closets.dm
Labels: :scroll: CL валиден

#458 feat: add new RSh-12 fire sound
  modular_ss220/objects/code/weapons.dm
  modular_ss220/objects/sound/weapons/gunshots/gunshot_rsh12.ogg
Labels: :scroll: CL валиден, Звук

#463 [MAP] Добавляем пет-вендинг
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада, Керберос

#468 tweak, refactor: корректное вычисление времени титров, замена трека на ремастер
  config/credits/sounds/space_asshole.ogg
  modular_ss220/cinematics/code/cinematics/credits.dm
  modular_ss220/credits/code/SScredits.dm
Labels: :scroll: CL валиден, Требуется изменение конфига, Звук

#467 Feat: Rsh-12 sound overhaul
  modular_ss220/objects/code/weapons.dm
  modular_ss220/objects/sound/weapons/cylinder/reclined_rsh12.ogg
  modular_ss220/objects/sound/weapons/cylinder/snapback_rsh12.ogg
  modular_ss220/objects/sound/weapons/gunshots/gunshot_rsh12.ogg
Labels: :scroll: CL валиден, Звук

#466 [ICON] meteor satellite resprite
  modular_ss220/aesthetics/_aesthetics.dme
  modular_ss220/aesthetics/satellite/code/satellite.dm
  modular_ss220/aesthetics/satellite/icons/satellite.dmi
Labels: :scroll: CL валиден, Спрайты

#460 Tweak: Highres logo in credits
  modular_ss220/credits/icons/logo.dmi
Labels: :scroll: CL валиден, Спрайты

#366 Awaymission: Caves
  _maps/map_files220/RandomZLevels/caves.dmm
  config/example/config.toml
  modular_ss220/aesthetics_sounds/sound/creepy/demon2.ogg
  modular_ss220/maps220/code/Areas/gateway.dm
  modular_ss220/maps220/code/effects.dm
  modular_ss220/maps220/code/mobs.dm
  modular_ss220/maps220/code/objects.dm
  modular_ss220/maps220/code/walls.dm
  modular_ss220/maps220/icons/clown_mobs.dmi
  modular_ss220/maps220/icons/crates.dmi
  modular_ss220/maps220/icons/misc_objects.dmi
  modular_ss220/maps220/icons/simple_human.dmi
  modular_ss220/maps220/icons/syndie_logo.dmi
Labels: :scroll: CL валиден, Требуется изменение конфига, Изменение Карты, Звук, Спрайты

#432 Tweak: gate_lizard light and stuff
  _maps/map_files220/RandomZLevels/gate_lizard.dmm
  modular_ss220/maps220/code/floors.dm
Labels: :scroll: CL валиден, Изменение Карты

#448 Tweak: New Wooden floors
  _maps/map_files220/RandomRuins/SpaceRuins/spacehotel.dmm
  _maps/map_files220/RandomZLevels/beach.dmm
  _maps/map_files220/RandomZLevels/blackmarketpackers.dmm
  _maps/map_files220/RandomZLevels/caves.dmm
  _maps/map_files220/RandomZLevels/gate_lizard.dmm
  _maps/map_files220/RandomZLevels/wildwest.dmm
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
  _maps/map_files220/generic/Admin_Zone.dmm
  _maps/map_files220/generic/Lavaland.dmm
  _maps/map_files220/generic/centcomm.dmm
  modular_ss220/aesthetics/_aesthetics.dm
  modular_ss220/aesthetics/_aesthetics.dme
  modular_ss220/aesthetics/floors/code/floors.dm
  modular_ss220/aesthetics/floors/code/tile_types.dm
  modular_ss220/aesthetics/floors/icons/floors.dmi
  modular_ss220/aesthetics/floors/icons/tiles.dmi
Labels: :scroll: CL валиден, Изменение Карты, Спрайты, Кибериада, Керберос

#472 fix: show title properly, on `new_player` init
  modular_ss220/title_screen/code/new_player.dm
Labels: :scroll: CL валиден

#471 refactor: cleanup new revolvers a bit
  modular_ss220/objects/code/weapons.dm
  modular_ss220/objects/icons/guns.dmi
  modular_ss220/objects/sound/weapons/gunshots/gunshot_anaconda.ogg
  modular_ss220/objects/sound/weapons/gunshots/gunshot_rsh12.ogg
  modular_ss220/outfits/code/outfits.dm
Labels: :scroll: CL валиден, Звук, Спрайты

#473 fix: ds link
  modular_ss220/discord_link/code/discord.dm
Labels: :scroll: CL невалиден

#474 costil: adds `show_title_screen` to new_player/Login(), as well as to new_player/Initialize()
  modular_ss220/title_screen/code/new_player.dm
Labels: :scroll: CL валиден

#480 tweak: Позволяет клиентам ходить во время титров
  modular_ss220/cinematics/code/_cinematics.dm
  modular_ss220/cinematics/code/_defines.dm
  modular_ss220/cinematics/code/cinematics/credits.dm
  modular_ss220/cinematics/code/cinematics_client_proc.dm
  modular_ss220/cinematics/code/~undefs.dm
  modular_ss220/credits/code/SScredits.dm
Labels: :scroll: CL валиден

#481 Translate: Skeleton stand-up
  code/modules/mob/living/carbon/human/species/skeleton_species.dm
  modular_ss220/discord_link/code/discord.dm
  modular_ss220/title_screen/code/new_player.dm
Labels: :scroll: CL валиден, НЕ МОДУЛЬНО

#478 Fix: Tesla hits through the wall
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Фикс, Изменение Карты, Кибериада

#482 Translation fix
  modular_ss220/keybindings/code/human_keybinds.dm
Labels: :scroll: CL валиден

#483 fix: book charset
  code/modules/library/book.dm
Labels: :scroll: CL валиден, НЕ МОДУЛЬНО

#488 fix modcontrol fast equip
  modular_ss220/smart_equip_targeted/code/smart_equip_targeted.dm
Labels: :scroll: CL валиден

#489 Fix: Cyberiad pack of fixes
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#453 [OPTIONAL, TGUI] Emote panel
  modular_ss220/emotes/_emotes.dm
  modular_ss220/emotes/_emotes.dme
  modular_ss220/emotes/code/emote.dm
  modular_ss220/emotes/code/emote_keybindings.dm
  modular_ss220/emotes/code/emote_panel.dm
  modular_ss220/emotes/code/emote_panel_names.dm
  modular_ss220/emotes/code/emote_translations.dm
  modular_ss220/mobs/code/simple_animal/friendly/frog.dm
  modular_ss220/mobs/code/simple_animal/hostile/syndi_rat.dm
  modular_ss220/mobs/code/simple_animal/pets/rouge.dm
  tgui/packages/tgui/interfaces/EmotePanel.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI

#498 Fix: Delta robotics waste disposal system
  _maps/map_files220/delta/delta.dmm
Labels: :scroll: CL валиден, Изменение Карты, Керберос

#437 Tweak: TTS core actualization
  modular_ss220/text_to_speech/code/tts_subsystem.dm
Labels: :scroll: CL валиден

#213 Feat: NanoMap for Camera Console
  modular_ss220/camera_nanomap/README.md
  modular_ss220/camera_nanomap/camera.dm
  modular_ss220/camera_nanomap/camera.dme
  modular_ss220/camera_nanomap/code/camera.dm
  modular_ss220/modular_ss220.dme
  tgui/packages/tgui/components/ByondUi.js
  tgui/packages/tgui/components/NanoMap.js
  tgui/packages/tgui/interfaces/CameraConsole220.js
  tgui/packages/tgui/public/tgui.bundle.css
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/styles/components/NanoMap.scss
  tgui/packages/tgui/styles/interfaces/CameraConsole.scss
Labels: Документация, Фича, :scroll: CL валиден, TGUI

#487 Fix: Caves active turf
  _maps/map_files220/RandomZLevels/caves.dmm
Labels: :scroll: CL валиден, Изменение Карты

#492 Increases world.view from 15x15 to 19x19
  modular_ss220/modular_ss220.dme
  modular_ss220/world_view_bigger/_world_view_bigger.dm
  modular_ss220/world_view_bigger/_world_view_bigger.dme
  modular_ss220/world_view_bigger/code/world_view_bigger.dm
Labels: :scroll: CL валиден

#503 Tweak: Default TTS sound is now more "neutral"
  modular_ss220/mobs/code/simple_animal/overrides.dm
  modular_ss220/text_to_speech/code/base_seeds/mobs/_base.dm
Labels: :scroll: CL валиден

#507 Tweak: APC subtypes
  _maps/map_files220/RandomRuins/SpaceRuins/infected_ship.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/spacehotel.dmm
  _maps/map_files220/RandomZLevels/gate_lizard.dmm
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
  modular_ss220/maps220/code/directions.dm
  tools/UpdatePaths/Scripts/ss220/vars_to_subtypes.txt
Labels: :scroll: CL не требуется, Изменение Карты, Инструменты, Кибериада, Керберос

#506 Sprite: Soap
  modular_ss220/aesthetics/soap/code/soap.dm
  modular_ss220/aesthetics/soap/icons/soap.dmi
Labels: :scroll: CL валиден, Спрайты

#504 fix: Credits
  modular_ss220/cinematics/code/cinematics/credits.dm
  modular_ss220/credits/code/SScredits.dm
Labels: :scroll: CL валиден

#502 Lavaland Necropolis
  _maps/map_files220/generic/Lavaland.dmm
  modular_ss220/maps220/code/Areas/away.dm
Labels: :scroll: CL валиден, Изменение Карты

#499 [FEAT] Silicon barriers
  modular_ss220/modular_ss220.dme
  modular_ss220/silicons/_silicons.dm
  modular_ss220/silicons/_silicons.dme
  modular_ss220/silicons/code/robot_modules.dm
Labels: :scroll: CL валиден

#497 [PORT FEAT] Borg Hats
  modular_ss220/modular_ss220.dme
  modular_ss220/silicon_hats/_silicon_hats.dm
  modular_ss220/silicon_hats/_silicon_hats.dme
  modular_ss220/silicon_hats/code/silicon_hats.dm
  modular_ss220/silicon_hats/code/silicon_interactions.dm
Labels: :scroll: CL валиден

#515 Feat: translation tool
  .github/workflows/auto_translate.yml
  .github/workflows/translate_branch_update.yml
  tools/translator/converter.py
  tools/translator/requirements.txt
  tools/translator/ss220_replacer_linux
  tools/translator/ss220_replacer_windows.exe
  tools/translator/ss220replace.json
Labels: Инструменты

#523 Wip: translate - chmod +x
  tools/translator/ss220_replacer_linux
  tools/translator/ss220_replacer_windows.exe
Labels: Инструменты

#493 modpacks tgui + search
  modular_ss220/_modpacks.dm
  tgui/packages/tgui/interfaces/ModpacksList.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: :scroll: CL валиден, TGUI

#526 Wip translation: KINDA THIS
  .github/workflows/auto_translate.yml
  tools/translator/converter.py
Labels: Инструменты

#516 refactor: credits
  modular_ss220/credits/_credits.dme
  modular_ss220/credits/code/SScredits.dm
  modular_ss220/credits/code/credits.dm
Labels: :scroll: CL невалиден

#517 TWEAK: Exosuit paintkits
  modular_ss220/mecha_skins/code/fabricator_design.dm
  modular_ss220/mecha_skins/code/mecha.dmi
  modular_ss220/mecha_skins/code/paintkit.dmi
  modular_ss220/mecha_skins/code/paintkit_install.dm
  modular_ss220/mecha_skins/code/paintkit_menu.dm
  modular_ss220/mecha_skins/mecha_skins.dm
  modular_ss220/mecha_skins/mecha_skins.dme
  modular_ss220/modular_ss220.dme
Labels: :scroll: CL невалиден, Спрайты

#514 стенки и бластдоры
  _maps/map_files220/RandomZLevels/blackmarketpackers.dmm
Labels: :scroll: CL валиден, Изменение Карты

#534 Fix: Remove BeeCase from (Cyberiad)
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: Изменение Карты, Кибериада

#513 [FEAT] Port borg upgrades
  modular_ss220/silicons/_silicons.dme
  modular_ss220/silicons/code/items/gripper.dm
  modular_ss220/silicons/code/items/rlf.dm
  modular_ss220/silicons/code/mechfabricator_designs.dm
  modular_ss220/silicons/code/robot_items.dm
  modular_ss220/silicons/code/robot_modules.dm
  modular_ss220/silicons/code/robot_upgrades.dm
  modular_ss220/silicons/icons/robot_tools.dmi
Labels: :scroll: CL валиден, Спрайты

#537 Fix: Path fixes
  _maps/map_files220/RandomZLevels/caves.dmm
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
  _maps/map_files220/generic/Lavaland.dmm
Labels: Изменение Карты, Кибериада, Керберос

#542 Tweak: Return exile implant, fix archive icon
  _maps/map_files220/RandomZLevels/caves.dmm
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
  modular_ss220/gateway/code/exile.dm
  modular_ss220/objects/code/miscellaneous.dm
Labels: Изменение Карты, Кибериада, Керберос

#540 Fix: Transit tubes, Lavaland outpost "cleanup"
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
  _maps/map_files220/generic/Lavaland.dmm
Labels: Изменение Карты, Кибериада, Керберос
