Repository ss220club/Paradise-SS220, pull requests merged in 2023-09, with the labels that each got.

#152 SpaceRuin - Destroyed Infiltrator
  _maps/map_files220/RandomRuins/SpaceRuins/destroyed_infiltrator.dmm
  config/example/config.toml
  modular_ss220/_maps220/code/RandomRuins/space_ruins.dm
Labels: :scroll: CL валиден

#148 feat: Photocopier blanks and TGUI port (Rebased)
  modular_ss220/bureaucracy/_bureaucracy.dm
  modular_ss220/bureaucracy/_bureaucracy.dme
  modular_ss220/bureaucracy/code/forms.dm
  modular_ss220/bureaucracy/code/paper.dm
  modular_ss220/bureaucracy/code/photocopier.dm
  modular_ss220/modular_ss220.dme
  tgui/packages/tgui/interfaces/Photocopier220.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: help wanted, :scroll: CL валиден

#162 Remap: Delta Engineering
  _maps/map_files220/delta/delta.dmm
  modular_ss220/_maps220/code/Areas/station.dm
Labels: :scroll: CL валиден

#185 SpaceRuin - Convoy Ambush
  _maps/map_files220/RandomRuins/SpaceRuins/convoy_ambush.dmm
  config/example/config.toml
  modular_ss220/_maps220/code/RandomRuins/space_ruins.dm
Labels: :scroll: CL валиден

#186 Cyberiad: Engineering & South (partly) remap
  _maps/map_files220/cyberiad/cyberiad.dmm
  modular_ss220/_maps220/code/Areas/station.dm
Labels: :scroll: CL валиден

#180 Add: More UI's
  code/__HELPERS/type2type.dm
  code/modules/client/preference/link_processing.dm
  code/modules/client/preference/preferences_mysql.dm
  modular_ss220/aesthetics/skin/icons/screen_clockwork.dmi
  modular_ss220/aesthetics/skin/icons/screen_detective.dmi
  modular_ss220/aesthetics/skin/icons/screen_trasenknox.dmi
  modular_ss220/aesthetics/skin/icons/screen_vaporwave.dmi
Labels: :scroll: CL валиден

#178 Add: Platforms
  modular_ss220/modular_ss220.dme
  modular_ss220/objects/_objects.dm
  modular_ss220/objects/_objects.dme
  modular_ss220/objects/code/platform.dm
  modular_ss220/objects/icons/platform.dmi
Labels: :scroll: CL валиден

#190 SpaceRuin - White Ship
  _maps/map_files220/RandomRuins/SpaceRuins/whiteship.dmm
  config/example/config.toml
  modular_ss220/_maps220/code/RandomRuins/space_ruins.dm
  modular_ss220/_maps220/code/mobs.dm
Labels: :scroll: CL валиден

#189 Cyberiad: Engineering fixes by requests
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден

#194 fix: gateways
  modular_ss220/gateway/code/gateway.dm
Labels: :scroll: CL невалиден

#193 fix: Piano direction
  modular_ss220/aesthetics/piano/icons/piano.dmi
Labels: :scroll: CL валиден, Фикс, Спрайты

#195 Tweak: para wishgranter
  _maps/map_files220/RandomZLevels/wildwest.dmm
  modular_ss220/maps220/_maps220.dm
  modular_ss220/maps220/_maps220.dme
  modular_ss220/maps220/code/Areas/away.dm
  modular_ss220/maps220/code/Areas/gateway.dm
  modular_ss220/maps220/code/Areas/station.dm
  modular_ss220/maps220/code/RandomRuins/lavaland_ruins.dm
  modular_ss220/maps220/code/RandomRuins/space_ruins.dm
  modular_ss220/maps220/code/Station/cyberiad.dm
  modular_ss220/maps220/code/Station/delta.dm
  modular_ss220/maps220/code/corpses.dm
  modular_ss220/maps220/code/helpers.dm
  modular_ss220/maps220/code/misc.dm
  modular_ss220/maps220/code/mobs.dm
  modular_ss220/maps220/code/spawners.dm
  modular_ss220/maps220/code/walls.dm
  modular_ss220/maps220/icons/mapping_helpers.dmi
  modular_ss220/maps220/icons/simple_human.dmi
  modular_ss220/maps220/icons/spawner_icons.dmi
  modular_ss220/modular_ss220.dme
Labels: Функционал, :scroll: CL валиден, Фикс, Изменение Карты

#177 Remap: Delta service
  _maps/map_files220/delta/delta.dmm
Labels: Керберос

#196 SpaceRuin: Small Skipjack
  _maps/map_files220/RandomRuins/SpaceRuins/voxraiders_1.dmm
  config/example/config.toml
  modular_ss220/maps220/code/RandomRuins/space_ruins.dm
  modular_ss220/maps220/code/mobs.dm
  modular_ss220/maps220/icons/simple_human.dmi
Labels: :scroll: CL валиден, Требуется изменение конфига, Изменение Карты

#188 feat: FoodPorn
  code/modules/crafting/craft.dm
  modular_ss220/emotes/audio/fart.ogg
  modular_ss220/emotes/code/emote.dm
  modular_ss220/emotes/code/emote_translations.dm
  modular_ss220/food/_food.dme
  modular_ss220/food/code/food.dm
  modular_ss220/food/code/ingredients.dm
  modular_ss220/food/icons/containers.dmi
  modular_ss220/food/icons/food.dmi
  modular_ss220/hydroponics/code/plants.dm
  modular_ss220/hydroponics/icons/growing.dmi
  modular_ss220/hydroponics/icons/plants.dmi
  modular_ss220/hydroponics/icons/seeds.dmi
Labels: Функционал, :scroll: CL валиден, Требуется изменение WIKI, Спрайты

#201 fix: Missing floor sprites
  _maps/map_files220/generic/centcomm.dmm
  modular_ss220/aesthetics/floors/icons/floors.dmi
Labels: :scroll: CL валиден

#200 Delta: APC and Central Hall Areas fix
  _maps/map_files220/delta/delta.dmm
Labels: Фикс, Керберос

#207 fix: Rebase map fixes
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
  modular_ss220/aesthetics/decals/code/decals.dm
  modular_ss220/maps220/code/Areas/station.dm
Labels: :scroll: CL не требуется, Фикс, Кибериада, Керберос

#212 Feat: labeler
  .github/labeler.yml
  .github/workflows/label.yml
Labels: :scroll: CL не требуется

#226 Feat: NT Recruiter game (Cyberiad)
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#227 Fix: Immortality for everyone
  modular_ss220/maps220/code/misc.dm
Labels: :scroll: CL невалиден

#228 Tweak: moved ss220 sql edits to the down of the parascheme
  SQL/paradise_schema.sql
Labels: :scroll: CL не требуется, SQL

#229 Mpacks-things
  modular_ss220/README.md
  modular_ss220/_modpacks.dm
  modular_ss220/create_modpack.bat
Labels: Документация, :scroll: CL не требуется

#231 New multi-tile airlocks
  modular_ss220/aesthetics/airlocks/code/airlock_assembly_types.dm
  modular_ss220/aesthetics/airlocks/code/airlock_types.dm
  modular_ss220/aesthetics/airlocks/icons/glass_large/atmospheric_glass_large.dmi
  modular_ss220/aesthetics/airlocks/icons/glass_large/command_glass_large.dmi
  modular_ss220/aesthetics/airlocks/icons/glass_large/engineering_glass_large.dmi
  modular_ss220/aesthetics/airlocks/icons/glass_large/security_glass_large.dmi
Labels: :scroll: CL валиден, Спрайты

#232 Fix: mechtransport_new
  _maps/map_files220/RandomRuins/SpaceRuins/mechtransport_new.dmm
Labels: :scroll: CL валиден, Изменение Карты

#218 Feat: Port some of RuPara objects, part 1
  modular_ss220/aesthetics/_aesthetics.dme
  modular_ss220/aesthetics/stamps/code/stamps.dm
  modular_ss220/aesthetics/stamps/icons/paper_icons/large_stamp-BIGdeny.png
  modular_ss220/aesthetics/stamps/icons/paper_icons/large_stamp-mime.png
  modular_ss220/aesthetics/stamps/icons/paper_icons/large_stamp-navcom.png
  modular_ss220/aesthetics/stamps/icons/paper_icons/large_stamp-ploho.png
  modular_ss220/aesthetics/stamps/icons/paper_icons/large_stamp-ussp.png
  modular_ss220/aesthetics/stamps/icons/paper_icons/large_stamp-ward.png
  modular_ss220/aesthetics/stamps/icons/paper_icons/ussplogo.png
  modular_ss220/aesthetics/stamps/icons/stamps.dmi
  modular_ss220/aesthetics/zippo/code/zippo.dm
  modular_ss220/aesthetics/zippo/icons/items_lefthand.dmi
  modular_ss220/aesthetics/zippo/icons/items_righthand.dmi
  modular_ss220/aesthetics/zippo/icons/zippo.dmi
  modular_ss220/objects/_objects.dm
  modular_ss220/objects/_objects.dme
  modular_ss220/objects/code/miscellaneous.dm
  modular_ss220/objects/code/officetoys.dm
  modular_ss220/objects/code/papershredder.dm
  modular_ss220/objects/code/tribune.dm
  modular_ss220/objects/icons/officetoys.dmi
  modular_ss220/objects/icons/papershredder.dmi
  modular_ss220/objects/icons/tribune.dmi
  modular_ss220/objects/sound/officetoys/buttonclick.ogg
  modular_ss220/objects/sound/officetoys/fan_end.ogg
  modular_ss220/objects/sound/officetoys/fan_mid1.ogg
  modular_ss220/objects/sound/officetoys/fan_start.ogg
  modular_ss220/objects/sound/officetoys/microfan.ogg
  modular_ss220/objects/sound/officetoys/newtoncradle.ogg
  modular_ss220/objects/sound/officetoys/newtoncradle_mid1.ogg
  modular_ss220/objects/sound/pshred.ogg
  modular_ss220/unique_objects/code/unique_objects.dm
  modular_ss220/unique_objects/icons/delta.dmi
Labels: :scroll: CL валиден, Звук, Спрайты

#221 Feat: Radio overhaul
  modular_ss220/devices/_devices.dme
  modular_ss220/devices/code/items/radio.dm
  modular_ss220/devices/icons/radio.dmi
Labels: :scroll: CL валиден, Спрайты

#234 Feat: Reorganize and fix airlocks
  modular_ss220/aesthetics/airlocks/code/airlock_assembly_types.dm
  modular_ss220/aesthetics/airlocks/code/airlock_types.dm
Labels: :scroll: CL валиден

#233 Delta dorms bedrooms and barber relocation
  _maps/map_files220/delta/delta.dmm
Labels: :scroll: CL валиден, Изменение Карты, Керберос

#220 Awaymission: Jungle Planet
  _maps/map_files220/RandomZLevels/gate_lizard.dmm
  config/example/config.toml
  modular_ss220/aesthetics/decals/code/decals.dm
  modular_ss220/aesthetics/decals/icons/grass.dmi
  modular_ss220/aesthetics_sounds/sound/area_ambient/ambient_pulse1.ogg
  modular_ss220/aesthetics_sounds/sound/area_ambient/ambient_pulse2.ogg
  modular_ss220/aesthetics_sounds/sound/area_ambient/cave_ambient1.ogg
  modular_ss220/aesthetics_sounds/sound/area_ambient/cave_ambient2.ogg
  modular_ss220/aesthetics_sounds/sound/area_ambient/cave_ambient3.ogg
  modular_ss220/aesthetics_sounds/sound/area_ambient/cave_waterdrops.ogg
  modular_ss220/aesthetics_sounds/sound/area_ambient/cave_waterfall.ogg
  modular_ss220/aesthetics_sounds/sound/area_ambient/jungle1.ogg
  modular_ss220/aesthetics_sounds/sound/area_ambient/jungle2.ogg
  modular_ss220/aesthetics_sounds/sound/area_ambient/jungle3.ogg
  modular_ss220/aesthetics_sounds/sound/area_ambient/river.ogg
  modular_ss220/aesthetics_sounds/sound/area_ambient/waterfall.ogg
  modular_ss220/maps220/_maps220.dme
  modular_ss220/maps220/code/Areas/gateway.dm
  modular_ss220/maps220/code/effects.dm
  modular_ss220/maps220/code/floors.dm
  modular_ss220/maps220/code/mobs.dm
  modular_ss220/maps220/code/objects.dm
  modular_ss220/maps220/code/walls.dm
  modular_ss220/maps220/icons/bookcase_wall.dmi
  modular_ss220/maps220/icons/crates.dmi
  modular_ss220/maps220/icons/effects.dmi
  modular_ss220/maps220/icons/floors.dmi
  modular_ss220/maps220/icons/simple_human.dmi
  modular_ss220/maps220/icons/trees.dmi
Labels: :scroll: CL валиден, Требуется изменение конфига, Изменение Карты, Звук, Спрайты

#235 Feat: Actualization of the Cyberiad, part 1
  _maps/map_files220/cyberiad/cyberiad.dmm
  modular_ss220/objects/code/platform.dm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#237 New: Delta gateway
  _maps/map_files220/delta/delta.dmm
Labels: Изменение Карты, Керберос

#238 Feat: Add more items that wallets can hold
  modular_ss220/objects/code/miscellaneous.dm
Labels: :scroll: CL валиден

#243 feat: SCP Facility (Lavaland ruin)
  _maps/map_files220/RandomRuins/LavaRuins/scp_facility.dmm
  config/example/config.toml
  modular_ss220/food/code/food.dm
  modular_ss220/maps220/_maps220.dme
  modular_ss220/maps220/code/RandomRuins/lavaland_ruins.dm
  modular_ss220/maps220/code/floors.dm
  modular_ss220/maps220/code/mobs.dm
  modular_ss220/maps220/code/papers.dm
  modular_ss220/maps220/icons/simple_human.dmi
Labels: :scroll: CL валиден, Требуется изменение конфига, Изменение Карты, Спрайты

#245 tweak: QM id and mod spawner sprite
  modular_ss220/aesthetics/better_ids/icons/better_ids.dmi
  modular_ss220/maps220/code/spawners.dm
  modular_ss220/maps220/icons/spawner_icons.dmi
Labels: :scroll: CL валиден, Спрайты

#246 Feat: tts change for synths, cling, ert
  modular_ss220/text_to_speech/_tts.dme
  modular_ss220/text_to_speech/code/seeds/base.dm
  modular_ss220/text_to_speech/code/tts_seed.dm
Labels: :scroll: CL валиден

#175 Feat: parashiz don
  SQL/updates220/51.220.4-51.220.5.sql
  code/__DEFINES/misc_defines.dm
  config/example/config.toml
  modular_ss220/donor/_donor.dm
  modular_ss220/donor/_donor.dme
  modular_ss220/donor/code/client_procs.dm
  modular_ss220/modular_ss220.dme
Labels: :scroll: CL валиден, Требуется изменение конфига, SQL

#247 Feat: Interrogation room (Cyberiad)
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#252 Feat: tgs yml config
  .tgs.yml
Labels: :scroll: CL не требуется

#254 Ref: rustg220
  modular_ss220/text_to_speech/code/rust_g_ss220.dm
  modular_ss220/text_to_speech/code/tts_subsystem.dm
  modular_ss220/text_to_speech/code/~undefs/~undefs.dm
Labels: :scroll: CL невалиден

#256 Feat: auto rustg buildd in tgs
  .tgs.yml
  tools/tgs_scripts/InstallDeps.sh
  tools/tgs_scripts/PreCompile.sh
  tools/tgs_scripts/WatchdogLaunch.sh
Labels: :scroll: CL не требуется, Инструменты

#257 Fix: Imagine not coding at nights
  tools/tgs_scripts/PreCompile.sh
Labels: Инструменты

#244 GenericMap: SyndicateCentComm
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
  _maps/map_files220/generic/centcomm.dmm
  modular_ss220/maps220/code/Areas/station.dm
  modular_ss220/maps220/code/effects.dm
  modular_ss220/maps220/code/floors.dm
  modular_ss220/maps220/code/objects.dm
  modular_ss220/maps220/code/spawners.dm
  modular_ss220/maps220/icons/2x2.dmi
  modular_ss220/maps220/icons/3x3.dmi
  modular_ss220/maps220/icons/areas.dmi
  modular_ss220/maps220/icons/chairs.dmi
  modular_ss220/maps220/icons/decals.dmi
  modular_ss220/maps220/icons/machinery.dmi
  modular_ss220/maps220/icons/mecha.dmi
  modular_ss220/maps220/icons/shuttle.dmi
  modular_ss220/maps220/icons/spawner_icons.dmi
  modular_ss220/maps220/icons/syndie_logo.dmi
Labels: :scroll: CL валиден, Изменение Карты, Спрайты, Кибериада, Керберос

#258 Fix: More-tgs-fixes
  tools/tgs_scripts/InstallDeps.sh
  tools/tgs_scripts/PreCompile.sh
Labels: :scroll: CL не требуется, Инструменты

#249 Fix: gate_lizard
  _maps/map_files220/RandomZLevels/gate_lizard.dmm
  modular_ss220/maps220/code/mobs.dm
Labels: :scroll: CL валиден, Изменение Карты

#260 Feat: Fake Lights
  _maps/map_files220/generic/centcomm.dmm
  modular_ss220/maps220/code/objects.dm
Labels: :scroll: CL валиден, Изменение Карты

#262 Feat: Sprites overhaul (penlight, igniter, handtele, geiger)
  modular_ss220/aesthetics/_aesthetics.dme
  modular_ss220/aesthetics/goonstation/LICENSE.md
  modular_ss220/aesthetics/goonstation/code/items.dm
  modular_ss220/aesthetics/goonstation/icons/geiger.dmi
  modular_ss220/aesthetics/goonstation/icons/hand_tele.dmi
  modular_ss220/aesthetics/goonstation/icons/igniter.dmi
  modular_ss220/aesthetics/goonstation/icons/items_lefthand.dmi
  modular_ss220/aesthetics/goonstation/icons/items_righthand.dmi
  modular_ss220/aesthetics/goonstation/icons/penlight.dmi
Labels: Документация, :scroll: CL валиден, Спрайты
