Repository ss220club/Paradise-SS220, pull requests merged in 2023-07, with the labels that each got.

#6 Feat: modular 220
  modular_ss220/README.md
  modular_ss220/_modpack.dm
  modular_ss220/_modpacks.dm
  modular_ss220/example/_example.dm
  modular_ss220/example/_example.dme
  modular_ss220/example/code/example.dm
  modular_ss220/modular_ss220.dme
  paradise.dme
Labels: enhancement, good first issue

#12 Keybindings220
  modular_ss220/keybindings/_keybindings.dm
  modular_ss220/keybindings/_keybindings.dme
  modular_ss220/keybindings/code/admin_keybinds.dm
  modular_ss220/keybindings/code/carbon_keybinds.dm
  modular_ss220/keybindings/code/client.dm
  modular_ss220/keybindings/code/emote_keybinds.dm
  modular_ss220/keybindings/code/human_keybinds.dm
  modular_ss220/keybindings/code/living_keybinds.dm
  modular_ss220/keybindings/code/mob_keybinds.dm
  modular_ss220/keybindings/code/movement_keybinds.dm
  modular_ss220/keybindings/code/robot_keybinds.dm
  modular_ss220/keybindings/code/silicon_keybinds.dm
  modular_ss220/modular_ss220.dme
Labels: Merge Conflict

#34 [FEAT] Device scanners
  modular_ss220/devices/_devices.dm
  modular_ss220/devices/_devices.dme
  modular_ss220/devices/code/items/scanners.dm
  modular_ss220/devices/code/research_designs/equipment_designs.dm
  modular_ss220/devices/icons/device.dmi
  modular_ss220/devices/icons/inhands/items_lefthand.dmi
  modular_ss220/devices/icons/inhands/items_righthand.dmi
  modular_ss220/modular_ss220.dme
Labels: Merge Conflict

#65 FEAT: Sechailer
  modular_ss220/modular_ss220.dme
  modular_ss220/sechailer/code/sechailer.dm
  modular_ss220/sechailer/icons/menu.dmi
  modular_ss220/sechailer/icons/sechailer.dmi
  modular_ss220/sechailer/sechailer.dme
  modular_ss220/sechailer/sound/dispatch_please_respond.ogg
Labels: Merge Conflict

#102 Feat: New Space Law event
  code/modules/events/new_space_laws.dm
  modular_ss220/events/_events.dm
  modular_ss220/events/_events.dme
  modular_ss220/events/code/new_space_laws.dm
  modular_ss220/modular_ss220.dme
  paradise.dme
  strings/new_space_laws.txt
Labels: :scroll: CL валиден

#98 Refactor: Pipes and cables (Cyberiad) [Remake]
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден

#105 Tweak: New Space Law goes full modularity
  code/modules/events/new_space_laws.dm
  modular_ss220/events/code/new_space_laws.dm
  paradise.dme
Labels: :scroll: CL валиден

#110 Fix: different small issues
  modular_ss220/emotes/audio/salute.ogg
  modular_ss220/emotes/code/emote_translations.dm
  modular_ss220/text_to_speech/code/configuration.dm
  modular_ss220/text_to_speech/code/tts_provider.dm
  modular_ss220/text_to_speech/code/tts_subsystem.dm
Labels: :scroll: CL невалиден

#113 Fix: cl check regexp
  tools/changelog/check_changelog.py
Labels: :scroll: CL не требуется
