Repository ss220club/Paradise-SS220, pull requests merged in 2023-11, with the labels that each got.

#561 Fix: Food
  modular_ss220/food/code/food.dm
  modular_ss220/food/icons/food.dmi
Labels: Спрайты

#600 centcom minor changes
  _maps/map_files220/generic/centcomm.dmm
  modular_ss220/unique_objects/code/unique_objects.dm
  modular_ss220/unique_objects/icons/statuelarge.dmi
Labels: Изменение Карты, Спрайты

#602 sql version update
  code/__DEFINES/misc_defines.dm
  config/example/config.toml
Labels: Требуется изменение конфига

#604 fix: camera console's screen
  tgui/packages/tgui/components/NanoMap.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI

#606 Fix translation script and json
  tools/translator/converter.py
  tools/translator/ss220replace.json
Labels: Инструменты

#610 add&fix: Minor updates for Beretta M9
  modular_ss220/objects/code/beretta.dm
  modular_ss220/objects/icons/guns.dmi
  modular_ss220/objects/icons/inhands/guns_lefthand.dmi
  modular_ss220/objects/icons/inhands/guns_righthand.dmi
Labels: Спрайты

#616 Fix translation script and json v2
  .github/workflows/auto_translate.yml
  tools/translator/converter.py
  tools/translator/ss220replace.json
Labels: Инструменты

#612 TGUI pretty update
  tgui/packages/tgui/components/ByondUi.js
  tgui/packages/tgui/components/NanoMap.js
  tgui/packages/tgui/interfaces/AgentCard.js
  tgui/packages/tgui/interfaces/CameraConsole220.js
  tgui/packages/tgui/interfaces/EmotePanel.js
  tgui/packages/tgui/interfaces/Jukebox.js
  tgui/packages/tgui/interfaces/ModpacksList.js
Labels: TGUI

#619 Fix translation script and json v3
  .github/workflows/auto_translate.yml
  .github/workflows/translate_branch_update.yml
  tools/translator/converter.py
Labels: Инструменты

#615 Важный фикс
  modular_ss220/emotes/code/emote_panel.dm
  tgui/packages/tgui/interfaces/EmotePanel.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI

#621 tweak: Поменял требуемый флаг для смены ника
  code/game/verbs/ooc.dm
  code/modules/client/preference/preferences.dm
Labels: НЕ МОДУЛЬНО

#623 fix: ooc-color
  code/game/verbs/ooc.dm
Labels: НЕ МОДУЛЬНО

#624 Восстановление перевода
  code/datums/ai_law_sets.dm
  code/datums/revision.dm
  code/modules/mob/dead/observer/observer_base.dm
  code/modules/mob/mob.dm
  code/modules/mob/new_player/new_player.dm
  tools/translator/ss220replace.json
Labels: Инструменты

#626 Ручная синхронизация json
  tools/translator/ss220replace.json
Labels: Инструменты

#627 Fix indentantion in ai_law_sets.dm
  code/datums/ai_law_sets.dm
  tools/translator/ss220replace.json
Labels: Инструменты

#632 Translate: Костян.
  code/modules/mob/living/carbon/human/species/skeleton_species.dm
Labels: НЕ МОДУЛЬНО, Перевод

#630 Carrotshiv remove
  _maps/map_files220/generic/Admin_Zone.dmm
  _maps/map_files220/generic/centcomm.dmm
  modular_ss220/aesthetics_sounds/code/items.dm
Labels: Изменение Карты

#622 Новые оверлеи ржавчины
  modular_ss220/aesthetics/_aesthetics.dme
  modular_ss220/aesthetics/rust/code/walls.dm
  modular_ss220/aesthetics/rust/icons/rust.dmi
Labels: Спрайты

#625 Delta-Shower-SM
  _maps/map_files220/delta/delta.dmm
Labels: Изменение Карты, Керберос

#635 Tweak: better turbine
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
Labels: Изменение Карты, Кибериада, Керберос

#638 Add: Supply large door
  modular_ss220/aesthetics/airlocks/code/airlock_assembly_types.dm
  modular_ss220/aesthetics/airlocks/code/airlock_types.dm
  modular_ss220/aesthetics/airlocks/icons/glass_large/supply_glass_large.dmi
Labels: Спрайты

#598 Bounty: New donor item "Vi Jacket'
  modular_ss220/clothing/_clothing.dm
  modular_ss220/clothing/code/suits.dm
  modular_ss220/clothing/icons/inhands/left_hand.dmi
  modular_ss220/clothing/icons/inhands/right_hand.dmi
  modular_ss220/clothing/icons/mob/hats.dmi
  modular_ss220/clothing/icons/mob/suits.dmi
  modular_ss220/clothing/icons/object/hats.dmi
  modular_ss220/clothing/icons/object/suits.dmi
  modular_ss220/loadout/_loadout.dm
  modular_ss220/loadout/code/donor.dm
Labels: Спрайты

#599 Fix: Caves nerfs and fixes
  _maps/map_files220/RandomZLevels/caves.dmm
  modular_ss220/maps220/code/mobs.dm
  modular_ss220/maps220/code/objects.dm
Labels: Изменение Карты

#641 rebuild tgui
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI

#642 Feat: Metastation Module
  _maps/map_files220/MetaStation/MetaStation.dmm
  icons/_nanomaps/MetaStation220_nanomap_z1.png
  modular_ss220/aesthetics/floors/icons/floors.dmi
  modular_ss220/maps220/_maps220.dme
  modular_ss220/maps220/code/Station/metastation.dm
  modular_ss220/maps220/code/nanomap.dm
  tools/UpdatePaths/Update_Paths.bat
  tools/github-actions/nanomap-renderer-invoker.sh
Labels: Изменение Карты, Спрайты, Инструменты

#643 MetaLabel
  .github/labeler.yml
Labels: :scroll: CL не требуется

#644 Fix: Починка отображения куртки Вай без капюшона
  modular_ss220/clothing/icons/mob/suits.dmi
Labels: Спрайты

#647 Fix: Caves mobs nerf
  _maps/map_files220/RandomZLevels/caves.dmm
  modular_ss220/maps220/code/mobs.dm
  modular_ss220/maps220/code/papers.dm
Labels: Изменение Карты

#648 Tweak: Cyberiad wire splice positions
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: Изменение Карты, Кибериада

#654 Tweak: Meta long-range faxes
  _maps/map_files220/MetaStation/MetaStation.dmm
Labels: Изменение Карты, Цереброн

#656 Fix: Photocopier. AI Pic & Ghost Interaction
  modular_ss220/bureaucracy/code/photocopier.dm
  tgui/packages/tgui/interfaces/Photocopier220.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI

#652 Tweak: Autocenter nanomap
  tgui/packages/tgui/components/NanoMap.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: TGUI

#661 Player settings translation
  code/modules/client/preference/preferences.dm
Labels: НЕ МОДУЛЬНО

#645 портирован мех со старо-пары Executioner
  modular_ss220/modular_ss220.dme
  modular_ss220/new_mecha_executioner/_new_mecha_executioner.dm
  modular_ss220/new_mecha_executioner/_new_mecha_executioner.dme
  modular_ss220/new_mecha_executioner/code/Executor.dm
  modular_ss220/new_mecha_executioner/code/mech_fabricator.dm
  modular_ss220/new_mecha_executioner/code/mecha.dm
  modular_ss220/new_mecha_executioner/code/mecha_actions.dm
  modular_ss220/new_mecha_executioner/code/mecha_construction_paths.dm
  modular_ss220/new_mecha_executioner/code/mecha_designs.dm
  modular_ss220/new_mecha_executioner/code/mecha_parts.dm
  modular_ss220/new_mecha_executioner/code/mecha_wreckage.dm
  modular_ss220/new_mecha_executioner/code/mechfabricator_designs.dm
  modular_ss220/new_mecha_executioner/icons/actions_mecha.dmi
  modular_ss220/new_mecha_executioner/icons/mech_construct.dmi
  modular_ss220/new_mecha_executioner/icons/mech_construction.dmi
  modular_ss220/new_mecha_executioner/icons/mecha.dmi
Labels: Спрайты

#665 Revert "портирован мех со старо-пары Executioner"
  modular_ss220/modular_ss220.dme
  modular_ss220/new_mecha_executioner/_new_mecha_executioner.dm
  modular_ss220/new_mecha_executioner/_new_mecha_executioner.dme
  modular_ss220/new_mecha_executioner/code/Executor.dm
  modular_ss220/new_mecha_executioner/code/mech_fabricator.dm
  modular_ss220/new_mecha_executioner/code/mecha.dm
  modular_ss220/new_mecha_executioner/code/mecha_actions.dm
  modular_ss220/new_mecha_executioner/code/mecha_construction_paths.dm
  modular_ss220/new_mecha_executioner/code/mecha_designs.dm
  modular_ss220/new_mecha_executioner/code/mecha_parts.dm
  modular_ss220/new_mecha_executioner/code/mecha_wreckage.dm
  modular_ss220/new_mecha_executioner/code/mechfabricator_designs.dm
  modular_ss220/new_mecha_executioner/icons/actions_mecha.dmi
  modular_ss220/new_mecha_executioner/icons/mech_construct.dmi
  modular_ss220/new_mecha_executioner/icons/mech_construction.dmi
  modular_ss220/new_mecha_executioner/icons/mecha.dmi
Labels: Спрайты

#666 Fix: Detective's Flask
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: Изменение Карты, Кибериада

#667 fix deprecated error in check_changelog
  tools/changelog/check_changelog.py
Labels: Инструменты

#668 fix: constructor argument renamed
  tools/changelog/check_changelog.py
Labels: Инструменты

#669 Fix: Syndie shuttle (Delta)
  _maps/map_files220/delta/delta.dmm
Labels: :scroll: CL не требуется, Изменение Карты, Керберос

#670 refactor: slot preservation time to config
  config/example/config.toml
  modular_ss220/queue/_queue.dme
  modular_ss220/queue/code/new_player_procs.dm
  modular_ss220/queue/code/overflow_configuration.dm
Labels: :scroll: CL валиден, Требуется изменение конфига

#672 feat: add translation for security levels and events
  code/__DEFINES/cult_defines.dm
  code/controllers/subsystem/SSnightshift.dm
  code/defines/procs/announcer_datum.dm
  code/modules/events/alien_infestation.dm
  code/modules/events/anomaly_bluespace.dm
  code/modules/events/anomaly_cryo.dm
  code/modules/events/anomaly_event.dm
  code/modules/events/anomaly_flux.dm
  code/modules/events/anomaly_grav.dm
  code/modules/events/anomaly_pyro.dm
  code/modules/events/anomaly_vortex.dm
  code/modules/events/apc_overload.dm
  code/modules/events/apc_short.dm
  code/modules/events/blob_spawn.dm
  code/modules/events/brand_intelligence.dm
  code/modules/events/bureaucratic_error.dm
  code/modules/events/carp_migration.dm
  code/modules/events/communications_blackout.dm
  code/modules/events/door_runtime.dm
  code/modules/events/electrical_storm.dm
  code/modules/events/immovable_rod.dm
  code/modules/events/infestation.dm
  code/modules/events/ion_storm.dm
  code/modules/events/mass_hallucination.dm
  code/modules/events/meaty_ores.dm
  code/modules/events/meteors_event.dm
  code/modules/events/prison_break.dm
  code/modules/events/radiation_storm_event.dm
  code/modules/events/rogue_drones.dm
  code/modules/events/solarflare.dm
  code/modules/events/spider_infestation.dm
  code/modules/events/spider_terror.dm
  code/modules/events/tear.dm
  code/modules/events/tear_honk.dm
  code/modules/events/traders.dm
  code/modules/events/vent_clog.dm
  code/modules/events/wormholes.dm
  code/modules/power/engines/supermatter/supermatter.dm
  code/modules/response_team/ert.dm
  code/modules/security_levels/security_level_datums.dm
  code/modules/shuttle/emergency.dm
Labels: НЕ МОДУЛЬНО

#673 Tweak: Preferences translation fix
  code/modules/client/preference/preferences.dm
Labels: НЕ МОДУЛЬНО

#676 Tweak: Update railings sprite
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
  _maps/map_files220/generic/centcomm.dmm
  modular_ss220/aesthetics/_aesthetics.dme
  modular_ss220/aesthetics/railings/code/railings.dm
  modular_ss220/aesthetics/railings/icons/railings.dmi
Labels: :scroll: CL валиден, Изменение Карты, Спрайты, Кибериада, Керберос

#681 Some kitchen equipment translation.
  code/game/objects/items/weapons/kitchen.dm
  code/modules/food_and_drinks/kitchen_machinery/deep_fryer.dm
  code/modules/food_and_drinks/kitchen_machinery/grill_new.dm
  code/modules/food_and_drinks/kitchen_machinery/oven_new.dm
  code/modules/food_and_drinks/kitchen_machinery/processor.dm
Labels: :scroll: CL валиден, НЕ МОДУЛЬНО

#680 Add: item animations
  modular_ss220/animations/_animations.dm
  modular_ss220/animations/_animations.dme
  modular_ss220/animations/code/animations.dm
  modular_ss220/modular_ss220.dme
Labels: :scroll: CL валиден

#664 Add: NT gygax on Central Command
  _maps/map_files220/generic/centcomm.dmm
  modular_ss220/maps220/code/objects.dm
  modular_ss220/maps220/icons/mecha.dmi
  modular_ss220/mecha_skins/code/mecha_preloaded.dm
  modular_ss220/mecha_skins/code/paintkit_install.dm
  modular_ss220/mecha_skins/mecha_skins.dme
Labels: :scroll: CL валиден, Изменение Карты, Спрайты

#674 Fix: Cyberiad intercoms in cell missplaced
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#683 Плюшевые хомячки
  _maps/map_files220/MetaStation/MetaStation.dmm
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
  modular_ss220/hampter/_hampter.dm
  modular_ss220/hampter/_hampter.dme
  modular_ss220/hampter/code/hampter.dm
  modular_ss220/hampter/icons/hampter.dmi
  modular_ss220/hampter/icons/inhands/hampter_lefthand.dmi
  modular_ss220/hampter/icons/inhands/hampter_righthand.dmi
  modular_ss220/hampter/icons/inhead/head.dmi
  modular_ss220/hampter/sound/bone_break_3.ogg
  modular_ss220/hampter/sound/squeaktoy.ogg
  modular_ss220/modular_ss220.dme
Labels: :scroll: CL валиден, Изменение Карты, Звук, Спрайты, Кибериада, Керберос, Цереброн

#690 add: Loadout donators update
  config/example/config.toml
  modular_ss220/donor/code/client_procs.dm
  modular_ss220/loadout/_loadout.dme
  modular_ss220/loadout/code/donor.dm
  modular_ss220/loadout/code/donor_items.dm
Labels: :scroll: CL валиден, Требуется изменение конфига

#509 Windows airbag
  modular_ss220/_defines220/_defines220.dme
  modular_ss220/_defines220/code/signals_obj.dm
  modular_ss220/_signals220/_signals220.dme
  modular_ss220/_signals220/code/signals_obj.dm
  modular_ss220/modular_ss220.dme
  modular_ss220/windows_airbag/_windows_airbag.dm
  modular_ss220/windows_airbag/_windows_airbag.dme
  modular_ss220/windows_airbag/code/windows_airbag.dm
  modular_ss220/windows_airbag/icons/windows_airbag.dmi
  modular_ss220/windows_airbag/sound/airbag_arm.ogg
  modular_ss220/windows_airbag/sound/airbag_bang.ogg
Labels: :scroll: CL валиден, Звук, Спрайты

#687 Fix: Girder with wall on the same tile
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#686 [MAP] Statue Update 1
  _maps/map_files220/generic/centcomm.dmm
  modular_ss220/unique_objects/code/unique_objects.dm
Labels: :scroll: CL валиден, Изменение Карты

#671 Centcom Tactical Bat
  modular_ss220/objects/code/weapons.dm
  modular_ss220/objects/icons/inhands/melee_lefthand.dmi
  modular_ss220/objects/icons/inhands/melee_righthand.dmi
  modular_ss220/objects/icons/melee.dmi
  modular_ss220/outfits/code/outfits.dm
Labels: :scroll: CL валиден, Спрайты

#693 Fix: Translation Overseeing (Issue #689)
  code/modules/security_levels/security_level_datums.dm
Labels: НЕ МОДУЛЬНО

#692 Fix: Cavevs mobs fixes
  _maps/map_files220/RandomZLevels/caves.dmm
  modular_ss220/maps220/code/mobs.dm
Labels: :scroll: CL валиден, Изменение Карты

#694 changes stunprod size only on prime
  modular_ss220/balance/code/items/weapons.dm
  modular_ss220/prime_only/_prime.dme
  modular_ss220/prime_only/code/cattleprod.dm
Labels: :scroll: CL валиден

#684 Tweak: Cleanup hampters
  modular_ss220/hampter/_hampter.dm
  modular_ss220/hampter/_hampter.dme
  modular_ss220/hampter/sound/bone_break_3.ogg
  modular_ss220/hampter/sound/squeaktoy.ogg
  modular_ss220/modular_ss220.dme
  modular_ss220/objects/_objects.dme
  modular_ss220/objects/code/hampters.dm
  modular_ss220/objects/icons/hampter.dmi
  modular_ss220/objects/icons/inhands/hampter_lefthand.dmi
  modular_ss220/objects/icons/inhands/hampter_righthand.dmi
  modular_ss220/objects/icons/inhead/head.dmi
Labels: :scroll: CL валиден, Звук, Спрайты

#697 Fix auto translate
  .github/workflows/auto_translate.yml
Labels: :scroll: CL валиден

#696 Fix: Translation Overseeing
  code/controllers/subsystem/SSnightshift.dm
  code/modules/events/alien_infestation.dm
  code/modules/events/mass_hallucination.dm
  code/modules/events/solarflare.dm
  code/modules/power/engines/supermatter/supermatter.dm
Labels: НЕ МОДУЛЬНО

#699 Fix: Empty food and drinks on map
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада, Керберос

#685 Feat: Delta SM Space Drop
  _maps/map_files220/delta/delta.dmm
  modular_ss220/modular_ss220.dme
  modular_ss220/sm_space_drop/code/paper_sm_info.dm
  modular_ss220/sm_space_drop/code/sm_button_NEW.dm
  modular_ss220/sm_space_drop/code/sm_mass_driver.dm
  modular_ss220/sm_space_drop/code/sm_space_drop.dm
  modular_ss220/sm_space_drop/icons/sm_buttons.dmi
  modular_ss220/sm_space_drop/sm_space_drop.dm
  modular_ss220/sm_space_drop/sm_space_drop.dme
  modular_ss220/sm_space_drop/sound/button.ogg
  modular_ss220/sm_space_drop/sound/button1.ogg
  modular_ss220/sm_space_drop/sound/button2.ogg
  modular_ss220/sm_space_drop/sound/button3.ogg
  modular_ss220/sm_space_drop/sound/button4.ogg
Labels: :scroll: CL валиден, Изменение Карты, Звук, Спрайты, Керберос

#706 Feat: Posters
  modular_ss220/objects/_objects.dme
  modular_ss220/objects/code/posters.dm
  modular_ss220/objects/icons/posters.dmi
Labels: :scroll: CL валиден, Спрайты

#679 FEAT: Clumsy Table
  modular_ss220/_defines220/_defines220.dm
  modular_ss220/_defines220/_defines220.dme
  modular_ss220/_defines220/code/signals_atom.dm
  modular_ss220/clumsy_table/_clumsy_table.dm
  modular_ss220/clumsy_table/_clumsy_table.dme
  modular_ss220/clumsy_table/code/clumsy_climb_component.dm
  modular_ss220/clumsy_table/code/clumsy_table.dm
  modular_ss220/emotes/code/emote.dm
  modular_ss220/modular_ss220.dme
Labels: :scroll: CL валиден

#709 Fix: NanoMap Render
  tools/github-actions/nanomap-renderer-invoker.sh
Labels: :scroll: CL не требуется, Инструменты

#710 Fix for fix: NanoMap Render
  tools/github-actions/nanomap-renderer-invoker.sh
Labels: :scroll: CL не требуется, Инструменты

#678 FEAT: Роли новичков добавлены в консоль ГП
  modular_ss220/jobs/code/cards_ids.dm
  modular_ss220/jobs/code/job/engineering_jobs.dm
  modular_ss220/jobs/code/job/medical_jobs.dm
  modular_ss220/jobs/code/job/science_jobs.dm
  modular_ss220/jobs/code/job/security_jobs.dm
Labels: :scroll: CL валиден

#715 FIX: novice positions
  modular_ss220/jobs/code/cards_ids.dm
  modular_ss220/jobs/code/job/engineering_jobs.dm
  modular_ss220/jobs/code/job/medical_jobs.dm
  modular_ss220/jobs/code/job/science_jobs.dm
  modular_ss220/jobs/code/job/security_jobs.dm
  modular_ss220/jobs/code/jobs.dm
Labels: :scroll: CL валиден

#716 Fix: Delta Engineering access
  _maps/map_files220/delta/delta.dmm
Labels: Изменение Карты, Керберос

#713 Fix: Cyberiad bunch of fixes (disposal, atmos in north-west tunnels)
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#718 Tweak Photocopier 2.0
  modular_ss220/bureaucracy/code/photocopier.dm
  tgui/packages/tgui/interfaces/Photocopier220.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: :scroll: CL валиден, TGUI

#695 Feat: ID card skins DLC
  _maps/map_files220/MetaStation/MetaStation.dmm
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
  modular_ss220/loadout/code/donor.dm
  modular_ss220/maps220/icons/spawner_icons.dmi
  modular_ss220/objects/_objects.dme
  modular_ss220/objects/code/card_skins.dm
  modular_ss220/objects/icons/id_skins.dmi
Labels: :scroll: CL валиден, Изменение Карты, Спрайты, Кибериада, Керберос, Цереброн

#721 Verbs clean up
  modular_ss220/mobs/code/pet_carrier.dm
  modular_ss220/objects/code/officetoys.dm
  modular_ss220/objects/code/papershredder.dm
  modular_ss220/objects/code/platform.dm
Labels: :scroll: CL валиден

#727 fix: donor
  modular_ss220/donor/code/client_procs.dm
  modular_ss220/loadout/code/donor.dm
Labels: :scroll: CL валиден

#728 Tweak: not on the whitelist ban reason
  modular_ss220/whitelist/code/whitelist.dm
Labels: :scroll: CL валиден

#732 merge upstream
  code/datums/helper_datums/teleport.dm
  code/game/machinery/Sleeper.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/antagonists/changeling/powers/chameleon_skin.dm
  code/modules/antagonists/traitor/contractor/datums/syndicate_contract.dm
  code/modules/paperwork/paper.dm
  code/modules/surgery/organs_internal.dm
  icons/mob/human_races/r_skrell.dmi
  icons/mob/sprite_accessories/skrell/skrell_hair.dmi
  tools/UpdatePaths/Update Paths.bat
  tools/UpdatePaths/__main__.py
  tools/UpdatePaths/readme.md
Labels: Документация, :scroll: CL валиден, Спрайты, Инструменты

#725 Исправляет "НН" где это неправильно в добавленных предметах еды
  modular_ss220/food/code/food.dm
Labels: :scroll: CL валиден

#738 tweak: hardcode to config
  config/example/config.toml
  modular_ss220/text_to_speech/code/configuration.dm
  modular_ss220/text_to_speech/code/providers/silero.dm
Labels: :scroll: CL валиден, Требуется изменение конфига

#735 Fix: Cyberiad recycler conveyor belt
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#739 fix mecha icons
  modular_ss220/mecha_skins/code/mecha.dmi
Labels: :scroll: CL валиден, Спрайты

#705 Add: New keys for departments
  _maps/map_files220/delta/delta.dmm
  modular_ss220/objects/_objects.dme
  modular_ss220/objects/code/key.dm
  modular_ss220/objects/icons/key.dmi
Labels: Фича, :scroll: CL валиден, Требуется изменение WIKI, Изменение Карты, Спрайты, Керберос

#743 tweak: donators with at least 3 tier ignore the queue
  modular_ss220/queue/code/new_player_procs.dm
Labels: :scroll: CL валиден

#736 Update translate tools and add ci
  .github/workflows/ci_translate.yml
  tools/translator/converter.py
Labels: :scroll: CL валиден, Инструменты

#744 Update translate tools
  tools/translator/converter.py
Labels: :scroll: CL валиден, Инструменты

#745 merge upstream
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/__HELPERS/trait_helpers.dm
  code/datums/weather/weather_types/radiation_storm.dm
  code/game/machinery/cell_charger.dm
  code/game/machinery/computer/ai_core.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/doppler_array.dm
  code/game/machinery/machinery.dm
  code/game/machinery/recharger.dm
  code/game/machinery/snow_machine.dm
  code/game/objects/structures/statues.dm
  code/game/verbs/suicide.dm
  code/modules/antagonists/vampire/vampire_powers/vampire_powers.dm
  code/modules/atmospherics/machinery/portable/scrubber.dm
  code/modules/food_and_drinks/drinks/bottler/bottler.dm
  code/modules/food_and_drinks/kitchen_machinery/deep_fryer.dm
  code/modules/food_and_drinks/kitchen_machinery/icecream_vat.dm
  code/modules/food_and_drinks/kitchen_machinery/kitchen_machine.dm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  code/modules/hydroponics/hydroponics_tray.dm
  code/modules/mob/living/silicon/robot/drone/maint_drone.dm
  code/modules/mob/living/simple_animal/hostile/mining/goliath.dm
  code/modules/paperwork/paper_bundle.dm
  code/modules/power/generators/thermo_electric_generator.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  icons/obj/station_statue.dmi
Labels: :scroll: CL валиден, Изменение Карты, Спрайты

#746 Синхронизация json с актуальной веткой перевода
  tools/translator/ss220replace.json
Labels: Инструменты

#734 More skins
  _maps/map_files220/MetaStation/MetaStation.dmm
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
  modular_ss220/loadout/code/donor.dm
  modular_ss220/objects/code/card_skins.dm
  modular_ss220/objects/icons/id_skins.dmi
Labels: :scroll: CL валиден, Изменение Карты, Спрайты, Кибериада, Керберос, Цереброн

#731 add: Field Officer
  modular_ss220/clothing/code/suits.dm
  modular_ss220/clothing/icons/mob/suits.dmi
  modular_ss220/clothing/icons/object/suits.dmi
  modular_ss220/outfits/code/outfits.dm
Labels: :scroll: CL валиден, Спрайты

#722 Fix: caves & gate_lizard misc
  _maps/map_files220/RandomZLevels/caves.dmm
  _maps/map_files220/RandomZLevels/gate_lizard.dmm
Labels: :scroll: CL валиден, Изменение Карты

#748 fix: silero genders
  modular_ss220/text_to_speech/code/seeds/silero.dm
Labels: :scroll: CL валиден

#751 Tweak: Morgue Air Alarm Position
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#741 Some translates
  code/datums/ai_law_sets.dm
  code/datums/diseases/wizarditis.dm
  code/game/dna/mutations/disabilities.dm
  code/game/machinery/vendors/contraband_vendors.dm
  code/game/machinery/vendors/departmental_vendors.dm
  code/game/machinery/vendors/generic_vendors.dm
  code/modules/events/brand_intelligence.dm
  code/modules/mob/living/carbon/human/human_life.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/reagents/chemistry/reagents/paradise_pop.dm
  code/modules/ruins/syndicate_space_base.dm
Labels: НЕ МОДУЛЬНО, :pencil: Перевод

#742 FEAT: Расширяем пул фраз для вендоматов и психопатов
  modular_ss220/modular_ss220.dme
  modular_ss220/phrases/_phrases.dm
  modular_ss220/phrases/_phrases.dme
  modular_ss220/phrases/code/mobs_phrases.dm
  modular_ss220/phrases/code/vending_phrases.dm
Labels: :scroll: CL валиден

#702 Breath scarf
  modular_ss220/clothing/code/mask.dm
  modular_ss220/clothing/icons/mob/mask.dmi
  modular_ss220/clothing/icons/object/masks.dmi
  modular_ss220/loadout/code/donor.dm
Labels: :scroll: CL валиден, Спрайты

#733 [TGUI] Photocopier fixes
  code/modules/paperwork/photocopier.dm
  modular_ss220/bureaucracy/code/forms.dm
  modular_ss220/bureaucracy/code/photocopier.dm
  modular_ss220/bureaucracy/sound/print.ogg
  tgui/packages/tgui/interfaces/Photocopier220.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: :scroll: CL валиден, Звук, TGUI

#677 [FIX] Разрешаем грипперам медборгов трогать химию.
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/machinery/chem_heater.dm
  modular_ss220/silicons/code/items/gripper.dm
Labels: :scroll: CL валиден

#750 Fix: LocalHost auto-admin
  modular_ss220/_modpacks.dm
Labels: :scroll: CL валиден

#752 Nearby Buckle
  code/game/objects/buckling.dm
Labels: :scroll: CL валиден, НЕ МОДУЛЬНО

#704 Перевод голосовалок и панели
  code/modules/vote/vote_datum.dm
  code/modules/vote/vote_presets.dm
  code/modules/vote/vote_verb.dm
Labels: НЕ МОДУЛЬНО, :pencil: Перевод

#756 FIX: syndie key radio fix
  modular_ss220/spy_spider/code/spy_spider.dm
Labels: :scroll: CL валиден, Фикс

#758 Fix: Invicible posters
  modular_ss220/objects/code/posters.dm
  modular_ss220/objects/icons/posters.dmi
Labels: :scroll: CL валиден, Спрайты

#749 Fix: Atmos nanomap markers
  tgui/packages/tgui/components/ByondUi.js
  tgui/packages/tgui/components/NanoMap.js
  tgui/packages/tgui/interfaces/AtmosControl.js
  tgui/packages/tgui/interfaces/CameraConsole220.js
  tgui/packages/tgui/public/tgui.bundle.css
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/styles/interfaces/CameraConsole.scss
Labels: :scroll: CL валиден, TGUI

#761 Convert input lists to tgui
  modular_ss220/agent_id_tgui/code/agent_id_tgui.dm
  modular_ss220/clothing/code/shoes.dm
  modular_ss220/detective_rework/code/swabs.dm
  modular_ss220/maps220/code/misc.dm
  modular_ss220/objects/code/card_skins.dm
  modular_ss220/text_to_speech/code/tts_seed.dm
Labels: :scroll: CL валиден

#769 fix: role to ping for new round to config
  code/game/gamemodes/game_mode.dm
  config/example/config.toml
  modular_ss220/_misc/_misc.dme
  modular_ss220/_misc/code/discord_configuration.dm
Labels: :scroll: CL валиден, Требуется изменение конфига

#773 fix: add . = ..()
  modular_ss220/_misc/code/discord_configuration.dm
Labels: :scroll: CL валиден

#772 Feat: Respawn return
  modular_ss220/modular_ss220.dme
  modular_ss220/verbs/_verbs.dm
  modular_ss220/verbs/_verbs.dme
  modular_ss220/verbs/code/verbs.dm
Labels: :scroll: CL валиден

#771 Tweak: Vi jacket spellcheck
  modular_ss220/clothing/code/suits.dm
Labels: :scroll: CL валиден

#768 Layer cleanup
  _maps/map_files220/MetaStation/MetaStation.dmm
  _maps/map_files220/cyberiad/cyberiad.dmm
  modular_ss220/maps220/_maps220.dme
  modular_ss220/maps220/code/layers.dm
  modular_ss220/unique_objects/code/unique_objects.dm
Labels: :scroll: CL не требуется, Изменение Карты, Кибериада, Цереброн

#770 Tweak: Change no whitelist reason
  modular_ss220/whitelist/code/whitelist.dm
Labels: :scroll: CL не требуется

#737 Remap: Delta/Brig/Cargo/Dorms/Procedure/Maintenance/Psych
  _maps/map_files220/delta/delta.dmm
  modular_ss220/maps220/code/Areas/station.dm
  modular_ss220/maps220/icons/areas.dmi
Labels: :scroll: CL валиден, Изменение Карты, Спрайты, Керберос, :skull: Большой ПР

#774 Tweak: Cyberiad brig tweaks
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#703 Fix: Microwave translation
  code/modules/food_and_drinks/kitchen_machinery/microwave.dm
Labels: НЕ МОДУЛЬНО, :pencil: Перевод

#775 Fix: Delta brig consoles and EFTOPS for security
  _maps/map_files220/MetaStation/MetaStation.dmm
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада, Цереброн

#777 HOTFIX: Delta/Cargo/disposal
  _maps/map_files220/delta/delta.dmm
Labels: :scroll: CL валиден, Изменение Карты, Керберос

#781 Fix:remove xen_mobs from golden extract
  modular_ss220/maps220/code/mobs.dm
  modular_ss220/maps220/code/objects.dm
Labels: :scroll: CL валиден

#788 Del: CereStation no more voteable
  modular_ss220/maps220/_maps220.dme
  modular_ss220/maps220/code/Station/cerestation.dm
Labels: :scroll: CL валиден

#790 tweak: new-tiers-for-staff
  modular_ss220/_defines220/_defines220.dme
  modular_ss220/_defines220/code/donor.dm
  modular_ss220/donor/code/client_procs.dm
  modular_ss220/text_to_speech/code/tts_preferences.dm
Labels: :scroll: CL валиден

#765 FEAT: Novice rework
  code/controllers/subsystem/SSjobs.dm
  code/datums/datacore.dm
  code/game/jobs/job/engineering_jobs.dm
  code/game/jobs/job/medical_jobs.dm
  code/game/jobs/job/science_jobs.dm
  code/game/jobs/job/security_jobs.dm
  config/example/config.toml
  modular_ss220/_defines220/_defines220.dme
  modular_ss220/_defines220/code/jobs_defines.dm
  modular_ss220/jobs/_jobs.dm
  modular_ss220/jobs/_jobs.dme
  modular_ss220/jobs/code/card_computer.dm
  modular_ss220/jobs/code/card_id.dm
  modular_ss220/jobs/code/cards_ids.dm
  modular_ss220/jobs/code/clothing/engineering_clothing.dm
  modular_ss220/jobs/code/clothing/medical_clothing.dm
  modular_ss220/jobs/code/clothing/science_clothing.dm
  modular_ss220/jobs/code/clothing/security_clothing.dm
  modular_ss220/jobs/code/departaments.dm
  modular_ss220/jobs/code/job/engineering_jobs.dm
  modular_ss220/jobs/code/job/medical_jobs.dm
  modular_ss220/jobs/code/job/science_jobs.dm
  modular_ss220/jobs/code/job/security_jobs.dm
  modular_ss220/jobs/code/jobs.dm
  modular_ss220/jobs/code/jobs_character.dm
  modular_ss220/jobs/code/jobs_gamemodes.dm
  modular_ss220/jobs/code/jobs_global_list.dm
  modular_ss220/jobs/code/objects/engineering_job_objects.dm
  modular_ss220/jobs/code/objects/job_objects.dm
  modular_ss220/jobs/code/objects/medical_job_objects.dm
  modular_ss220/jobs/code/objects/science_job_objects.dm
  modular_ss220/jobs/code/objects/security_job_objects.dm
  modular_ss220/jobs/code/objects/wardrobe_vendors.dm
  modular_ss220/jobs/icons/hud.dmi
  modular_ss220/modular_ss220.dme
  modular_ss220/text_to_speech/code/tts_subsystem.dm
Labels: :scroll: CL валиден, Требуется изменение конфига, Спрайты

#800 Fix: Radio exploit
  modular_ss220/devices/code/items/radio.dm
Labels: :scroll: CL валиден

#799 Del: Delete radio sound module
  modular_ss220/modular_ss220.dme
  modular_ss220/radio_sound/code/radiosound.dm
  modular_ss220/radio_sound/radio_sound.dme
  modular_ss220/radio_sound/sound/common.ogg
  modular_ss220/radio_sound/sound/security.ogg
  modular_ss220/radio_sound/sound/syndie.ogg
Labels: :scroll: CL валиден, Звук
