Repository ss220club/Paradise-SS220, pull requests merged in 2024-03, with the labels that each got.

#1054 [Fix] Cyberiad Fix
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#1059 Toxins fixed
  _maps/map_files220/delta/delta.dmm
Labels: :scroll: CL валиден, Изменение Карты, Керберос

#1061 More TTS acronyms
  modular_ss220/text_to_speech/code/tts_subsystem.dm
Labels: :scroll: CL валиден

#1060 Rename Intern to Medical Intern
  code/datums/datacore.dm
  config/example/config.toml
  modular_ss220/jobs/code/card_id.dm
  modular_ss220/jobs/code/job/medical_jobs.dm
  modular_ss220/jobs/code/jobs.dm
  modular_ss220/jobs/code/jobs_character.dm
  modular_ss220/jobs/code/jobs_global_list.dm
  modular_ss220/jobs/code/objects/job_objects.dm
  modular_ss220/text_to_speech/code/tts_subsystem.dm
Labels: :scroll: CL валиден, Требуется изменение конфига

#1053 Make immovable rod able to go through platform
  modular_ss220/objects/code/platform.dm
Labels: :scroll: CL валиден

#1057 Medborg gripper fixes
  modular_ss220/objects/_objects.dme
  modular_ss220/objects/code/smartfridge.dm
  modular_ss220/silicons/code/items/gripper.dm
Labels: :scroll: CL валиден

#1063 [Fix] Delta Fixes
  _maps/map_files220/delta/delta.dmm
Labels: :scroll: CL валиден, Изменение Карты, Керберос

#1062 Show Medical Intern icon for security HUDs
  modular_ss220/jobs/icons/hud.dmi
Labels: :scroll: CL валиден, Спрайты

#1068 Fix: Unit Tests runtime. Again
  code/controllers/master.dm
Labels: :scroll: CL не требуется, НЕ МОДУЛЬНО

#1066 [FEAT] Peas shooter
  modular_ss220/hydroponics/code/plants.dm
  modular_ss220/hydroponics/icons/growing.dmi
  modular_ss220/hydroponics/icons/seeds.dmi
  modular_ss220/objects/_objects.dme
  modular_ss220/objects/code/weapons.dm
  modular_ss220/objects/icons/ammo.dmi
  modular_ss220/objects/icons/guns.dmi
  modular_ss220/objects/icons/inhands/guns_lefthand.dmi
  modular_ss220/objects/icons/inhands/guns_righthand.dmi
  modular_ss220/objects/sound/weapons/drop/peas_shooter_drop.ogg
  modular_ss220/objects/sound/weapons/gunshots/peas_shooter_gunshot.ogg
Labels: :scroll: CL валиден, Звук, Спрайты

#1072 [FIX] Station name in bureaucracy forms
  modular_ss220/bureaucracy/code/forms.dm
Labels: :scroll: CL валиден

#1070 Update verbs on species change
  modular_ss220/emotes/_emotes.dme
  modular_ss220/emotes/code/human_mob.dm
Labels: :scroll: CL валиден

#1069 Merge upstream 10.03.2024
  _build_dependencies.sh
  code/modules/food_and_drinks/food/foods/meat.dm
Labels: :scroll: CL не требуется

#1065 Tweak: Re-Lightning
  _maps/map_files220/MetaStation/MetaStation.dmm
  _maps/map_files220/RandomZLevels/blackmarketpackers.dmm
  _maps/map_files220/RandomZLevels/blackmesa.dmm
  _maps/map_files220/RandomZLevels/caves.dmm
  _maps/map_files220/RandomZLevels/gate_lizard.dmm
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
  modular_ss220/aesthetics/lights/code/lights.dm
  modular_ss220/maps220/code/Areas/station.dm
Labels: Изменение Карты, Кибериада, Керберос, Цереброн

#1064 Allow robotics to use the R&D scientists console
  modular_ss220/balance/code/access/access.dm
  modular_ss220/jobs/_jobs.dme
  modular_ss220/jobs/code/access.dm
Labels: :scroll: CL валиден, :clock12: Ждёт мержа

#1071 Feat: Skull mecha paintkit & mecha code, icons cleanup
  _maps/map_files220/generic/Lavaland.dmm
  modular_ss220/mecha_skins/code/mecha.dmi
  modular_ss220/mecha_skins/code/paintkit.dmi
  modular_ss220/mecha_skins/code/paintkit_install.dm
  modular_ss220/mecha_skins/code/paintkit_menu.dm
  modular_ss220/mecha_skins/icons/mecha.dmi
  modular_ss220/mecha_skins/icons/paintkit.dmi
  modular_ss220/mecha_skins/mecha_skins.dme
  modular_ss220/objects/_objects.dme
  modular_ss220/objects/code/mecha/combat.dm
  modular_ss220/objects/code/mecha/lockermech.dm
  modular_ss220/objects/icons/mecha.dmi
Labels: :trollface: Фича, :scroll: CL валиден, Изменение Карты, Спрайты

#1073 add: 2 Jaunter Grenades for Paramedic
  modular_ss220/balance/_balance.dme
  modular_ss220/balance/code/items/storage/closets.dm
  modular_ss220/objects/code/closets.dm
Labels: :scroll: CL валиден, :clock12: Ждёт мержа

#1075 tweak: Dynamic skin buttons size
  interface/skin.dmf
Labels: :scroll: CL валиден, :clock12: Ждёт мержа

#1083 Lavaland Billboard
  _maps/map_files220/generic/Lavaland.dmm
Labels: :scroll: CL валиден, Изменение Карты

#1084 Badge changes
  modular_ss220/chat_badges/code/badges.dm
Labels: :scroll: CL валиден

#1086 Fix: gate_lizard high temperature
  _maps/map_files220/RandomZLevels/gate_lizard.dmm
Labels: :scroll: CL валиден, Изменение Карты

#1087 Fix: caves high temperature
  _maps/map_files220/RandomZLevels/caves.dmm
Labels: :scroll: CL валиден, Изменение Карты

#1085 [FEAT] Plov
  modular_ss220/food/code/food/food.dm
  modular_ss220/food/icons/food.dmi
Labels: :trollface: Фича, :scroll: CL валиден, :page_with_curl: Требуется изменение WIKI, Спрайты

#1092 Cyberiad: Separate cryo canisters
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#1093 merge upstream 12.03.2024
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/RandomRuins/SpaceRuins/syndie_space_base.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files220/RandomZLevels/gate_lizard.dmm
  _maps/map_files220/delta/delta.dmm
  code/__HELPERS/mob_helpers.dm
  code/_onclick/observer_onclick.dm
  code/datums/station_traits/postive_traits.dm
  code/game/dna/mutations/mutation_powers.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/weapons/holy_weapons.dm
  code/game/objects/items/weapons/storage/storage_base.dm
  code/game/objects/items/weapons/tanks/jetpack.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/antagonists/vampire/vampire_powers/vampire_powers.dm
  code/modules/clothing/head/misc_hats.dm
  code/modules/crafting/tailoring.dm
  code/modules/hydroponics/grown/flowers.dm
  code/modules/maze_generation/maze_generator.dm
  code/modules/maze_generation/maze_generator_blockwise.dm
  code/modules/mob/living/silicon/robot/!robot_mob.dm
  code/modules/mod/mod_control.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/unit_tests/map_tests.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/grey/head.dmi
  icons/mob/clothing/species/vox/head.dmi
  icons/obj/clothing/hats.dmi
Labels: :scroll: CL валиден, Изменение Карты, Спрайты, Керберос

#994 Add: Выкидной ножик aka стилет
  modular_ss220/objects/code/weapons.dm
  modular_ss220/objects/icons/inhands/melee_lefthand.dmi
  modular_ss220/objects/icons/inhands/melee_righthand.dmi
  modular_ss220/objects/icons/melee.dmi
  modular_ss220/objects/sound/weapons/styletext.ogg
Labels: :trollface: Фича, :scroll: CL валиден, Звук, Спрайты

#1095 move screentip to not be hidden by the first row of abilities
  modular_ss220/screentip_change/code/screentip.dm
Labels: :scroll: CL валиден

#1097 Fix: remove planetary atmos on water turfs
  _maps/map_files220/RandomZLevels/gate_lizard.dmm
  modular_ss220/maps220/code/floors.dm
Labels: :scroll: CL валиден, Изменение Карты

#1098 Fix: awaymission chasm
  _maps/map_files220/RandomZLevels/blackmesa.dmm
  _maps/map_files220/RandomZLevels/gate_lizard.dmm
  modular_ss220/maps220/code/floors.dm
Labels: :scroll: CL валиден, Изменение Карты

#1096 Перевод консоли запросов
  code/game/machinery/requests_console.dm
Labels: НЕ МОДУЛЬНО, :pencil: Перевод

#1104 Cleanup tag & disposal vars on our maps
  _maps/map_files220/MetaStation/MetaStation.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/whiteship.dmm
  _maps/map_files220/RandomZLevels/blackmarketpackers.dmm
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
  _maps/map_files220/generic/centcomm.dmm
Labels: :scroll: CL не требуется, Изменение Карты, Кибериада, Керберос, Цереброн

#1105 Merge upstream 17.03.2024
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/centcomm.dmm
  _maps/map_files/shuttles/admin_hospital.dmm
  _maps/map_files220/MetaStation/MetaStation.dmm
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
  _maps/map_files220/generic/centcomm.dmm
  code/__DEFINES/cloning_defines.dm
  code/_onclick/hud/alert.dm
  code/controllers/configuration/sections/gamemode_configuration.dm
  code/controllers/subsystem/SSdbcore.dm
  code/controllers/subsystem/processing/SSstation.dm
  code/game/jobs/job/engineering_jobs.dm
  code/game/jobs/job/medical_jobs.dm
  code/game/jobs/job/science_jobs.dm
  code/game/jobs/job/supervisor.dm
  code/game/jobs/job/support.dm
  code/game/machinery/clonepod.dm
  code/game/machinery/clonescanner.dm
  code/game/machinery/computer/cloning.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/cryopod.dm
  code/game/objects/items/weapons/batons.dm
  code/game/objects/items/weapons/disks.dm
  code/game/objects/items/weapons/manuals.dm
  code/modules/antagonists/changeling/changeling_power.dm
  code/modules/antagonists/changeling/datum_changeling.dm
  code/modules/antagonists/changeling/powers/absorb.dm
  code/modules/antagonists/changeling/powers/become_headslug.dm
  code/modules/antagonists/changeling/powers/revive.dm
  code/modules/antagonists/traitor/contractor/datums/objective_contract.dm
  code/modules/client/preference/character.dm
  code/modules/countdown/countdown.dm
  code/modules/economy/economy_machinery/atm.dm
  code/modules/mob/living/brain/MMI.dm
  code/modules/mob/living/carbon/human/human_life.dm
  code/modules/mob/living/carbon/human/species/slimepeople.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/living_life.dm
  code/modules/mob/living/simple_animal/hostile/headslug.dm
  code/modules/projectiles/guns/energy/special_eguns.dm
  code/modules/station_goals/bsa.dm
  config/example/config.toml
  icons/mob/screen_alert.dmi
  icons/obj/cryogenic2.dmi
  icons/obj/terminals.dmi
  paradise.dme
  tgui/packages/tgui/interfaces/BlueSpaceArtilleryControl.js
  tgui/packages/tgui/interfaces/CloningConsole.js
  tgui/packages/tgui/interfaces/CloningPod.js
  tgui/public/tgui.bundle.js
  tools/UpdatePaths/Scripts/24426_atm_directionals.txt
  tools/maplint/lints/directional_atms.yml
Labels: :scroll: CL валиден, Требуется изменение конфига, Изменение Карты, Спрайты, Инструменты, Кибериада, Керберос, Цереброн, TGUI

#1110 Fix: lavaland_air plasteel floor temperature and air parameters
  modular_ss220/maps220/code/floors.dm
Labels: :scroll: CL валиден

#1100 Emote changes
  modular_ss220/_defines220/code/emote.dm
  modular_ss220/emotes/_emotes.dme
  modular_ss220/emotes/audio/skrell/anger_1.ogg
  modular_ss220/emotes/audio/skrell/anger_2.ogg
  modular_ss220/emotes/audio/skrell/credit.txt
  modular_ss220/emotes/audio/skrell/croak_1.ogg
  modular_ss220/emotes/audio/skrell/croak_2.ogg
  modular_ss220/emotes/audio/skrell/croak_3.ogg
  modular_ss220/emotes/audio/skrell/warble_1.ogg
  modular_ss220/emotes/audio/skrell/warble_2.ogg
  modular_ss220/emotes/code/emote.dm
  modular_ss220/emotes/code/emote_keybindings.dm
  modular_ss220/emotes/code/emote_names.dm
  modular_ss220/emotes/code/emote_verbs.dm
  modular_ss220/emotes/code/exercise/exercise_emotes.dm
  modular_ss220/emotes/code/exercise/exercises/pushup.dm
  modular_ss220/emotes/code/exercise/exercises/squat.dm
  modular_ss220/emotes/code/racial_emotes.dm
  modular_ss220/keybindings/code/emote_keybinds.dm
Labels: :scroll: CL валиден, Звук

#1101 Added new skirts to suitdispenser
  modular_ss220/clothing/code/under.dm
  modular_ss220/clothing/icons/mob/under.dmi
  modular_ss220/clothing/icons/object/under.dmi
  modular_ss220/vending/code/vending.dm
Labels: :scroll: CL валиден, Спрайты

#1122 Add space between badges and ckey
  modular_ss220/chat_badges/code/badges.dm
Labels: :scroll: CL валиден

#1132 Tweak: Actualization of bears
  modular_ss220/mobs/code/simple_animal/hostile/bear.dm
  modular_ss220/mobs/icons/mob/animal.dmi
Labels: :scroll: CL валиден, Спрайты

#1130 Fix: Vulpkanin hairs overrides Human hairs
  modular_ss220/hairs/code/vulpkanin_hair.dm
Labels: :scroll: CL валиден

#1124 Fix: No more "tiless" in wood floor crafting
  modular_ss220/aesthetics/_aesthetics.dm
Labels: :scroll: CL валиден

#1119 Tesla containment area safety
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада, Керберос

#1120 Cyberiad: QM Zippo
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#1118 Tweak: Actualization of modular radio sprites
  _maps/map_files220/MetaStation/MetaStation.dmm
  _maps/map_files220/RandomZLevels/blackmesa.dmm
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
  modular_ss220/devices/icons/radio.dmi
Labels: :scroll: CL валиден, Изменение Карты, Спрайты, Кибериада, Керберос, Цереброн

#1127 Fix:Stylet icon/sound/chance
  modular_ss220/objects/code/weapons.dm
  modular_ss220/objects/icons/inhands/melee_lefthand.dmi
  modular_ss220/objects/sound/weapons/styletext.ogg
Labels: :scroll: CL валиден, Звук, Спрайты

#1123 Awaymission: spacebattle port (remap by ItsMeJabba)
  _maps/map_files220/RandomZLevels/spacebattle.dmm
  modular_ss220/clothing/code/helmet.dm
  modular_ss220/clothing/code/suits.dm
  modular_ss220/clothing/icons/mob/helmet.dmi
  modular_ss220/clothing/icons/mob/suits.dmi
  modular_ss220/clothing/icons/object/helmet.dmi
  modular_ss220/clothing/icons/object/suits.dmi
  modular_ss220/maps220/code/Areas/gateway.dm
  modular_ss220/maps220/code/mobs.dm
  modular_ss220/maps220/code/papers.dm
  modular_ss220/maps220/code/spawners.dm
  modular_ss220/maps220/icons/spacebattle.dmi
Labels: :scroll: CL валиден, Изменение Карты, Спрайты

#1141 Fix quick equip
  modular_ss220/smart_equip_targeted/code/smart_equip_targeted.dm
Labels: :scroll: CL валиден

#1137 Rotate library computers
  _maps/map_files220/MetaStation/MetaStation.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/spacehotel.dmm
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
  _maps/map_files220/generic/centcomm.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада, Керберос, Цереброн

#1139 Fix: whiteship dock sizes
  _maps/map_files220/RandomRuins/SpaceRuins/whiteship.dmm
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада, Керберос

#1146 Fix: spacebattle minor fixes
  _maps/map_files220/RandomZLevels/spacebattle.dmm
  modular_ss220/maps220/code/Areas/gateway.dm
  modular_ss220/maps220/code/mobs.dm
Labels: :scroll: CL валиден, Изменение Карты

#1148 Tweak: wildwest loot balance
  _maps/map_files220/RandomZLevels/wildwest.dmm
Labels: :scroll: CL валиден, Изменение Карты

#1145 Clean forgotten vents
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада, Керберос

#1144 Remove redudant modular aesthetics
  modular_ss220/aesthetics/_aesthetics.dme
  modular_ss220/aesthetics/apc/code/apc.dm
  modular_ss220/aesthetics/apc/icons/apc.dmi
  modular_ss220/aesthetics/atmospherics/code/atmospherics.dm
  modular_ss220/aesthetics/atmospherics/icons/vent_pump.dmi
  modular_ss220/aesthetics/atmospherics/icons/vent_scrubber.dmi
  modular_ss220/aesthetics/defib/code/defib.dm
  modular_ss220/aesthetics/defib/icons/defib.dmi
  modular_ss220/aesthetics/requests_console/code/requests_console.dm
  modular_ss220/aesthetics/requests_console/icons/reqcomp.dmi
Labels: :scroll: CL не требуется, Спрайты

#1126 [FEAT] Towels
  _maps/map_files220/MetaStation/MetaStation.dmm
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
  modular_ss220/clothing/_clothing.dm
  modular_ss220/clothing/code/hats.dm
  modular_ss220/clothing/code/under.dm
  modular_ss220/clothing/icons/inhands/left_hand.dmi
  modular_ss220/clothing/icons/inhands/right_hand.dmi
  modular_ss220/clothing/icons/mob/hats.dmi
  modular_ss220/clothing/icons/mob/species/drask/under.dmi
  modular_ss220/clothing/icons/mob/species/grey/hats.dmi
  modular_ss220/clothing/icons/mob/species/grey/under.dmi
  modular_ss220/clothing/icons/mob/species/monkey/hats.dmi
  modular_ss220/clothing/icons/mob/species/monkey/under.dmi
  modular_ss220/clothing/icons/mob/species/unathi/under.dmi
  modular_ss220/clothing/icons/mob/species/vox/hats.dmi
  modular_ss220/clothing/icons/mob/species/vox/under.dmi
  modular_ss220/clothing/icons/mob/under.dmi
  modular_ss220/clothing/icons/object/hats.dmi
  modular_ss220/clothing/icons/object/under.dmi
Labels: :trollface: Фича, :scroll: CL валиден, Изменение Карты, Спрайты, Кибериада, Керберос, Цереброн
