Repository ss220club/Paradise-SS220, pull requests merged in 2024-07, with the labels that each got.

#1254 Barking Vulps
  modular_ss220/_defines220/code/emote.dm
  modular_ss220/emotes/_emotes.dm
  modular_ss220/emotes/audio/bark.ogg
  modular_ss220/emotes/audio/wbark.ogg
  modular_ss220/emotes/code/emote.dm
  modular_ss220/emotes/code/emote_names.dm
  modular_ss220/emotes/code/emote_verbs.dm
  modular_ss220/emotes/code/racial_emotes.dm
  modular_ss220/keybindings/_keybindings.dm
  modular_ss220/keybindings/code/emote_keybinds.dm
Labels: :scroll: CL валиден, Звук

#1347 Translate: Cult annoucements
  code/game/gamemodes/cult/runes.dm
  code/modules/antagonists/cult/team_cult.dm
  code/modules/power/engines/singularity/narsie.dm
Labels: :scroll: CL не требуется, :pencil: Перевод

#1351 Delta: Actualization - Chapel, Distribution Monitor, Cleanup
  _maps/map_files220/stations/deltastation.dmm
  modular_ss220/aesthetics/_aesthetics.dme
  modular_ss220/aesthetics/lights/code/flashlight.dm
  modular_ss220/maps220/code/Station/station_areas.dm
Labels: :scroll: CL валиден, Изменение Карты, Керберос

#1355 Fix: Cyberiad Waste and Distribution Monitor
  _maps/map_files220/stations/boxstation.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#1356 fix: nullcheck for news img
  modular_ss220/redis220/code/news.dm
Labels: :scroll: CL не требуется, Фикс

#1357 Cyberiad: Engineering - Piping, Fix Monitoring & Network consoles, Cleanup
  _maps/map_files220/stations/boxstation.dmm
  modular_ss220/objects/_objects.dme
  modular_ss220/objects/code/computer.dm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#1358 Merge Upstream [06.06.2024]
  _maps/map_files/stations/cerestation.dmm
  code/__DEFINES/flags.dm
  code/__DEFINES/layers.dm
  code/__DEFINES/preferences_defines.dm
  code/__HELPERS/filters.dm
  code/__HELPERS/global_lists.dm
  code/__HELPERS/matrices.dm
  code/_onclick/adjacent.dm
  code/_onclick/hud/plane_master.dm
  code/_onclick/hud/plane_master_controller.dm
  code/controllers/configuration/configuration_core.dm
  code/controllers/configuration/sections/lighting_effects_configuration.dm
  code/game/atoms.dm
  code/game/machinery/computer/camera_console.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/deployable.dm
  code/game/machinery/requests_console.dm
  code/game/mecha/mecha_actions.dm
  code/game/objects/items/sport.dm
  code/game/objects/items/weapons/grenades/grenade.dm
  code/game/objects/items/weapons/lighters.dm
  code/game/objects/structures/holosigns.dm
  code/game/objects/structures/morgue.dm
  code/game/objects/structures/railings.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/bloom_edit.dm
  code/modules/client/login_processing/10-load_preferences.dm
  code/modules/client/preference/link_processing.dm
  code/modules/client/preference/preferences.dm
  code/modules/client/preference/preferences_mysql.dm
  code/modules/client/preference/preferences_toggles.dm
  code/modules/fish/fishtank.dm
  code/modules/food_and_drinks/recipes/recipes_microwave.dm
  code/modules/lighting/lighting_atom.dm
  code/modules/lighting/lighting_source.dm
  code/modules/power/lights.dm
  config/example/config.toml
  icons/effects/exposures.dmi
  icons/obj/dropwall.dmi
  icons/obj/lamps.dmi
  icons/obj/lighting.dmi
  paradise.dme
  tgui/packages/tgui/interfaces/BloomEdit.js
  tgui/public/tgui.bundle.js
Labels: :scroll: CL валиден, Требуется изменение конфига, Изменение Карты, Спрайты, TGUI

#1345 [Tweak] Lights bloom should fit our lamps
  modular_ss220/aesthetics/lights/code/lights.dm
  modular_ss220/aesthetics/lights/icons/lamps.dmi
Labels: :scroll: CL валиден, Спрайты, Do Not Merge, Stale Exempt

#1361 [Fix] Camera render fix
  modular_ss220/camera_nanomap/code/camera.dm
Labels: :scroll: CL валиден

#1362 Fix: Gripper can be used again
  modular_ss220/silicons/code/items/gripper.dm
  modular_ss220/silicons/code/robot_modules.dm
Labels: :scroll: CL валиден, Фикс

#1368 Звёздные войны 13
  modular_ss220/objects/_objects.dme
  modular_ss220/objects/code/components.dm
  modular_ss220/prime_only/_prime.dme
  modular_ss220/prime_only/code/objects.dm
  modular_ss220/prime_only/icons/saber.dmi
  modular_ss220/prime_only/icons/saber_left.dmi
  modular_ss220/prime_only/icons/saber_right.dmi
  modular_ss220/prime_only/sound/weapons/gr_saberhit.ogg
  modular_ss220/prime_only/sound/weapons/gr_saberoff.ogg
  modular_ss220/prime_only/sound/weapons/gr_saberon.ogg
  modular_ss220/prime_only/sound/weapons/kel_saberhit.ogg
  modular_ss220/prime_only/sound/weapons/kel_saberoff.ogg
  modular_ss220/prime_only/sound/weapons/kel_saberon.ogg
  modular_ss220/prime_only/sound/weapons/kir_saberhit.ogg
  modular_ss220/prime_only/sound/weapons/kir_saberoff.ogg
  modular_ss220/prime_only/sound/weapons/kir_saberon.ogg
  modular_ss220/prime_only/sound/weapons/mid_saberhit.ogg
  modular_ss220/prime_only/sound/weapons/mid_saberoff.ogg
  modular_ss220/prime_only/sound/weapons/mid_saberon.ogg
  modular_ss220/prime_only/sound/weapons/norm_saberhit.ogg
  modular_ss220/prime_only/sound/weapons/norm_saberoff.ogg
  modular_ss220/prime_only/sound/weapons/norm_saberon.ogg
  modular_ss220/prime_only/sound/weapons/sh_saberhit.ogg
  modular_ss220/prime_only/sound/weapons/sh_saberoff.ogg
  modular_ss220/prime_only/sound/weapons/sh_saberon.ogg
Labels: :scroll: CL валиден, Звук, Спрайты

#1369 Update DNA tts seed on VV change
  modular_ss220/text_to_speech/code/tts_component.dm
Labels: :scroll: CL валиден

#1373 Fix: more optimal redis bandaid
  code/controllers/subsystem/SSredis.dm
  modular_ss220/redis220/code/tgs_deploy_bandaid.dm
Labels: :scroll: CL не требуется, Фикс

#1377 Merge Upstream [11.07.2024]
  code/__DEFINES/cloning_defines.dm
  code/__DEFINES/combat_defines.dm
  code/__DEFINES/dcs/signals.dm
  code/_onclick/hud/action_button.dm
  code/_onclick/hud/robot_hud.dm
  code/controllers/configuration/sections/movement_configuration.dm
  code/datums/status_effects/debuffs.dm
  code/datums/uplink_items/uplink_general.dm
  code/game/gamemodes/cult/blood_magic.dm
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/machinery/clonescanner.dm
  code/game/machinery/computer/cloning.dm
  code/game/machinery/rechargestation.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/flash.dm
  code/game/objects/items/devices/laserpointer.dm
  code/game/objects/items/devices/traitordevices.dm
  code/game/objects/items/robot/robot_items.dm
  code/game/objects/items/robot/robot_parts.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/objects/items/tools/welder.dm
  code/game/objects/items/weapons/cigs.dm
  code/game/objects/items/weapons/melee/energy_melee_weapons.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/modules/antagonists/changeling/powers/shriek.dm
  code/modules/clothing/chameleon.dm
  code/modules/mob/language.dm
  code/modules/mob/living/carbon/carbon_status_procs.dm
  code/modules/mob/living/carbon/carbon_update_status.dm
  code/modules/mob/living/living_say.dm
  code/modules/mob/living/silicon/ai/ai_mob.dm
  code/modules/mob/living/silicon/robot/component.dm
  code/modules/mob/living/silicon/robot/robot_damage.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
  code/modules/mob/living/silicon/robot/robot_life.dm
  code/modules/mob/living/silicon/robot/robot_mob.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/silicon/robot/robot_movement.dm
  code/modules/mob/living/silicon/robot/robot_update_status.dm
  code/modules/mob/living/silicon/silicon_mob.dm
  code/modules/mob/living/simple_animal/hostile/mining/basilisk.dm
  code/modules/mob/living/simple_animal/hostile/syndicate_mobs.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/research/designs/biogenerator_designs.dm
  code/modules/supply/supply_console.dm
  code/modules/tgui/tgui_input/keycombo_input.dm
  config/example/config.toml
  modular_ss220/objects/code/weapons/melee/electrostaff.dm
  paradise.dme
  sound/machines/reboot_chime.ogg
  sound/machines/shut_down.ogg
  tgui/packages/tgui/interfaces/KeyComboModal.tsx
  tgui/public/tgui.bundle.js
Labels: :scroll: CL валиден, Требуется изменение конфига, Звук, TGUI, :clock12: Ждёт мержа

#1317 Fix: Neon shoes overlay
  modular_ss220/clothing/code/shoes.dm
  modular_ss220/loadout/code/donor.dm
Labels: :scroll: CL валиден, Фикс

#1289 [PRIME] Reduce lootdrop chance from megafauna
  modular_ss220/prime_only/_prime.dme
  modular_ss220/prime_only/code/megafauna.dm
Labels: :scroll: CL валиден, :clock12: Ждёт мержа, Stale Exempt

#1370 VIP получает возможность говорить на всех языках
  modular_ss220/jobs/code/donor/job/5_tier_jobs.dm
Labels: :scroll: CL валиден

#1371 Fix relate jobs?
  modular_ss220/jobs/code/jobs.dm
Labels: :scroll: CL не требуется, Фикс, Testmerge Required

#1381 Снятие языков у випа, выдача представителям
  modular_ss220/jobs/code/donor/job/4_tier_jobs.dm
  modular_ss220/jobs/code/donor/job/5_tier_jobs.dm
Labels: :scroll: CL валиден

#1382 Update Labeler
  .github/labeler.yml
  .github/workflows/label.yml
Labels: :scroll: CL не требуется

#1383 Fix: Label name
  .github/labeler.yml
Labels: :scroll: CL не требуется, Фикс

#1364 Add: Russian pronounses & declensions for better translations
  modular_ss220/_misc/_misc.dme
  modular_ss220/_misc/code/pronouns.dm
Labels: :scroll: CL не требуется, QoL

#1384 Debuff spacecash of VIP and Banker
  modular_ss220/jobs/code/donor/job/5_tier_jobs.dm
Labels: :scroll: CL валиден

#1385 Translate: Move time to declensions
  code/__HELPERS/time.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/gamemodes/malfunction/Malf_Modules.dm
  code/modules/admin/topic.dm
  code/modules/mob/living/silicon/ai/ai_mob.dm
  code/modules/mob/living/silicon/ai/ai_say.dm
  code/modules/security_levels/security_level_datums.dm
  code/modules/shuttle/emergency.dm
Labels: :pencil: Перевод

#1388 Increace display layers to 3.4
  _maps/map_files220/stations/boxstation.dmm
  _maps/map_files220/stations/deltastation.dmm
  modular_ss220/maps220/code/layers.dm
Labels: :scroll: CL не требуется, Фикс, Кибериада, Керберос

#1389 BandaStation labeler tweaks
  .github/labeler.yml
Labels: :scroll: CL не требуется

#1378 Paintable multi-tile airlocks
  modular_ss220/objects/_objects.dme
  modular_ss220/objects/code/airlock_painter.dm
Labels: :scroll: CL валиден

#1386 [Remap] Delta: psychologist office restoration
  _maps/map_files220/stations/deltastation.dmm
Labels: :scroll: CL валиден, Керберос

#1363 Translate: Antagonists Objectives
  code/game/gamemodes/objective.dm
Labels: :scroll: CL не требуется, :pencil: Перевод

#1387 [PRIME ONLY] Explorer Uniform Update
  modular_ss220/prime_only/_prime.dme
  modular_ss220/prime_only/code/clothing/under.dm
  modular_ss220/prime_only/code/outfit.dm
  modular_ss220/prime_only/code/vending.dm
  modular_ss220/prime_only/icons/mob/species/drask/under/cargo.dmi
  modular_ss220/prime_only/icons/mob/species/kidan/under/cargo.dmi
  modular_ss220/prime_only/icons/mob/species/vox/under/cargo.dmi
  modular_ss220/prime_only/icons/mob/under.dmi
  modular_ss220/prime_only/icons/object/under.dmi
Labels: :scroll: CL валиден, :paintbrush: Спрайты

#1392 [FIX] Фикс спрайта хамптера дедов в правой
  modular_ss220/objects/icons/inhands/hampter_righthand.dmi
Labels: :scroll: CL валиден, :wrench: Фикс, :paintbrush: Спрайты

#1394 Holopad TTS fix
  modular_ss220/text_to_speech/_tts.dme
  modular_ss220/text_to_speech/code/obj/hologram.dm
Labels: :scroll: CL валиден

#1367 Few new features for skrells
  modular_ss220/balance/_balance.dme
  modular_ss220/balance/code/species/skrell.dm
Labels: :scroll: CL валиден

#1393 Amber ERT overhaul
  modular_ss220/clothing/code/helmet.dm
  modular_ss220/clothing/code/suits.dm
  modular_ss220/clothing/icons/mob/helmet.dmi
  modular_ss220/clothing/icons/mob/species/drask/helmet.dmi
  modular_ss220/clothing/icons/mob/species/drask/suits.dmi
  modular_ss220/clothing/icons/mob/species/kidan/helmet.dmi
  modular_ss220/clothing/icons/mob/species/kidan/suits.dmi
  modular_ss220/clothing/icons/mob/species/tajaran/helmet.dmi
  modular_ss220/clothing/icons/mob/species/vox/helmet.dmi
  modular_ss220/clothing/icons/mob/species/vox/suits.dmi
  modular_ss220/clothing/icons/mob/species/vulpkanin/helmet.dmi
  modular_ss220/clothing/icons/mob/suits.dmi
  modular_ss220/clothing/icons/object/helmet.dmi
  modular_ss220/clothing/icons/object/suits.dmi
  modular_ss220/outfits/code/outfits.dm
Labels: :scroll: CL валиден, :paintbrush: Спрайты

#1398 Grayscaled wooden tiles
  modular_ss220/aesthetics/_aesthetics.dm
  modular_ss220/aesthetics/_aesthetics.dme
  modular_ss220/aesthetics/decals/code/decals.dm
  modular_ss220/aesthetics/floors/code/floors.dm
  modular_ss220/aesthetics/floors/code/tile_types.dm
  modular_ss220/aesthetics/floors/code/wood.dm
  modular_ss220/aesthetics/floors/icons/tiles.dmi
  modular_ss220/aesthetics/floors/icons/wooden.dmi
Labels: :scroll: CL валиден, :paintbrush: Спрайты

#1395 New Robolimbs
  modular_ss220/modular_ss220.dme
  modular_ss220/robolimbs/_robolimbs.dm
  modular_ss220/robolimbs/_robolimbs.dme
  modular_ss220/robolimbs/code/robolimbs.dm
  modular_ss220/robolimbs/icons/etaminindustry_alt1.dmi
  modular_ss220/robolimbs/icons/etaminindustry_alt2.dmi
  modular_ss220/robolimbs/icons/etaminindustry_main.dmi
Labels: :scroll: CL валиден, :paintbrush: Спрайты

#1401 [TGUI] Stack Craft
  code/game/objects/items/stacks/stack.dm
  modular_ss220/aesthetics/_aesthetics.dm
  modular_ss220/modular_ss220.dme
  modular_ss220/stack_craft_tgui/README.md
  modular_ss220/stack_craft_tgui/_stack_craft_tgui.dm
  modular_ss220/stack_craft_tgui/_stack_craft_tgui.dme
  modular_ss220/stack_craft_tgui/code/stack.dm
  modular_ss220/stack_craft_tgui/code/stack_recipe.dm
  modular_ss220/stack_craft_tgui/code/stack_ui.dm
  tgui/packages/tgui/components/Collapsible.js
  tgui/packages/tgui/interfaces/StackCraft220.js
  tgui/packages/tgui/styles/components/ImageButton.scss
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: :neckbeard: Документация, :scroll: CL валиден, TGUI

#1404 Fix bad Necropolis crate
  _maps/map_files220/generic/Lavaland.dmm
Labels: :scroll: CL валиден, :wrench: Фикс, :world_map: Изменение Карты

#1405 More wood tiles
  modular_ss220/aesthetics/_aesthetics.dm
  modular_ss220/aesthetics/floors/code/wood.dm
Labels: :trollface: Фича, :scroll: CL валиден
