Repository ss220club/Paradise-SS220, pull requests merged in 2024-04, with the labels that each got.

#1151 add: Aprils fools credits
  modular_ss220/credits/_credits.dme
  modular_ss220/credits/code/SScredits.dm
  modular_ss220/credits/code/aprils_fool_credits.dm
Labels: :scroll: CL валиден

#1147 Paramedic access tweak
  modular_ss220/balance/code/access/access.dm
Labels: :scroll: CL валиден

#1140 fix: Invisible items into SOL trader box
  modular_ss220/jobs/code/objects/job_objects.dm
Labels: :scroll: CL валиден

#1155 Unit test runtime no more
  code/controllers/master.dm
Labels: :scroll: CL не требуется, НЕ МОДУЛЬНО

#957 Terror spider spawn refactor
  modular_ss220/events/_events.dme
  modular_ss220/events/code/spider_terror.dm
Labels: :scroll: CL валиден, Testmerge Required

#1156 Перевод ментор и админ тикетов
  code/controllers/subsystem/tickets/mentor_tickets.dm
  code/controllers/subsystem/tickets/tickets.dm
Labels: НЕ МОДУЛЬНО

#1159 [TWEAK] Automatically added station name in bureaucracy forms
  modular_ss220/bureaucracy/code/forms.dm
Labels: :scroll: CL валиден

#1160 Modifying TTS Component needs VAREDIT, not ADMIN
  modular_ss220/text_to_speech/code/tts_component.dm
  modular_ss220/text_to_speech/code/tts_vv.dm
Labels: :scroll: CL не требуется

#1158 Fix some template typos
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/issue_report.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: :scroll: CL не требуется

#1163 fix: Labeler doesn't apply labels on maps
  .github/labeler.yml
Labels: :scroll: CL не требуется

#1166 fix: Replace incorrect area on Delta
  _maps/map_files220/stations/deltastation.dmm
Labels: :scroll: CL валиден, Изменение Карты, Керберос

#1162 [Cyberiad] Fix xeno Kill Chamber
  _maps/map_files220/stations/boxstation.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#1172 Little refactor maps module & fix space on lavaland ruins
  _maps/map_files220/RandomRuins/LavaRuins/cheesus_temple.dmm
  _maps/map_files220/RandomRuins/LavaRuins/scp_facility.dmm
  code/game/area/areas.dm
  modular_ss220/maps220/_maps220.dme
  modular_ss220/maps220/code/RandomRuins/gateway/gateway_areas.dm
  modular_ss220/maps220/code/RandomRuins/gateway/gateway_turfs.dm
  modular_ss220/maps220/code/RandomRuins/lavaland/lavaland_areas.dm
  modular_ss220/maps220/code/RandomRuins/lavaland/lavaland_ruins.dm
  modular_ss220/maps220/code/RandomRuins/lavaland/lavaland_turfs.dm
  modular_ss220/maps220/code/RandomRuins/space/space_areas.dm
  modular_ss220/maps220/code/RandomRuins/space/space_ruins.dm
  modular_ss220/maps220/code/Station/station_areas.dm
Labels: :scroll: CL валиден, Изменение Карты

#1174 Access tweak №28767
  _maps/map_files220/stations/boxstation.dmm
  _maps/map_files220/stations/deltastation.dmm
  _maps/map_files220/stations/metastation.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада, Керберос, Цереброн

#1176 Refactor modular object directions
  _maps/map_files220/RandomRuins/SpaceRuins/spacehotel.dmm
  _maps/map_files220/RandomZLevels/gate_lizard.dmm
  _maps/map_files220/RandomZLevels/spacebattle.dmm
  _maps/map_files220/generic/centcomm.dmm
  _maps/map_files220/stations/boxstation.dmm
  _maps/map_files220/stations/deltastation.dmm
  _maps/map_files220/stations/metastation.dmm
  modular_ss220/aesthetics/airalarm/icons/airalarm.dmi
  modular_ss220/aesthetics/atm/icons/atm.dmi
  modular_ss220/maps220/code/directions.dm
Labels: :scroll: CL не требуется, Изменение Карты, Спрайты, Кибериада, Керберос, Цереброн

#1177 fix: Contractor
  code/modules/antagonists/traitor/contractor/datums/objective_contract.dm
Labels: :scroll: CL валиден, НЕ МОДУЛЬНО

#1135 Convert span to macro in our modulars
  modular_ss220/agent_id_tgui/code/agent_id_tgui.dm
  modular_ss220/awaymission_gun/code/items/awaymission_gun.dm
  modular_ss220/balance/code/mobs/aliens/larva.dm
  modular_ss220/balance/code/species/machine.dm
  modular_ss220/cinematics/code/cinematics_ticker.dm
  modular_ss220/clothing/code/hev_suit.dm
  modular_ss220/detective_rework/code/sample_kits.dm
  modular_ss220/detective_rework/code/swabs.dm
  modular_ss220/food/code/drinks.dm
  modular_ss220/food/code/food/food.dm
  modular_ss220/food/code/food/nails.dm
  modular_ss220/hydroponics/code/plants.dm
  modular_ss220/jukebox/code/jukebox.dm
  modular_ss220/maps220/code/RandomRuins/gateway/gateway_turfs.dm
  modular_ss220/maps220/code/objects.dm
  modular_ss220/mecha_skins/code/paintkit_install.dm
  modular_ss220/mobs/code/mob_holder.dm
  modular_ss220/mobs/code/pet_carrier.dm
  modular_ss220/mobs/code/simple_animal/friendly/frog.dm
  modular_ss220/mobs/code/simple_animal/friendly/hamster.dm
  modular_ss220/mobs/code/simple_animal/hostile/headcrab.dm
  modular_ss220/mobs/code/simple_animal/hostile/syndi_rat.dm
  modular_ss220/mobs/code/simple_animal/pets/rouge.dm
  modular_ss220/mobs/code/simple_animal/pets/security_dogs.dm
  modular_ss220/mobs/code/simple_animal/pets/slugcat.dm
  modular_ss220/objects/code/card_skins.dm
  modular_ss220/objects/code/electrostaff.dm
  modular_ss220/objects/code/hampters.dm
  modular_ss220/objects/code/mecha/lockermech.dm
  modular_ss220/objects/code/papershredder.dm
  modular_ss220/objects/code/weapons.dm
  modular_ss220/silicons/code/robot_items.dm
  modular_ss220/unique_objects/code/unique_objects.dm
  modular_ss220/windows_airbag/code/windows_airbag.dm
  modular_ss220/wire_splicing/code/wiresplicing.dm
Labels: :scroll: CL не требуется

#1180 fix airalarm direction
  modular_ss220/aesthetics/airalarm/icons/airalarm.dmi
Labels: :scroll: CL валиден, Спрайты

#1182 Fix: Closet layer
  modular_ss220/maps220/code/layers.dm
Labels: :scroll: CL валиден

#1183 [FIX] Nucleation clothing sprites
  modular_ss220/clothing/code/accessories.dm
  modular_ss220/clothing/code/hats.dm
  modular_ss220/clothing/code/helmet.dm
  modular_ss220/clothing/code/suits.dm
  modular_ss220/clothing/code/under.dm
Labels: :scroll: CL валиден

#1138 Консоль для мониторинга температуры и давления
  _maps/map_files220/stations/boxstation.dmm
  _maps/map_files220/stations/deltastation.dmm
  _maps/map_files220/stations/metastation.dmm
  modular_ss220/modular_ss220.dme
  modular_ss220/pt_monitor/_pt_monitor.dm
  modular_ss220/pt_monitor/_pt_monitor.dme
  modular_ss220/pt_monitor/code/items/pt_monitor.dm
  modular_ss220/pt_monitor/icons/pt_monitor.dmi
  tgui/packages/tgui/interfaces/AtmosGraphMonitor.tsx
  tgui/public/tgui.bundle.js
Labels: :scroll: CL валиден, Изменение Карты, Спрайты, Кибериада, Керберос, Цереброн, TGUI, Testmerge Required

#1190 tweak: whitelist auto update
  modular_ss220/whitelist/_whitelist.dm
  modular_ss220/whitelist/code/whitelist.dm
Labels: :scroll: CL валиден

#1187 Tweak: spacebattle hardsuit incident
  _maps/map_files220/RandomZLevels/spacebattle.dmm
  modular_ss220/clothing/code/suits.dm
  modular_ss220/maps220/code/mobs.dm
Labels: :scroll: CL валиден, Изменение Карты

#1191 Fix Change Voice voice selection
  modular_ss220/text_to_speech/code/tts_component.dm
Labels: :scroll: CL валиден

#1189 Remove double Epsilon annoucement
  modular_ss220/aesthetics_sounds/code/alerts.dm
  modular_ss220/aesthetics_sounds/sound/epsilon/epsilon_code_elevate.ogg
Labels: :scroll: CL валиден, Звук

#1195 Better changelog validation
  tools/changelog/check_changelog.py
  tools/changelog/tags.yml
Labels: :scroll: CL не требуется, Инструменты

#1198 Validate CL on ready_for_review
  .github/workflows/check_changelog.yml
Labels: :scroll: CL не требуется

#1205 Blyat
  tgui/public/tgui.html
Labels: :scroll: CL не требуется, TGUI

#1196 RD buttons tweak
  _maps/map_files220/stations/boxstation.dmm
  _maps/map_files220/stations/metastation.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада, Цереброн

#1204 Add ID Skins to Prize Counter
  modular_ss220/objects/_objects.dme
  modular_ss220/objects/code/card_skins.dm
  modular_ss220/objects/code/id_skins/_id_skins_base.dm
  modular_ss220/objects/code/id_skins/id_skins.dm
  modular_ss220/objects/code/id_skins/id_skins_spawners.dm
  modular_ss220/objects/icons/id_skins.dmi
Labels: :scroll: CL валиден, Спрайты

#1207 Make Exploreverse elligible to use in Space Ruins levels
  modular_ss220/awaymission_gun/code/items/awaymission_gun.dm
Labels: :scroll: CL валиден
