Repository ss220club/Paradise-SS220, pull requests merged in 2024-11, with the labels that each got.

#1639 Update declent initial
  modular_ss220/translations/code/ru_names/ru_name_base.dm
Labels: :scroll: CL не требуется

#1641 Fix holopad runtime
  modular_ss220/text_to_speech/code/obj/hologram.dm
Labels: :scroll: CL не требуется, :wrench: Фикс

#1638 Use element for red alert access
  modular_ss220/_defines220/code/signals_obj.dm
  modular_ss220/security_redalert_accesses/_security_redalert_accesses.dm
  modular_ss220/security_redalert_accesses/_security_redalert_accesses.dme
  modular_ss220/security_redalert_accesses/code/security_redalert_accesses.dm
  modular_ss220/security_redalert_accesses/code/security_redalert_element.dm
Labels: :scroll: CL валиден, :wrench: Фикс

#1643 Merge Upstream 06.11.2024
  code/game/atoms.dm
  code/game/gamemodes/cult/runes.dm
  code/game/machinery/guestpass.dm
  code/game/machinery/recharger.dm
  code/game/mecha/equipment/mecha_equipment.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/effects/decals/Cleanable/tracks.dm
  code/game/objects/effects/effects.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/cigs.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/game/objects/items/weapons/lighters.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/storage/storage_base.dm
  code/game/objects/structures/signs.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/atmospherics/machinery/atmospherics.dm
  code/modules/atmospherics/machinery/pipes/pipe.dm
  code/modules/awaymissions/mission_code/ghost_role_spawners/golems.dm
  code/modules/clothing/clothing.dm
  code/modules/hydroponics/hydroponics_tray.dm
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/bot/bot_construction.dm
  code/modules/mob/mob.dm
  code/modules/paperwork/photography.dm
  code/modules/power/engines/supermatter/supermatter.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/surgery/organs/organ_external.dm
  code/modules/surgery/organs/subtypes/standard_organs.dm
  modular_ss220/cinematics/code/cinematics.dm
  modular_ss220/cinematics/code/cinematics/credits.dm
  tgui/packages/tgui-panel/chat/renderer.js
  tgui/public/tgui-panel.bundle.js
  tools/ci/check_grep2.py
Labels: :scroll: CL валиден, :guitar: Инструменты, TGUI, :pray: Слияние с восходящим потоком

#1646 Fix: CentCom crematorium
  _maps/map_files220/generic/centcomm.dmm
Labels: :scroll: CL валиден, :world_map: Изменение Карты

#1645 Tweak: Corporate modsuit black
  modular_ss220/clothing/code/mod.dm
  modular_ss220/clothing/icons/mob/mod_clothing.dmi
  modular_ss220/clothing/icons/mob/species/grey/mod_clothing.dmi
  modular_ss220/clothing/icons/mob/species/skrell/mod_clothing.dmi
  modular_ss220/clothing/icons/mob/species/tajaran/mod_clothing.dmi
  modular_ss220/clothing/icons/mob/species/unathi/mod_clothing.dmi
  modular_ss220/clothing/icons/mob/species/vox/mod_clothing.dmi
  modular_ss220/clothing/icons/mob/species/vulpkanin/mod_clothing.dmi
  modular_ss220/clothing/icons/object/mod_clothing.dmi
Labels: :scroll: CL валиден, :paintbrush: Спрайты

#1620 Delta basic overhaul
  _maps/map_files220/stations/deltastation.dmm
Labels: :scroll: CL валиден, Керберос

#1650 Delta fix visual overhaul update issues
  _maps/map_files220/stations/deltastation.dmm
Labels: :scroll: CL не требуется, :wrench: Фикс, Керберос

#1660 Fix ID Skins interaction
  modular_ss220/objects/code/id_skins/_id_skins_base.dm
Labels: :scroll: CL валиден, :wrench: Фикс

#1661 Connect turbine room to the central life support atmospherics
  _maps/map_files220/stations/deltastation.dmm
Labels: :scroll: CL валиден, :wrench: Фикс, Керберос

#1665 Add additional platform sprites
  _maps/map_files220/stations/deltastation.dmm
  modular_ss220/objects/icons/platform.dmi
Labels: :scroll: CL не требуется, :paintbrush: Спрайты, Керберос

#1664 New haircuts and small fix
  modular_ss220/hairs/code/human_hair.dm
  modular_ss220/hairs/code/vulpkanin_hair.dm
  modular_ss220/hairs/icons/human_hair.dmi
  modular_ss220/hairs/icons/vulpkanin_hair.dmi
  modular_ss220/species/code/mob/new_player/sprite_accessories/nucleation/nucleation_face.dm
  modular_ss220/species/icons/mob/sprite_accessories/nucleation/nucleation_face.dmi
Labels: :scroll: CL валиден, :wrench: Фикс, :paintbrush: Спрайты

#1628 Robotics translation
  code/game/mecha/combat/durand.dm
  code/game/mecha/combat/gygax.dm
  code/game/mecha/combat/honker.dm
  code/game/mecha/combat/marauder.dm
  code/game/mecha/combat/phazon.dm
  code/game/mecha/combat/reticence.dm
  code/game/mecha/equipment/tools/janitor_tools.dm
  code/game/mecha/equipment/tools/mecha_mining_tools.dm
  code/game/mecha/equipment/tools/medical_tools.dm
  code/game/mecha/equipment/tools/other_tools.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/mecha/janitor/nkarrdem.dm
  code/game/mecha/mech_fabricator.dm
  code/game/mecha/medical/odysseus.dm
  code/game/mecha/working/ripley.dm
Labels: :pencil: Перевод, :clock12: Ждёт мержа

#1667 Fix ERP jackets
  modular_ss220/clothing/code/suits.dm
Labels: :scroll: CL валиден, :wrench: Фикс

#1669 Prevent Nanomaps Render failure if no changes
  .github/workflows/render_nanomaps.yml
Labels: :scroll: CL не требуется, :wrench: Фикс, :guitar: Инструменты

#1670 Update render_nanomaps.yml
  .github/workflows/render_nanomaps.yml
Labels: :scroll: CL не требуется, :wrench: Фикс, :guitar: Инструменты

#1674 Added a vial storage box to metastation
  _maps/map_files220/stations/metastation.dmm
Labels: :scroll: CL валиден, Цереброн
