Repository ss220club/Paradise-SS220, pull requests merged in 2024-09, with the labels that each got.

#1459 Fix: Remap RnD | Delta
  _maps/map_files220/stations/deltastation.dmm
Labels: :scroll: CL валиден, :wrench: Фикс, Керберос

#1447 Add: Новые прически
  modular_ss220/hairs/_hairs.dm
  modular_ss220/hairs/code/human_hair.dm
  modular_ss220/hairs/icons/human_hair.dmi
Labels: :scroll: CL валиден, :paintbrush: Спрайты

#1457 Fix TTS Explorer layout
  tgui/packages/tgui/interfaces/TTSSeedsExplorer.tsx
  tgui/public/tgui.bundle.js
Labels: :scroll: CL не требуется, :wrench: Фикс, TGUI

#1462 Исправлена одна из новых причесок
  modular_ss220/hairs/icons/human_hair.dmi
Labels: :scroll: CL валиден, :wrench: Фикс, :paintbrush: Спрайты

#1157 add: ultimate worker
  modular_ss220/donor/code/client_procs.dm
Labels: :scroll: CL не требуется, Stale Exempt

#1463 Ulfric+emperor tier 5
  modular_ss220/prime_only/_prime.dme
  modular_ss220/prime_only/code/tts_seeds.dm
Labels: :scroll: CL невалиден

#1461 Fix: Delta RnD another tweaks & fixes
  _maps/map_files220/stations/deltastation.dmm
Labels: :scroll: CL валиден, :wrench: Фикс, :shipit: Улучшение, Керберос

#1464 HotFix | Robotics Request Console | Delta
  _maps/map_files220/stations/deltastation.dmm
Labels: :scroll: CL валиден, Керберос

#1465 Apply Request Console directions UpdatePath
  _maps/map_files220/generic/Lavaland.dmm
  _maps/map_files220/stations/boxstation.dmm
  _maps/map_files220/stations/deltastation.dmm
  _maps/map_files220/stations/metastation.dmm
Labels: :scroll: CL не требуется, Кибериада, Керберос, Цереброн

#1467 Requests Console `department` Fix
  _maps/map_files220/stations/deltastation.dmm
  modular_ss220/maps220/code/Station/station_areas.dm
  modular_ss220/modular_ss220.dme
  modular_ss220/unit_tests/_unit_tests.dm
  modular_ss220/unit_tests/_unit_tests.dme
  modular_ss220/unit_tests/code/requests_console.dm
Labels: :scroll: CL валиден, :wrench: Фикс, Керберос

#1473 Урчащие вульпы
  modular_ss220/emotes/audio/vulpkanin/purr.ogg
  modular_ss220/emotes/code/emote.dm
  modular_ss220/emotes/code/emote_names.dm
  modular_ss220/emotes/code/emote_verbs.dm
  modular_ss220/emotes/code/racial_emotes.dm
  modular_ss220/keybindings/code/emote_keybinds.dm
Labels: :scroll: CL валиден, :sound: Звук

#1472 Новая голова для КПБ с визорами
  modular_ss220/robolimbs/code/robolimbs.dm
  modular_ss220/robolimbs/icons/ei_optic.dmi
  modular_ss220/robolimbs/icons/etaminindustry_alt3.dmi
Labels: :scroll: CL валиден, :paintbrush: Спрайты

#1475 Edit exit checkpoint area on Cerebron
  _maps/map_files220/stations/metastation.dmm
Labels: :scroll: CL валиден, :wrench: Фикс, Цереброн

#1474 Set general access for vacant office on Kerberos
  _maps/map_files220/stations/deltastation.dmm
Labels: :scroll: CL валиден, :wrench: Фикс, Керберос

#1469 Fix failing nanomap action
  tools/github-actions/nanomap-renderer-invoker.sh
Labels: :scroll: CL не требуется, :wrench: Фикс, :guitar: Инструменты

#1434 [TM] Bulky lasers
  modular_ss220/balance/code/items/weapons.dm
Labels: :trollface: Фича, :scroll: CL валиден

#1479 Improve `fancy` food and move vulpix vendors
  _maps/map_files220/stations/boxstation.dmm
  _maps/map_files220/stations/deltastation.dmm
  _maps/map_files220/stations/metastation.dmm
  code/game/machinery/constructable_frame.dm
  modular_ss220/food_and_drinks/code/food/fancy_food.dm
  modular_ss220/objects/code/plushies/macvulpix.dm
  modular_ss220/objects/icons/posters.dmi
Labels: :scroll: CL валиден, :shipit: Улучшение, :paintbrush: Спрайты, Кибериада, Керберос, Цереброн

#1481 Fix wire splicing spawning
  modular_ss220/wire_splicing/code/wiresplicing.dm
Labels: :scroll: CL валиден, :wrench: Фикс

#1483 New Autolathe UI
  modular_ss220/autolathe_tgui/_autolathe_tgui.dm
  modular_ss220/autolathe_tgui/_autolathe_tgui.dme
  modular_ss220/autolathe_tgui/code/autolathe_ui.dm
  modular_ss220/modular_ss220.dme
  tgui/packages/tgui/interfaces/Autolathe220.tsx
  tgui/public/tgui.bundle.js
Labels: :scroll: CL валиден, TGUI

#1486 Qol changes for auto ERT
  _maps/map_files220/generic/centcomm.dmm
Labels: :scroll: CL валиден, :world_map: Изменение Карты, :shipit: Улучшение

#1489 Improve TTS
  modular_ss220/text_to_speech/code/tts_subsystem.dm
Labels: :scroll: CL валиден

#1490 Fix Agent ID appearance choose
  tgui/packages/tgui/interfaces/AgentCard.js
  tgui/public/tgui.bundle.js
Labels: :scroll: CL валиден, :wrench: Фикс, TGUI

#1493 Fix gravgen position
  _maps/map_files220/stations/boxstation.dmm
  _maps/map_files220/stations/deltastation.dmm
  _maps/map_files220/stations/metastation.dmm
Labels: :scroll: CL валиден, :wrench: Фикс, Кибериада, Керберос, Цереброн

#1496 Fix: Server Coldroom & Xeno Fridge: Plasma windows | Boxstation/Deltastation/Metastation
  _maps/map_files220/stations/boxstation.dmm
  _maps/map_files220/stations/deltastation.dmm
  _maps/map_files220/stations/metastation.dmm
Labels: :scroll: CL валиден, Кибериада, Керберос, Цереброн

#1498 Rearrange some cameras on Cyberiad
  _maps/map_files220/stations/boxstation.dmm
Labels: :scroll: CL валиден, :shipit: Улучшение, Кибериада

#1499 Make `ururu` and `bark` cooldown 10 seconds
  modular_ss220/emotes/code/emote.dm
Labels: :scroll: CL валиден, :shipit: Улучшение

#1497 [PRIME] Неразрушимый крематорий и телепортация при гибе шаттлом в космосе
  modular_ss220/prime_only/_prime.dme
  modular_ss220/prime_only/code/crematorium.dm
  modular_ss220/prime_only/code/shuttle_gib.dm
Labels: :scroll: CL валиден, :wrench: Фикс, :clock12: Ждёт мержа

#1492 Add TTS seeds for constructs
  modular_ss220/text_to_speech/code/base_seeds/mobs/other.dm
Labels: :scroll: CL валиден

#1503 fix: credits
  modular_ss220/credits/code/credits.dm
  modular_ss220/credits/code/halloween_credits.dm
Labels: :scroll: CL валиден, :wrench: Фикс

#1494 Новый плащ для ОЦК
  modular_ss220/clothing/code/suits.dm
  modular_ss220/clothing/icons/mob/cloaks.dmi
  modular_ss220/clothing/icons/object/cloaks.dmi
Labels: :scroll: CL валиден, :paintbrush: Спрайты

#1471 Feat: New Skyrat Ghostbar & Move CC-offstation roles to Adminzone
  _maps/map_files220/generic/Admin_Zone.dmm
  _maps/map_files220/generic/centcomm.dmm
  modular_ss220/antagonists/code/guns/dartgun_ammo.dm
  modular_ss220/maps220/code/RandomRuins/gateway/gateway_turfs.dm
  modular_ss220/maps220/code/Station/station_areas.dm
  modular_ss220/maps220/icons/floors.dmi
Labels: :scroll: CL валиден, :world_map: Изменение Карты, :paintbrush: Спрайты, Testmerge Required

#1505 Fix autolinking of mech fabricator
  _maps/map_files220/stations/boxstation.dmm
  _maps/map_files220/stations/deltastation.dmm
  _maps/map_files220/stations/metastation.dmm
Labels: :scroll: CL валиден, :wrench: Фикс, Кибериада, Керберос, Цереброн

#1506 Fix Katarina species sprite
  modular_ss220/clothing/code/under.dm
Labels: :scroll: CL валиден, :wrench: Фикс

#1512 Make `Render Nanomaps` have `CL не требуется`
  .github/workflows/render_nanomaps.yml
Labels: :scroll: CL не требуется, :guitar: Инструменты

#1514 Tweak: Admin_Zone | GhostBar add recharge station
  _maps/map_files220/generic/Admin_Zone.dmm
Labels: :scroll: CL валиден, :world_map: Изменение Карты

#1516 Allow admins to set non votable maps
  code/modules/admin/verbs/mapping_verbs.dm
Labels: :scroll: CL валиден, :finnadie: НЕ МОДУЛЬНО, :shipit: Улучшение

#1521 Enable blank issue forms
  .github/ISSUE_TEMPLATE/config.yml
Labels: :neckbeard: Документация, :scroll: CL не требуется

#1524 Labeler fixes
  .github/labeler.yml
Labels: :scroll: CL не требуется, :wrench: Фикс, :guitar: Инструменты

#1526 Tweak: Adds playtime requirement for Vox Raiders and Blood Brothers (Modular Edition)
  modular_ss220/antagonists/_antagonists.dm
Labels: :scroll: CL валиден, Do Not Merge, Testmerge Required

#1527 Consider `R_BAN` permission as admin permission
  code/game/verbs/who.dm
Labels: :scroll: CL не требуется, :wrench: Фикс, :finnadie: НЕ МОДУЛЬНО

#1532 Projectile Fixes
  modular_ss220/balance/code/items/projectiles.dm
  modular_ss220/maps220/code/walls.dm
Labels: :scroll: CL валиден, :wrench: Фикс

#1533 Clean dirt under walls
  _maps/map_files220/RandomRuins/SpaceRuins/mechtransport_new.dmm
  _maps/map_files220/RandomZLevels/blackmarketpackers.dmm
  _maps/map_files220/RandomZLevels/wildwest.dmm
  _maps/map_files220/generic/centcomm.dmm
  _maps/map_files220/stations/boxstation.dmm
  _maps/map_files220/stations/deltastation.dmm
  _maps/map_files220/stations/metastation.dmm
Labels: :scroll: CL валиден, Кибериада, Керберос, Цереброн

#1534 Merge Upstream 20.09.2024
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  code/__HELPERS/trait_helpers.dm
  code/_globalvars/traits.dm
  code/datums/components/squeak.dm
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/gamemodes/miniantags/revenant/revenant_abilities.dm
  code/game/gamemodes/steal_items.dm
  code/game/jobs/job/engineering_jobs.dm
  code/game/jobs/job/medical_jobs.dm
  code/game/jobs/job/science_jobs.dm
  code/game/jobs/job/security_jobs.dm
  code/game/jobs/job/supervisor.dm
  code/game/jobs/job/support.dm
  code/game/jobs/job/support_chaplain.dm
  code/game/machinery/computer/cloning.dm
  code/game/machinery/cryopod.dm
  code/game/mecha/mech_fabricator.dm
  code/game/objects/items/weapons/caution.dm
  code/game/objects/items/weapons/grenades/atmosgrenade.dm
  code/game/objects/items/weapons/melee/melee_misc.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/secure/security_lockers.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/antagonists/antag_org/antag_org_syndicate.dm
  code/modules/buildmode/submodes/offer.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/mob/living/silicon/ai/freelook/eye.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob_misc_procs.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/rdconsole.dm
  code/modules/surgery/organs/vocal_cords.dm
  icons/misc/buildmode.dmi
  icons/mob/inhands/weapons_lefthand.dmi
  icons/mob/inhands/weapons_righthand.dmi
  icons/obj/reagentfillings.dmi
  icons/obj/weapons/melee.dmi
  paradise.dme
Labels: :scroll: CL валиден, :world_map: Изменение Карты, :paintbrush: Спрайты, :pray: Слияние с восходящим потоком

#1535 You dont see that
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  code/__HELPERS/trait_helpers.dm
  code/_globalvars/traits.dm
  code/datums/components/squeak.dm
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/gamemodes/miniantags/revenant/revenant_abilities.dm
  code/game/gamemodes/steal_items.dm
  code/game/jobs/job/engineering_jobs.dm
  code/game/jobs/job/medical_jobs.dm
  code/game/jobs/job/science_jobs.dm
  code/game/jobs/job/security_jobs.dm
  code/game/jobs/job/supervisor.dm
  code/game/jobs/job/support.dm
  code/game/jobs/job/support_chaplain.dm
  code/game/machinery/computer/cloning.dm
  code/game/machinery/cryopod.dm
  code/game/mecha/mech_fabricator.dm
  code/game/objects/items/weapons/caution.dm
  code/game/objects/items/weapons/grenades/atmosgrenade.dm
  code/game/objects/items/weapons/melee/melee_misc.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/secure/security_lockers.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/antagonists/antag_org/antag_org_syndicate.dm
  code/modules/buildmode/submodes/offer.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/mob/living/silicon/ai/freelook/eye.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob_misc_procs.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/rdconsole.dm
  code/modules/surgery/organs/vocal_cords.dm
  icons/misc/buildmode.dmi
  icons/mob/inhands/weapons_lefthand.dmi
  icons/mob/inhands/weapons_righthand.dmi
  icons/obj/reagentfillings.dmi
  icons/obj/weapons/melee.dmi
  paradise.dme
Labels: :scroll: CL не требуется, :world_map: Изменение Карты, :paintbrush: Спрайты, :pray: Слияние с восходящим потоком

#1536 Add a photocopier to Magistrate's office
  _maps/map_files220/stations/boxstation.dmm
  _maps/map_files220/stations/metastation.dmm
Labels: :scroll: CL валиден, :shipit: Улучшение, Кибериада, Цереброн

#1540 Merge upstream 22.09.2024
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/RandomRuins/SpaceRuins/wizardcrash.dmm
  code/game/mecha/mech_fabricator.dm
  code/game/objects/items/weapons/twohanded.dm
  code/game/turfs/simulated/walls_indestructible.dm
  code/game/turfs/simulated/walls_mineral.dm
  code/modules/mob/mob_misc_procs.dm
  code/modules/research/rdconsole.dm
  icons/_nanomaps/CereStation_nanomap_z1.png
  icons/_nanomaps/EmeraldStation_nanomap_z1.png
  icons/_nanomaps/MetaStation_nanomap_z1.png
  tgui/packages/tgui-panel/chat/constants.js
  tgui/public/tgui-panel.bundle.js
Labels: :scroll: CL невалиден, :finnadie: НЕ МОДУЛЬНО, :world_map: Изменение Карты, TGUI

#1538 Gulag (Labor camp) improvements & Move Lavaland shuttles to CC
  _maps/map_files220/generic/Lavaland.dmm
  _maps/map_files220/generic/centcomm.dmm
  modular_ss220/maps220/code/objects.dm
Labels: :scroll: CL валиден, :world_map: Изменение Карты

#1539 Add: Nanotrasen Food vendor & Refactor fancy food
  _maps/map_files220/generic/centcomm.dmm
  modular_ss220/food_and_drinks/code/drinks.dm
  modular_ss220/food_and_drinks/code/food/fancy_food.dm
  modular_ss220/food_and_drinks/icons/drinks.dmi
  modular_ss220/food_and_drinks/icons/food.dmi
  modular_ss220/food_and_drinks/icons/trash.dmi
  modular_ss220/maps220/code/spawners.dm
  modular_ss220/vending/code/vending_food.dm
  modular_ss220/vending/code/vending_items.dm
  modular_ss220/vending/icons/vending.dmi
Labels: :scroll: CL валиден, :world_map: Изменение Карты, :paintbrush: Спрайты

#1482 Fix saving zoom mode
  interface/skin.dmf
Labels: :scroll: CL валиден

#1546 Фиксы гостбара
  _maps/map_files220/generic/Admin_Zone.dmm
Labels: :scroll: CL валиден, :wrench: Фикс, :world_map: Изменение Карты

#1552 Add new mask: rooster mask
  modular_ss220/clothing/code/clothing_vendors.dm
  modular_ss220/clothing/code/mask.dm
  modular_ss220/clothing/icons/mob/mask.dmi
  modular_ss220/clothing/icons/object/masks.dmi
Labels: :scroll: CL валиден, :paintbrush: Спрайты

#1556 add: new voices
  modular_ss220/text_to_speech/code/_defines.dm
  modular_ss220/text_to_speech/code/seeds/silero.dm
Labels: :scroll: CL валиден

#1558 Малф снова может улучшать турели
  _maps/map_files220/stations/boxstation.dmm
  _maps/map_files220/stations/deltastation.dmm
  _maps/map_files220/stations/metastation.dmm
Labels: :scroll: CL валиден, :wrench: Фикс, Кибериада, Керберос, Цереброн

#1554 SpeedUp server init for testing
  _maps/base_map.dm
  _maps/map_files220/generic/centcomm_test.dmm
Labels: :scroll: CL не требуется, :world_map: Изменение Карты

#1561 Where the Fuck I am
  _maps/map_files220/stations/boxstation.dmm
  _maps/map_files220/stations/deltastation.dmm
  _maps/map_files220/stations/metastation.dmm
  modular_ss220/maps220/code/Station/station_areas.dm
  modular_ss220/modular_ss220.dme
  modular_ss220/station_traits/_station_traits.dm
  modular_ss220/station_traits/_station_traits.dme
  modular_ss220/station_traits/code/neutral_traits.dm
Labels: :scroll: CL валиден, Кибериада, Керберос, Цереброн

#1563 Fix unrestricted access in Cyberiad brig
  _maps/map_files220/stations/boxstation.dmm
Labels: :scroll: CL валиден, :wrench: Фикс, Кибериада

#1562 Sawdust Soup
  modular_ss220/food_and_drinks/code/food/food.dm
  modular_ss220/food_and_drinks/icons/food.dmi
  modular_ss220/food_and_drinks/icons/food_lefthand.dmi
  modular_ss220/food_and_drinks/icons/food_righthand.dmi
Labels: :scroll: CL валиден, :paintbrush: Спрайты
