Repository ss220club/Paradise-SS220, pull requests merged in 2024-08, with the labels that each got.

#1400 [FIX] Gun rack parts fix
  modular_ss220/aesthetics/racks/code/racks.dm
  modular_ss220/aesthetics/racks/icons/racks.dmi
Labels: :scroll: CL валиден, :paintbrush: Спрайты

#1409 Fix unit-tests late initialize warnings
  _maps/map_files220/generic/Lavaland.dmm
  _maps/map_files220/stations/boxstation.dmm
  _maps/map_files220/stations/deltastation.dmm
  _maps/map_files220/stations/metastation.dmm
Labels: :scroll: CL не требуется, :wrench: Фикс, Кибериада, Керберос, Цереброн

#1410 Fix wood decal colors
  _maps/map_files220/RandomRuins/SpaceRuins/spacehotel.dmm
  _maps/map_files220/RandomZLevels/beach.dmm
  _maps/map_files220/RandomZLevels/caves.dmm
  _maps/map_files220/generic/centcomm.dmm
  _maps/map_files220/stations/boxstation.dmm
  _maps/map_files220/stations/deltastation.dmm
  modular_ss220/aesthetics/decals/code/decals.dm
Labels: :scroll: CL не требуется, :wrench: Фикс, Кибериада, Керберос

#1412 Moffers
  modular_ss220/clothing/code/shoes.dm
  modular_ss220/clothing/icons/inhands/left_hand.dmi
  modular_ss220/clothing/icons/inhands/right_hand.dmi
  modular_ss220/clothing/icons/mob/shoes.dmi
  modular_ss220/clothing/icons/mob/species/drask/shoes.dmi
  modular_ss220/clothing/icons/mob/species/vox/shoes.dmi
  modular_ss220/clothing/icons/object/shoes.dmi
  modular_ss220/clothing/sounds/moffstep01.ogg
  modular_ss220/mobs/code/simple_animal/friendly/moth.dm
  modular_ss220/objects/_objects.dme
  modular_ss220/objects/code/animalhide.dm
  modular_ss220/objects/icons/animalhide.dmi
  modular_ss220/vending/code/vending.dm
Labels: :scroll: CL валиден, :sound: Звук, :paintbrush: Спрайты

#1415 Merge Upstream [03.08.2024]
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/status_effects.dm
  code/__HELPERS/trait_helpers.dm
  code/_onclick/hud/action_button.dm
  code/datums/station_state.dm
  code/datums/status_effects/debuffs.dm
  code/datums/uplink_items/uplink_general.dm
  code/game/atoms_movable.dm
  code/game/gamemodes/cult/runes.dm
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/gamemodes/miniantags/tourist/tourist_arrivals.dm
  code/game/gamemodes/wizard/soulstone.dm
  code/game/machinery/deployable.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/vendors/vending.dm
  code/game/mecha/equipment/tools/medical_tools.dm
  code/game/objects/effects/effect_system/effects_chem_smoke.dm
  code/game/objects/items/devices/lightreplacer.dm
  code/game/objects/items/weapons/c_foam_launcher.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/explosives.dm
  code/game/objects/items/weapons/mop.dm
  code/game/objects/items/weapons/paiwire.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/game/objects/items/weapons/twohanded.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/janicart.dm
  code/game/objects/structures/mineral_doors.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  code/game/objects/structures/table_frames.dm
  code/modules/antagonists/vampire/vamp_datum.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/carbon_procs.dm
  code/modules/mob/living/silicon/ai/ai_mob.dm
  code/modules/mob/living/simple_animal/friendly/diona_nymph.dm
  code/modules/mob/living/simple_animal/friendly/nian_caterpillar.dm
  code/modules/mod/mod_core.dm
  code/modules/power/cell.dm
  code/modules/power/engines/singularity/emitter.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/projectile/magic_projectiles.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/vehicle/vehicle.dm
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/obj/ammo.dmi
  icons/obj/foam_blobs.dmi
  icons/obj/guns/projectile.dmi
  icons/obj/projectiles.dmi
  paradise.dme
Labels: :scroll: CL валиден, :world_map: Изменение Карты, :paintbrush: Спрайты

#1416 Fix tracking beacon path
  _maps/map_files220/generic/Lavaland.dmm
  _maps/map_files220/stations/boxstation.dmm
  _maps/map_files220/stations/deltastation.dmm
  _maps/map_files220/stations/metastation.dmm
  modular_ss220/species/code/mob/living/carbon/human/eat/eat_list_tech.dm
Labels: :scroll: CL валиден, :wrench: Фикс, Кибериада, Керберос, Цереброн

#1419 Добавление вещей по баунти
  modular_ss220/clothing/code/suits.dm
  modular_ss220/clothing/icons/mob/species/monkey/suits.dmi
  modular_ss220/clothing/icons/mob/species/vox/suits.dmi
  modular_ss220/clothing/icons/mob/suits.dmi
  modular_ss220/clothing/icons/object/suits.dmi
  modular_ss220/hairs/code/human_hair.dm
  modular_ss220/loadout/_loadout.dme
  modular_ss220/loadout/code/suit.dm
  modular_ss220/loadout/code/under.dm
Labels: :scroll: CL валиден, :paintbrush: Спрайты

#1406 Refactor Agent ID
  modular_ss220/aesthetics/better_ids/code/better_ids.dm
  modular_ss220/aesthetics/better_ids/icons/better_ids.dmi
  modular_ss220/agent_id_tgui/code/agent_id_tgui.dm
  modular_ss220/jobs/code/card_computer.dm
  modular_ss220/jobs/code/card_id.dm
  tgui/packages/tgui/interfaces/AgentCard.js
  tgui/public/tgui.bundle.js
Labels: :scroll: CL валиден, :paintbrush: Спрайты, TGUI

#1417 [TM] Revert 516 TGUI storage
  tgui/packages/common/storage.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui-say.bundle.js
  tgui/public/tgui.bundle.js
Labels: :scroll: CL валиден, TGUI

#1423 Vox tgui
  tgui/packages/tgui/constants.js
  tgui/packages/tgui/interfaces/Shop.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: :scroll: CL валиден, TGUI

#1402 Multiz nanomap
  code/modules/asset_cache/assets/asset_nanomap.dm
  icons/_nanomaps/Lavaland_nanomap_z1.png
  modular_ss220/camera_nanomap/code/camera.dm
  tgui/packages/tgui/components/NanoMap.js
  tgui/packages/tgui/interfaces/CameraConsole220.js
  tgui/packages/tgui/styles/components/NanoMap.scss
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
  tools/github-actions/nanomap-renderer-invoker.sh
Labels: :scroll: CL валиден, :guitar: Инструменты, TGUI

#1424 HTML Lobby Screen
  code/controllers/subsystem/SSticker.dm
  config/example/title_screen.html
  icons/logo.png
  interface/skin.dmf
  modular_ss220/title_screen/_title_screen.dme
  modular_ss220/title_screen/code/_title_screen_defines.dm
  modular_ss220/title_screen/code/asset_lobby.dm
  modular_ss220/title_screen/code/new_player.dm
  modular_ss220/title_screen/code/title_screen_configuration.dm
  modular_ss220/title_screen/code/title_screen_datum.dm
  modular_ss220/title_screen/code/title_screen_subsystem.dm
  modular_ss220/title_screen/html/FixedsysExcelsior3.01Regular.ttf
  modular_ss220/title_screen/html/title_screen.html
  modular_ss220/title_screen/icons/default.gif
  modular_ss220/title_screen/icons/default.jpg
Labels: :scroll: CL валиден, :floppy_disk: Изменение конфига

#1425 Add some buttons to title screen for admins
  modular_ss220/title_screen/code/new_player.dm
  modular_ss220/title_screen/code/title_screen_controls.dm
  modular_ss220/title_screen/code/title_screen_datum.dm
  modular_ss220/title_screen/html/title_screen.html
Labels: :trollface: Фича, :scroll: CL валиден

#1428 Доработка ЦК
  _maps/map_files220/generic/centcomm.dmm
Labels: :scroll: CL не требуется, :wrench: Фикс, :world_map: Изменение Карты

#1429 Swap Server Verb
  modular_ss220/title_screen/code/new_player.dm
Labels: :scroll: CL валиден, :shipit: Улучшение

#1427 Fix reseting buttons color
  modular_ss220/title_screen/code/title_screen_datum.dm
Labels: :scroll: CL валиден, :wrench: Фикс

#1432 [FIX] Multiaction keybinding
  modular_ss220/keybindings/code/mob_keybinds.dm
Labels: :scroll: CL валиден, :wrench: Фикс

#1435 Fix title screen preferences tab
  modular_ss220/title_screen/code/new_player.dm
  modular_ss220/title_screen/code/title_screen_datum.dm
Labels: :scroll: CL валиден, :wrench: Фикс

#1437 CC form update
  modular_ss220/bureaucracy/code/forms.dm
Labels: :scroll: CL валиден

#1438 Move 'Change voice' verb to existing tab
  modular_ss220/text_to_speech/code/tts_component.dm
Labels: :scroll: CL валиден, :shipit: Улучшение

#1439 CC form update but valid
  modular_ss220/bureaucracy/code/forms.dm
Labels: :scroll: CL не требуется, :shipit: Улучшение

#1431 [TM] Make credits toggleable
  SQL/paradise_schema.sql
  SQL/updates220/59.220.6-59.220.7.sql
  code/__DEFINES/_ss220.dm
  code/__DEFINES/misc_defines.dm
  code/modules/client/preference/preferences.dm
  config/example/config.toml
  modular_ss220/_defines220/_defines220.dme
  modular_ss220/_defines220/code/preferences_defines.dm
  modular_ss220/cinematics/code/_cinematics.dm
  modular_ss220/credits/_credits.dm
  modular_ss220/credits/_credits.dme
  modular_ss220/credits/code/admin_procs.dm
  modular_ss220/modular_ss220.dme
  modular_ss220/preferences/_preferences.dm
  modular_ss220/preferences/_preferences.dme
  modular_ss220/preferences/code/preferences.dm
  modular_ss220/preferences/code/preferences_toggles.dm
Labels: :trollface: Фича, :scroll: CL валиден, :floppy_disk: Изменение конфига, :cd: SQL

#1448 Port and use VirtualList in TTSSeedsExplorer
  tgui/packages/tgui/components/VirtualList.tsx
  tgui/packages/tgui/interfaces/TTSSeedsExplorer.tsx
  tgui/public/tgui.bundle.js
Labels: :scroll: CL валиден, TGUI

#1450 HotFix | Magistrate Fax ID | Delta
  _maps/map_files220/stations/deltastation.dmm
Labels: :scroll: CL валиден, :wrench: Фикс, Керберос

#1449 Add character preview to Title Screen
  config/example/title_screen.html
  modular_ss220/title_screen/code/_title_screen_defines.dm
  modular_ss220/title_screen/code/new_player.dm
  modular_ss220/title_screen/code/title_screen_datum.dm
  modular_ss220/title_screen/code/title_screen_subsystem.dm
  modular_ss220/title_screen/html/title_screen.html
Labels: :scroll: CL валиден, :floppy_disk: Изменение конфига

#1446 Organ Freezer
  _maps/map_files220/stations/boxstation.dmm
  _maps/map_files220/stations/deltastation.dmm
  _maps/map_files220/stations/metastation.dmm
  modular_ss220/objects/code/closets.dm
  modular_ss220/objects/icons/closets.dmi
Labels: :scroll: CL валиден, :paintbrush: Спрайты, Кибериада, Керберос, Цереброн

#1451 Add new poster
  modular_ss220/objects/code/posters.dm
  modular_ss220/objects/icons/posters.dmi
Labels: :scroll: CL валиден, :paintbrush: Спрайты

#1453 Add lockers to Genetics
  _maps/map_files220/stations/boxstation.dmm
  _maps/map_files220/stations/deltastation.dmm
  _maps/map_files220/stations/metastation.dmm
  modular_ss220/objects/code/closets.dm
  modular_ss220/objects/icons/closets.dmi
Labels: :scroll: CL валиден, :shipit: Улучшение, :paintbrush: Спрайты, Кибериада, Керберос, Цереброн

#1454 Fix: CC cargo teleport
  _maps/map_files220/generic/centcomm.dmm
Labels: :scroll: CL не требуется, :wrench: Фикс, :world_map: Изменение Карты

#1442 RnD remap | Deltastation
  _maps/map_files220/stations/deltastation.dmm
Labels: :scroll: CL валиден, Керберос

#1455 add: new silero voices 30.08.2024
  modular_ss220/text_to_speech/code/_defines.dm
  modular_ss220/text_to_speech/code/seeds/silero.dm
Labels: :scroll: CL валиден

#1443 add a new hos weapon judge 12 ga revolver
  modular_ss220/objects/code/miscellaneous.dm
  modular_ss220/objects/code/weapons/ranged/revolvers.dm
  modular_ss220/objects/icons/guns.dmi
  modular_ss220/objects/icons/inhands/guns_lefthand.dmi
  modular_ss220/objects/icons/inhands/guns_righthand.dmi
  modular_ss220/objects/sound/weapons/gunshots/gunshot_judge.ogg
Labels: :scroll: CL валиден, :sound: Звук, :paintbrush: Спрайты

#1456 Chemistry Request Consoles
  _maps/map_files220/stations/boxstation.dmm
  _maps/map_files220/stations/deltastation.dmm
Labels: :scroll: CL валиден, :wrench: Фикс, Кибериада, Керберос
