Repository ss220club/Paradise-SS220, pull requests merged in 2024-10, with the labels that each got.

#1567 Fix: Доступ исследователей к печке
  _maps/map_files220/stations/boxstation.dmm
  _maps/map_files220/stations/deltastation.dmm
Labels: :scroll: CL валиден, Кибериада, Керберос

#1572 Remove sus from ghostbar
  _maps/map_files220/generic/Admin_Zone.dmm
Labels: :scroll: CL валиден, :wrench: Фикс, :world_map: Изменение Карты

#1575 Fixes generic energy gun in the scp ruin
  _maps/map_files220/RandomRuins/LavaRuins/scp_facility.dmm
Labels: :scroll: CL валиден, :wrench: Фикс, :world_map: Изменение Карты

#1571 fix: ready without specie whitelist
  code/modules/mob/new_player/new_player.dm
Labels: :scroll: CL валиден, :wrench: Фикс, :finnadie: НЕ МОДУЛЬНО

#1577 Tweak shelf & racks
  _maps/map_files220/stations/boxstation.dmm
  modular_ss220/aesthetics/_aesthetics.dme
  modular_ss220/aesthetics/racks/code/racks.dm
  modular_ss220/aesthetics/racks/icons/racks.dmi
Labels: :scroll: CL валиден, :shipit: Улучшение, :paintbrush: Спрайты, Кибериада

#1580 Fixes windoors with no access at departments
  _maps/map_files220/stations/deltastation.dmm
  _maps/map_files220/stations/metastation.dmm
Labels: :scroll: CL валиден, :wrench: Фикс, Керберос, Цереброн

#1583 Re-sprite light floor
  modular_ss220/aesthetics/floors/code/floors.dm
  modular_ss220/aesthetics/floors/icons/floors.dmi
  modular_ss220/aesthetics/floors/icons/tiles.dmi
Labels: :scroll: CL валиден, :paintbrush: Спрайты

#1597 Add Vox shoes & gloves to loadout
  modular_ss220/antagonists/code/vox_raider/clothing/vox_clothing.dm
  modular_ss220/antagonists/code/vox_raider/clothing/vox_gloves.dm
  modular_ss220/loadout/_loadout.dme
  modular_ss220/loadout/code/racial.dm
  modular_ss220/vending/code/vending.dm
  modular_ss220/vending/code/vending_food.dm
Labels: :scroll: CL валиден

#1598 Vox insulgloves
  modular_ss220/vending/code/vending.dm
Labels: :scroll: CL валиден

#1607 Fix cabinet opened sprite and closets animation
  modular_ss220/aesthetics/closets/icons/closets.dmi
  modular_ss220/objects/icons/closets.dmi
Labels: :scroll: CL валиден, :wrench: Фикс, :paintbrush: Спрайты

#1599 Add more shelves on maps
  _maps/map_files220/stations/boxstation.dmm
  _maps/map_files220/stations/deltastation.dmm
  _maps/map_files220/stations/metastation.dmm
  code/_globalvars/lists/maint_loot_tables.dm
  modular_ss220/maps220/code/mobs.dm
  modular_ss220/maps220/code/spawners.dm
  modular_ss220/objects/code/closets.dm
  modular_ss220/objects/code/weapons/melee/stylet.dm
Labels: :trollface: Фича, :scroll: CL валиден, :feelsgood: Частичная модульность, Кибериада, Керберос, Цереброн

#1610 Update rust workflow
  .github/workflows/build_rust.yml
Labels: :scroll: CL не требуется, :guitar: Инструменты

#1616 Add new pda sprite on our skins
  modular_ss220/aesthetics/skin/icons/screen_clockwork.dmi
  modular_ss220/aesthetics/skin/icons/screen_detective.dmi
  modular_ss220/aesthetics/skin/icons/screen_trasenknox.dmi
  modular_ss220/aesthetics/skin/icons/screen_vaporwave.dmi
Labels: :trollface: Фича, :scroll: CL валиден, :paintbrush: Спрайты

#1617 Fix Ghost Bar hole
  _maps/map_files220/generic/Admin_Zone.dmm
Labels: :scroll: CL валиден, :wrench: Фикс, :world_map: Изменение Карты

#1618 Fix unsorted modular seed sprite
  modular_ss220/hydroponics/code/plants.dm
Labels: :scroll: CL валиден, :wrench: Фикс

#1624 Port translate stuff from tg
  code/__DEFINES/modular_ss220/_ss220.dm
  code/__DEFINES/modular_ss220/pronouns.dm
  modular_ss220/_misc/_misc.dme
  modular_ss220/modular_ss220.dme
  modular_ss220/translations/_translations.dm
  modular_ss220/translations/_translations.dme
  modular_ss220/translations/code/defines.dm
  modular_ss220/translations/code/pronouns.dm
  modular_ss220/translations/code/ru_names/ru_name_base.dm
  modular_ss220/translations/code/translate_attack_verb.dm
  modular_ss220/translations/code/translate_eat_verb.dm
  modular_ss220/translations/code/translate_say.dm
  modular_ss220/translations/code/~undefs.dm
  paradise.dme
Labels: :scroll: CL невалиден, :feelsgood: Частичная модульность

#1626 Fix piping in Cyberiad med. maints
  _maps/map_files220/stations/boxstation.dmm
Labels: :scroll: CL валиден, :wrench: Фикс, Кибериада

#1627 Fix: Delta wires in atmos
  _maps/map_files220/stations/deltastation.dmm
Labels: :scroll: CL валиден, :wrench: Фикс, Керберос
