Repository ss220club/Paradise-SS220, pull requests merged in 2024-01, with the labels that each got.

#890 Add: Новые предметы группы Саундхэнд и барабаны.
  modular_ss220/clothing/code/suits.dm
  modular_ss220/clothing/icons/inhands/left_hand.dmi
  modular_ss220/clothing/icons/inhands/right_hand.dmi
  modular_ss220/clothing/icons/mob/suits.dmi
  modular_ss220/clothing/icons/object/suits.dmi
  modular_ss220/food/code/drinks.dm
  modular_ss220/food/icons/drinks.dmi
  modular_ss220/jukebox/code/jukebox.dm
  modular_ss220/jukebox/icons/jukebox.dmi
  modular_ss220/objects/_objects.dme
  modular_ss220/objects/code/flag.dm
  modular_ss220/objects/icons/flag.dmi
  modular_ss220/objects/icons/inhands/flags_lefthand.dmi
  modular_ss220/objects/icons/inhands/flags_righthand.dmi
Labels: :scroll: CL валиден, Спрайты

#873 Feat: New Year
  _maps/map_files220/MetaStation/MetaStation.dmm
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
  modular_ss220/events/_events.dme
  modular_ss220/events/code/christmas.dm
  modular_ss220/events/icons/nuclearbomb.dmi
  modular_ss220/events/icons/xmas.dmi
  modular_ss220/events/icons/xmaslights.dmi
  modular_ss220/events/icons/xmastree.dmi
Labels: :scroll: CL валиден, Изменение Карты, Спрайты, Кибериада, Керберос, Цереброн

#896 Merge Upstream 09.01.2024
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/station_defines.dm
  code/__DEFINES/subsystems.dm
  code/__HELPERS/trait_helpers.dm
  code/controllers/subsystem/SSeconomy.dm
  code/controllers/subsystem/SSjobs.dm
  code/controllers/subsystem/SSticker.dm
  code/controllers/subsystem/processing/SSstation.dm
  code/datums/ai_law_sets.dm
  code/datums/ai_laws_datums.dm
  code/datums/station_traits/_station_trait.dm
  code/datums/station_traits/admin_panel.dm
  code/datums/station_traits/negative_traits.dm
  code/datums/station_traits/neutral_traits.dm
  code/datums/station_traits/postive_traits.dm
  code/datums/status_effects/debuffs.dm
  code/datums/uplink_items/uplink_general.dm
  code/datums/uplink_items/uplink_special.dm
  code/datums/uplink_items/uplink_traitor.dm
  code/game/gamemodes/game_mode.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/support.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/weapons/AI_modules.dm
  code/game/objects/items/weapons/bio_chips/bio_chip.dm
  code/game/objects/items/weapons/bio_chips/bio_chip_deathrattle.dm
  code/game/objects/items/weapons/bio_chips/bio_chip_fluff.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/admin/admin_verbs.dm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  code/modules/mining/equipment/regenerative_core.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/silicon_laws.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/pda/PDA.dm
  code/modules/projectiles/guns/energy/special_eguns.dm
  code/modules/supply/supply_console.dm
  code/modules/supply/supply_order.dm
  code/modules/supply/supply_pack.dm
  code/modules/surgery/organs/augments_arms.dm
  paradise.dme
  sound/items/knell1.ogg
  sound/items/knell2.ogg
  sound/items/knell3.ogg
  sound/items/knell4.ogg
  sound/machines/twobeep_voice1.ogg
  sound/machines/twobeep_voice2.ogg
  tgui/packages/tgui/interfaces/StationTraitsPanel.js
  tgui/packages/tgui/interfaces/common/collections.js
  tgui/packages/tgui/interfaces/common/exhaustive.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: :scroll: CL валиден, Изменение Карты, Звук, TGUI

#885 FIX: TTS Рандомизация голоса заспавненного гуманоида
  code/game/objects/structures/mirror.dm
  code/modules/admin/verbs/gimmick_team.dm
  modular_ss220/text_to_speech/_tts.dm
  modular_ss220/text_to_speech/code/base_seeds/mobs/_base.dm
  modular_ss220/text_to_speech/code/base_seeds/mobs/other.dm
  modular_ss220/text_to_speech/code/base_seeds/objs/objs.dm
  modular_ss220/text_to_speech/code/tts_preferences.dm
  modular_ss220/text_to_speech/code/tts_seed.dm
  modular_ss220/text_to_speech/code/tts_subsystem.dm
Labels: :scroll: CL валиден

#895 Fix: Vulpix recipes & spellcheck
  modular_ss220/food/code/food.dm
Labels: :scroll: CL валиден

#904 Fix: Black Mesa and Space Hotel
  _maps/map_files220/RandomZLevels/blackmesa.dmm
  modular_ss220/maps220/code/Areas/away.dm
Labels: :scroll: CL валиден, Изменение Карты

#902 Tweak: Custom UI's improvement & visibility fix
  code/__DEFINES/color_defines.dm
  code/__HELPERS/type2type.dm
  code/game/objects/items.dm
  code/modules/client/preference/link_processing.dm
  code/modules/client/preference/preferences_mysql.dm
  code/modules/tooltip/tooltip.html
  modular_ss220/aesthetics/skin/icons/screen_clockwork.dmi
  modular_ss220/aesthetics/skin/icons/screen_detective.dmi
  modular_ss220/aesthetics/skin/icons/screen_trasenknox.dmi
Labels: :scroll: CL валиден, Спрайты

#901 New bureaucratic form for the SEC
  modular_ss220/bureaucracy/code/forms.dm
Labels: :scroll: CL валиден

#898 Add: Напитки и коктейли с рупары
  modular_ss220/food/code/drinks.dm
  modular_ss220/food/icons/drinks.dmi
  modular_ss220/food/sound/restart-shutdown.ogg
  modular_ss220/food/sound/restart-wakeup.ogg
Labels: :scroll: CL невалиден, :page_with_curl: Требуется изменение WIKI, Звук, Спрайты

#909 Fix: Cave active turfs
  _maps/map_files220/RandomZLevels/caves.dmm
Labels: :scroll: CL валиден, Изменение Карты

#899 Update CI links in README
  README.md
Labels: Документация, :scroll: CL не требуется

#912 Fix: Vulpix recipes... AGAIN
  modular_ss220/food/code/food.dm
Labels: :scroll: CL валиден

#910 Tweak: Барабаны с отдельным плей листом.
  config/drum_music/test1+2400+4.ogg
  modular_ss220/jukebox/code/jukebox.dm
Labels: :scroll: CL валиден, Требуется изменение конфига, Звук

#917 fix: Megaphone TTS
  modular_ss220/text_to_speech/_tts.dme
  modular_ss220/text_to_speech/code/tts_megaphone.dm
Labels: :scroll: CL валиден

#915 feat: Ratge hat & Chef Drip Update
  modular_ss220/clothing/_clothing.dme
  modular_ss220/clothing/code/accessories.dm
  modular_ss220/clothing/code/clothing_vendors.dm
  modular_ss220/clothing/code/gloves.dm
  modular_ss220/clothing/code/hats.dm
  modular_ss220/clothing/code/helmet.dm
  modular_ss220/clothing/code/hev_suit.dm
  modular_ss220/clothing/code/mask.dm
  modular_ss220/clothing/code/shoes.dm
  modular_ss220/clothing/code/suits.dm
  modular_ss220/clothing/code/under.dm
  modular_ss220/clothing/icons/inhands/left_hand.dmi
  modular_ss220/clothing/icons/inhands/right_hand.dmi
  modular_ss220/clothing/icons/mob/accessories.dmi
  modular_ss220/clothing/icons/mob/hats.dmi
  modular_ss220/clothing/icons/mob/species/drask/accessories.dmi
  modular_ss220/clothing/icons/mob/species/drask/suits.dmi
  modular_ss220/clothing/icons/mob/species/drask/under.dmi
  modular_ss220/clothing/icons/mob/species/grey/accessories.dmi
  modular_ss220/clothing/icons/mob/species/grey/hats.dmi
  modular_ss220/clothing/icons/mob/species/grey/suits.dmi
  modular_ss220/clothing/icons/mob/species/grey/under.dmi
  modular_ss220/clothing/icons/mob/species/kidan/hats.dmi
  modular_ss220/clothing/icons/mob/species/monkey/accessories.dmi
  modular_ss220/clothing/icons/mob/species/monkey/hats.dmi
  modular_ss220/clothing/icons/mob/species/monkey/suits.dmi
  modular_ss220/clothing/icons/mob/species/monkey/under.dmi
  modular_ss220/clothing/icons/mob/species/tajaran/hats.dmi
  modular_ss220/clothing/icons/mob/species/unathi/under.dmi
  modular_ss220/clothing/icons/mob/species/vox/accessories.dmi
  modular_ss220/clothing/icons/mob/species/vox/hats.dmi
  modular_ss220/clothing/icons/mob/species/vox/suits.dmi
  modular_ss220/clothing/icons/mob/species/vox/under.dmi
  modular_ss220/clothing/icons/mob/species/vulpkanin/hats.dmi
  modular_ss220/clothing/icons/mob/suits.dmi
  modular_ss220/clothing/icons/mob/under.dmi
  modular_ss220/clothing/icons/mob/uniform.dmi
  modular_ss220/clothing/icons/object/accessories.dmi
  modular_ss220/clothing/icons/object/hats.dmi
  modular_ss220/clothing/icons/object/suits.dmi
  modular_ss220/clothing/icons/object/under.dmi
  modular_ss220/jobs/_jobs.dme
  modular_ss220/jobs/code/job/service_jobs.dm
  modular_ss220/objects/_objects.dme
  modular_ss220/objects/code/wallets.dm
  modular_ss220/objects/icons/wallets.dmi
Labels: :scroll: CL валиден, Спрайты

#918 Delta: Boxing gloves
  _maps/map_files220/delta/delta.dmm
Labels: :scroll: CL валиден, Изменение Карты, Керберос

#925 Feat: Fried Nails
  modular_ss220/food/_food.dme
  modular_ss220/food/code/food/food.dm
  modular_ss220/food/code/food/ingredients.dm
  modular_ss220/food/code/food/nails.dm
  modular_ss220/food/icons/food.dmi
Labels: :scroll: CL валиден, :page_with_curl: Требуется изменение WIKI, Спрайты

#921 Translate: Bots and fixes of my previous translations
  code/defines/procs/announcer_datum.dm
  code/game/gamemodes/miniantags/pulsedemon/pulsedemon_interactions.dm
  code/game/gamemodes/nuclear/nuclear_challenge.dm
  code/game/machinery/slotmachine.dm
  code/modules/events/carp_migration.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/floorbot.dm
  code/modules/mob/living/simple_animal/bot/griefsky.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/response_team/ert.dm
  code/modules/shuttle/emergency.dm
Labels: :pencil: Перевод

#930 Increase the number of Security Requests Consoles from 1 to 4
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#934 Please save Virologist aka Ne Zvoni Suda Bolshe
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#935 Surgical Trays
  _maps/map_files220/MetaStation/MetaStation.dmm
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
  _maps/map_files220/generic/centcomm.dmm
  modular_ss220/balance/_balance.dme
  modular_ss220/balance/code/items/storage/surgical_tray.dm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада, Керберос, Цереброн

#936 merge upstream 24.01.2024
  _build_dependencies.sh
  code/modules/food_and_drinks/food_base.dm
  tools/UpdatePaths/Scripts/23063_patch_pill.txt
  tools/UpdatePaths/Scripts/23379_food_containers.txt
  tools/requirements.txt
Labels: :scroll: CL валиден, Инструменты

#939 fix: clear_credits
  modular_ss220/credits/code/SScredits.dm
Labels: :scroll: CL валиден

#948 Fix: Chat Highlights - NoCrush Edition
  tgui/packages/tgui-panel/chat/renderer.js
  tgui/packages/tgui-panel/chat/replaceInTextNode.js
  tgui/public/tgui-panel.bundle.js
Labels: TGUI

#956 Add: Респрайт напитков добавленных с рупары
  modular_ss220/food/icons/drinks.dmi
Labels: :scroll: CL валиден, Спрайты

#965 tweak: translate `synth_change_voice` verb
  modular_ss220/text_to_speech/code/tts_seed.dm
Labels: :scroll: CL невалиден

#938 Refactor translation of emotes
  modular_ss220/_defines220/_defines220.dme
  modular_ss220/_defines220/code/emote.dm
  modular_ss220/emotes/code/emote.dm
  modular_ss220/emotes/code/emote_keybindings.dm
  modular_ss220/emotes/code/emote_panel.dm
  modular_ss220/emotes/code/emote_panel_names.dm
  modular_ss220/emotes/code/emote_verbs.dm
  modular_ss220/emotes/code/racial_emotes.dm
  modular_ss220/keybindings/code/emote_keybinds.dm
  tgui/packages/tgui/interfaces/EmotePanel.js
  tgui/public/tgui.bundle.js
Labels: :scroll: CL валиден, TGUI, Do Not Merge

#951 Remove emote translations from [master]
  modular_ss220/emotes/_emotes.dme
  modular_ss220/emotes/code/emote_translations.dm
Labels: :scroll: CL валиден

#953 Add emote translations to [translate]
  code/datums/emote.dm
  code/datums/status_effects/neutral.dm
  code/game/objects/items/hand_item.dm
  code/modules/mob/living/brain/brain_emote.dm
  code/modules/mob/living/carbon/alien/humanoid/humanoid_emote.dm
  code/modules/mob/living/carbon/carbon_emote.dm
  code/modules/mob/living/carbon/human/human_emote.dm
  code/modules/mob/living/living_emote.dm
  code/modules/mob/living/silicon/silicon_emote.dm
  code/modules/mob/living/simple_animal/friendly/friendly_emote.dm
  code/modules/mob/living/simple_animal/hostile/gorilla/gorilla_emote.dm
  code/modules/mob/living/simple_animal/slime/slime_emote.dm
  code/modules/mob/mob_emote.dm
Labels: НЕ МОДУЛЬНО, :pencil: Перевод

#968 Fix encoding in R&D server controller
  code/modules/research/server.dm
Labels: :scroll: CL валиден, НЕ МОДУЛЬНО

#943 Fix: minor tts stuff
  modular_ss220/text_to_speech/code/hear.dm
  modular_ss220/text_to_speech/code/tts_subsystem.dm
Labels: :scroll: CL валиден, :clock12: Ждёт мержа

#949 Add: Саундхэд теперь в доноре и карго
  modular_ss220/clothing/code/suits.dm
  modular_ss220/jukebox/code/jukebox.dm
  modular_ss220/loadout/code/donor.dm
Labels: :scroll: CL валиден

#937 Translate: most of atom_say and autosay
  code/__HELPERS/time.dm
  code/datums/holocall.dm
  code/game/gamemodes/miniantags/abduction/machinery/console.dm
  code/game/gamemodes/miniantags/abduction/machinery/experiment.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/clonepod.dm
  code/game/machinery/computer/Operating.dm
  code/game/machinery/computer/brigcells.dm
  code/game/machinery/computer/card.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/machinery/doppler_array.dm
  code/game/machinery/hologram.dm
  code/game/machinery/requests_console.dm
  code/game/machinery/teleporter.dm
  code/game/objects/items/collar.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/items/scratch_card.dm
  code/game/objects/items/weapons/bio_chips/bio_chip_death_alarm.dm
  code/game/objects/items/weapons/defib.dm
  code/modules/admin/verbs/freeze.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/economy/economy_machinery/atm.dm
  code/modules/library/library_computer.dm
  code/modules/mob/living/silicon/ai/latejoin.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/paperwork/photocopier.dm
  code/modules/paperwork/ticketmachine.dm
  code/modules/projectiles/guns/energy/special_eguns.dm
  code/modules/security_levels/keycard_authentication.dm
  code/modules/shuttle/emergency.dm
  code/modules/shuttle/shuttle.dm
  code/modules/supply/supply_console.dm
Labels: :pencil: Перевод

#969 Merge upstream 29.01.2024
  _maps/map_files/generic/Lavaland.dmm
  code/__DEFINES/language_defines.dm
  code/controllers/subsystem/SSthrowing.dm
  code/datums/spells/mimic.dm
  code/game/atoms_movable.dm
  code/game/gamemodes/cult/blood_magic.dm
  code/game/gamemodes/cult/cult_mode.dm
  code/game/machinery/lightswitch.dm
  code/game/machinery/requests_console.dm
  code/game/objects/effects/effect_system/effects_water.dm
  code/game/objects/items/weapons/storage/surgical_tray.dm
  code/modules/hydroponics/hydroponics_tray.dm
  code/modules/hydroponics/seeds.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob_movement.dm
  code/modules/mod/modules/modules_engineering.dm
  code/modules/paperwork/silicon_photography.dm
  code/modules/power/lights.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/research/message_server.dm
  icons/mob/screen_ninja.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/doors/airlocks/cult/unruned/reaper-overlays.dmi
  icons/obj/fish_items.dmi
  icons/obj/guns/magic.dmi
  icons/obj/power_cond/power_cond_cyan.dmi
  icons/obj/species_organs/skrell.dmi
  tgui/packages/tgui/assets/bg-nanotrasen.svg
  tgui/packages/tgui/assets/bg-syndicate.svg
  tgui/public/tgui.bundle.css
Labels: Merge Conflict, :scroll: CL валиден, Изменение Карты, Спрайты, TGUI

#952 Update Chat Badges
  modular_ss220/chat_badges/code/badges.dm
  modular_ss220/chat_badges/icons/chatbadges.dmi
Labels: :scroll: CL валиден, Спрайты, Do Not Merge

#931 [MegaFEET] Corn coffin
  modular_ss220/objects/_objects.dme
  modular_ss220/objects/code/coffin.dm
  modular_ss220/objects/icons/closets.dmi
Labels: :scroll: CL валиден, Спрайты, :clock12: Ждёт мержа

#963 fix: make choosing voice by borg possible again
  modular_ss220/text_to_speech/code/tts_seed.dm
  modular_ss220/text_to_speech/code/tts_subsystem.dm
Labels: :scroll: CL валиден

#976 fix: make choosing voice by borg possible again
  modular_ss220/text_to_speech/code/tts_seed.dm
  modular_ss220/text_to_speech/code/tts_subsystem.dm
Labels: :scroll: CL валиден

#947 refactor: move title screens to assets, move `Fix Lobby Screen` verb to `Special Verbs` category
  modular_ss220/title_screen/_title_screen.dme
  modular_ss220/title_screen/code/_title_screen_defines.dm
  modular_ss220/title_screen/code/asset_lobby.dm
  modular_ss220/title_screen/code/dead.dm
  modular_ss220/title_screen/code/living.dm
  modular_ss220/title_screen/code/mob.dm
  modular_ss220/title_screen/code/new_player.dm
  modular_ss220/title_screen/code/title_screen_controls.dm
  modular_ss220/title_screen/code/title_screen_datum.dm
  modular_ss220/title_screen/code/title_screen_subsystem.dm
  modular_ss220/title_screen/icons/default.dmi
  modular_ss220/title_screen/icons/default.gif
Labels: :scroll: CL валиден, Спрайты, Do Not Merge

#974 Tweak: Skin dmf
  interface/skin.dmf
Labels: :scroll: CL не требуется

#850 RSCADD: Roundstart blurb
  modular_ss220/loc_blurb/_loc_blurb.dm
  modular_ss220/loc_blurb/_loc_blurb.dme
  modular_ss220/loc_blurb/code/location_blurb.dm
  modular_ss220/modular_ss220.dme
Labels: :trollface: Фича, :scroll: CL валиден

#978 refactor: make voice selection with TGUI input list for all cases, except ERT, define gender by atom's gender, not users
  modular_ss220/text_to_speech/code/base_seeds/objs/objs.dm
  modular_ss220/text_to_speech/code/tts_seed.dm
Labels: :scroll: CL валиден
