Repository ss220club/Paradise-SS220, pull requests merged in 2024-05, with the labels that each got.

#1214 New Cental Command 2
  _maps/map_files220/generic/centcomm.dmm
  modular_ss220/unique_objects/code/unique_objects.dm
  modular_ss220/unique_objects/icons/statue.dmi
  modular_ss220/unique_objects/icons/statuelarge.dmi
Labels: :scroll: CL валиден, Изменение Карты, Спрайты

#1217 Master ss220
  modular_ss220/silicons/code/robot_modules.dm
Labels: :scroll: CL валиден

#1216 [FIX] Headslugs cannot be taken in hands
  modular_ss220/mobs/code/simple_animal/mobs.dm
Labels: :scroll: CL валиден

#1220 Fix: centcomm minor issues
  _maps/map_files220/generic/centcomm.dmm
  modular_ss220/clothing/code/suits.dm
  modular_ss220/maps220/code/directions.dm
  modular_ss220/vending/code/vending.dm
  modular_ss220/vending/code/vending_items.dm
Labels: :scroll: CL валиден, Изменение Карты

#1219 Перестройка сателлита ИИ в пользу сбойного ИИ.
  _maps/map_files220/stations/boxstation.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#1226 Fix: centcomm teleporter fix
  _maps/map_files220/generic/centcomm.dmm
Labels: :scroll: CL валиден, Изменение Карты

#1222 Add: 5 new human hairstyle & centcomm cloaks
  modular_ss220/clothing/code/suits.dm
  modular_ss220/clothing/icons/mob/cloaks.dmi
  modular_ss220/clothing/icons/object/cloaks.dmi
  modular_ss220/hairs/code/human_hair.dm
  modular_ss220/hairs/icons/human_hair.dmi
Labels: :scroll: CL валиден, Спрайты

#1179 Adds drask cyrillic accent
  modular_ss220/emotes/code/species.dm
Labels: :scroll: CL валиден, Stale

#1231 fix: objectives logging
  modular_ss220/logs/code/logging.dm
Labels: :scroll: CL невалиден

#1229 Fix: lance shuttle
  _maps/map_files220/generic/centcomm.dmm
  modular_ss220/modular_ss220.dme
  modular_ss220/shuttles/_shuttles.dm
  modular_ss220/shuttles/_shuttles.dme
  modular_ss220/shuttles/code/lance_shuttle.dm
Labels: :scroll: CL валиден, Изменение Карты

#1232 Fix roundstart observers and actualize wizard home
  _maps/map_files220/generic/centcomm.dmm
Labels: :scroll: CL валиден, Изменение Карты

#1235 Fix: cyberiada raven&shadow shuttles
  _maps/map_files220/generic/centcomm.dmm
  _maps/map_files220/stations/boxstation.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#1236 Delta: Slightly remap escape lobby and medbay maints
  _maps/map_files220/stations/deltastation.dmm
  _maps/map_files220/stations/metastation.dmm
Labels: :scroll: CL валиден, Изменение Карты, Керберос, Цереброн

#1237 Actualize stations & Lavaland
  _maps/map_files220/generic/Lavaland.dmm
  _maps/map_files220/generic/centcomm.dmm
  _maps/map_files220/stations/boxstation.dmm
  _maps/map_files220/stations/deltastation.dmm
  _maps/map_files220/stations/metastation.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада, Керберос, Цереброн

#1238 Fix path in skin.dmf
  interface/skin.dmf
Labels: :scroll: CL не требуется

#1240 Remove space from maints
  _maps/map_files220/stations/deltastation.dmm
Labels: :scroll: CL валиден, Изменение Карты, Керберос

#1241 Merge Upstream 21.05.2024
  _maps/map_files/stations/boxstation.dmm
  _maps/map_files/stations/cerestation.dmm
  _maps/map_files/stations/deltastation.dmm
  _maps/map_files/stations/metastation.dmm
  code/__DEFINES/misc_defines.dm
  code/datums/mind.dm
  code/game/dna/mutations/mutation_powers.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/devices/radio/radio_objects.dm
  code/modules/projectiles/guns/medbeam.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/station_goals/secondary/medical/random_bulk_medicine.dm
  code/modules/station_goals/secondary/medical/variety_medicine.dm
  code/modules/supply/supply_console.dm
  code/modules/supply/supply_pack.dm
  code/modules/supply/supply_packs/pack_shuttle.dm
  code/modules/surgery/organs/augments_arms.dm
Labels: :scroll: CL валиден, Изменение Карты

#1234 New central command 3
  _maps/map_files220/generic/centcomm.dmm
Labels: :scroll: CL валиден, Изменение Карты

#1245 Fix: skeleton incident
  _maps/map_files220/generic/centcomm.dmm
Labels: :scroll: CL валиден, Изменение Карты

#1247 Tweak: Молот теперь нормальный.
  _maps/map_files220/generic/centcomm.dmm
Labels: :scroll: CL не требуется, Изменение Карты

#1233 Перевод и адаптация README.md
  README.md
Labels: Документация, :scroll: CL не требуется

#1250 Add webmap urls
  modular_ss220/maps220/code/Station/station_datums.dm
Labels: :scroll: CL валиден

#1256 Update ID sprites
  modular_ss220/aesthetics/better_ids/icons/better_ids.dmi
Labels: :scroll: CL валиден, Спрайты

#1257 Add: Explorer штуки
  _maps/map_files220/stations/boxstation.dmm
  _maps/map_files220/stations/deltastation.dmm
  _maps/map_files220/stations/metastation.dmm
  modular_ss220/maps220/code/Station/station_areas.dm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада, Керберос, Цереброн

#1262 Add: Missed disaster counters
  _maps/map_files220/stations/boxstation.dmm
  _maps/map_files220/stations/deltastation.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада, Керберос

#1270 Translate: Ranks
  code/datums/outfits/outfit_admin.dm
  code/modules/admin/verbs/deathsquad.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/admin/verbs/striketeam_syndicate.dm
  code/modules/response_team/ert.dm
Labels: :scroll: CL не требуется, :pencil: Перевод
