Repository ss220club/Paradise-SS220, pull requests merged in 2024-02, with the labels that each got.

#977 PR Template spam fix
  .github/PULL_REQUEST_TEMPLATE.md
Labels: :scroll: CL не требуется

#986 [FIX] Donor dev add
  modular_ss220/donor/code/client_procs.dm
Labels: :scroll: CL валиден

#982 Jukebox Refactor
  _maps/map_files220/MetaStation/MetaStation.dmm
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
  _maps/map_files220/generic/centcomm.dmm
  config/drum_music/test1+2400+4.ogg
  modular_ss220/_components/_components.dm
  modular_ss220/_components/_components.dme
  modular_ss220/_components/code/connect_range.dm
  modular_ss220/_defines220/_defines220.dme
  modular_ss220/_defines220/code/lists_TG.dm
  modular_ss220/_misc/code/global_procs.dm
  modular_ss220/aesthetics_sounds/sound/coin_accept.ogg
  modular_ss220/jukebox/_jukebox.dme
  modular_ss220/jukebox/code/jukebox.dm
  modular_ss220/jukebox/code/jukebox_dance.dm
  modular_ss220/jukebox/code/jukebox_datum.dm
  modular_ss220/jukebox/code/jukebox_subtypes.dm
  modular_ss220/jukebox/icons/jukebox.dmi
  modular_ss220/modular_ss220.dme
  tgui/packages/tgui/interfaces/Jukebox.js
  tgui/packages/tgui/interfaces/Jukebox.tsx
  tgui/public/tgui.bundle.js
Labels: Требуется изменение конфига, Изменение Карты, Звук, Спрайты, Кибериада, Керберос, Цереброн, TGUI

#972 Fix: TTS no such file or directory
  modular_ss220/text_to_speech/code/seeds/silero.dm
Labels: :scroll: CL валиден

#987 Fix: Jukebox max text length
  tgui/packages/tgui/interfaces/Jukebox.tsx
  tgui/public/tgui.bundle.js
Labels: :scroll: CL не требуется, TGUI, :clock12: Ждёт мержа

#989 TTSSeedExplorer Tweaks
  modular_ss220/text_to_speech/code/tts_preferences.dm
  tgui/packages/tgui/interfaces/TTSSeedsExplorer.tsx
  tgui/public/tgui.bundle.js
Labels: :scroll: CL валиден, TGUI, :clock12: Ждёт мержа

#998 Fix: Missing Airlock paper overlay
  modular_ss220/aesthetics/airlocks/icons/station/overlays.dmi
Labels: :scroll: CL валиден, Спрайты, :clock12: Ждёт мержа

#991 Fix some pipes on delta
  _maps/map_files220/delta/delta.dmm
Labels: :scroll: CL не требуется, Изменение Карты, Керберос, :clock12: Ждёт мержа

#913 Translate areas
  code/game/area/ai_monitored.dm
  code/game/area/areas/mining_areas.dm
  code/game/area/ss13_areas/ai_areas.dm
  code/game/area/ss13_areas/command_areas.dm
  code/game/area/ss13_areas/engineering_areas.dm
  code/game/area/ss13_areas/legal_areas.dm
  code/game/area/ss13_areas/maintenance_areas.dm
  code/game/area/ss13_areas/medical_areas.dm
  code/game/area/ss13_areas/public_areas.dm
  code/game/area/ss13_areas/science_areas.dm
  code/game/area/ss13_areas/security_areas.dm
  code/game/area/ss13_areas/service_areas.dm
  code/game/area/ss13_areas/supply_areas.dm
  code/modules/antagonists/traitor/contractor/datums/objective_contract.dm
  modular_ss220/maps220/code/Areas/station.dm
Labels: :pencil: Перевод

#997 Floor Painter Tweaks
  code/game/objects/items/devices/painter/floor_painter.dm
  modular_ss220/aesthetics/floors/code/floors.dm
Labels: :scroll: CL валиден, Частичная модульность, :clock12: Ждёт мержа

#966 Added new item and uplink updated
  modular_ss220/modular_ss220.dme
  modular_ss220/objects/_objects.dme
  modular_ss220/objects/code/flashlight.dm
  modular_ss220/objects/icons/lighting.dmi
  modular_ss220/uplink_items/_uplink_items.dm
  modular_ss220/uplink_items/_uplink_items.dme
  modular_ss220/uplink_items/code/uplink_general.dm
Labels: :scroll: CL валиден, Спрайты, :clock12: Ждёт мержа

#995 Add: wyci wallet
  modular_ss220/loadout/code/donor.dm
  modular_ss220/objects/code/wallets.dm
  modular_ss220/objects/icons/wallets.dmi
Labels: :scroll: CL валиден, Спрайты, :clock12: Ждёт мержа

#973 Add: New lavaland ruins
  _maps/map_files220/RandomRuins/LavaRuins/ash_old.dmm
  _maps/map_files220/RandomRuins/LavaRuins/cheesus_temple.dmm
  _maps/map_files220/RandomRuins/LavaRuins/old_outpost.dmm
  config/example/config.toml
  modular_ss220/maps220/code/RandomRuins/lavaland_ruins.dm
Labels: :scroll: CL валиден, Требуется изменение конфига, Изменение Карты, :clock12: Ждёт мержа

#993 Add: Pneumatic rifle
  modular_ss220/objects/code/weapons.dm
  modular_ss220/objects/icons/ammo.dmi
  modular_ss220/objects/icons/guns.dmi
  modular_ss220/objects/icons/inhands/guns_lefthand.dmi
  modular_ss220/objects/icons/inhands/guns_righthand.dmi
  modular_ss220/objects/sound/weapons/gunshots/gunshot_pneumatic.ogg
Labels: :trollface: Фича, :scroll: CL валиден, Звук, Спрайты

#1003 Kitchen Sprites
  modular_ss220/aesthetics/_aesthetics.dme
  modular_ss220/aesthetics/kitchen/code/kitchen.dm
  modular_ss220/aesthetics/kitchen/icons/cooking_machines.dmi
Labels: :scroll: CL валиден, Спрайты, :clock12: Ждёт мержа

#1006 Tweak: No shock with wire splicing for simple mobs
  modular_ss220/wire_splicing/code/wiresplicing.dm
  modular_ss220/wire_splicing/icons/structures_spawners.dmi
  modular_ss220/wire_splicing/icons/traps.dmi
  modular_ss220/wire_splicing/structures_spawners.dmi
  modular_ss220/wire_splicing/wiresplicing.dme
Labels: :scroll: CL валиден, Спрайты

#955 Tint control fix
  modular_ss220/aesthetics/windowtint/code/windowtint.dm
Labels: :scroll: CL валиден, :clock12: Ждёт мержа

#1005 Tweak: Debuff cash in Cyberiad maints
  _maps/map_files220/cyberiad/cyberiad.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#1007 Fix: Microwave Layer
  modular_ss220/aesthetics/kitchen/code/kitchen.dm
Labels: :scroll: CL валиден

#944 Feat: Respawn cooldown
  config/example/config.toml
  modular_ss220/verbs/code/verbs.dm
Labels: :scroll: CL валиден, Требуется изменение конфига, :clock12: Ждёт мержа

#1008 New Microwave Sprite
  modular_ss220/aesthetics/kitchen/icons/cooking_machines.dmi
Labels: :scroll: CL валиден, Спрайты

#1013 Fix: Turret Controls
  _maps/map_files220/MetaStation/MetaStation.dmm
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада, Керберос, Цереброн

#1012 Add: Exile storage on Delta
  _maps/map_files220/delta/delta.dmm
Labels: :scroll: CL валиден, Изменение Карты, Керберос, :clock12: Ждёт мержа

#1009 Fix: Respawn verb logic
  modular_ss220/verbs/code/verbs.dm
Labels: :scroll: CL валиден

#1016 Fix disappearing fire alarm
  modular_ss220/aesthetics/firealarm/icons/firealarm.dmi
Labels: :scroll: CL валиден, Спрайты

#824 FEAT: Add donator jobs
  _maps/map_files220/MetaStation/MetaStation.dmm
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
  code/controllers/subsystem/SSjobs.dm
  code/game/jobs/job/job.dm
  code/modules/client/preference/character.dm
  modular_ss220/_defines220/_defines220.dme
  modular_ss220/_defines220/code/donor.dm
  modular_ss220/_defines220/code/job_defines.dm
  modular_ss220/_defines220/code/jobs_defines.dm
  modular_ss220/aesthetics/better_ids/icons/better_ids.dmi
  modular_ss220/antagonists/code/antag_mix/scenarios/antag_scenario.dm
  modular_ss220/donor/code/client_procs.dm
  modular_ss220/jobs/_jobs.dm
  modular_ss220/jobs/_jobs.dme
  modular_ss220/jobs/code/card_computer.dm
  modular_ss220/jobs/code/card_id.dm
  modular_ss220/jobs/code/clothing/security_clothing.dm
  modular_ss220/jobs/code/departaments.dm
  modular_ss220/jobs/code/donor/donor_jobs.dm
  modular_ss220/jobs/code/donor/job/1_tier_jobs.dm
  modular_ss220/jobs/code/donor/job/2_tier_jobs.dm
  modular_ss220/jobs/code/donor/job/3_tier_jobs.dm
  modular_ss220/jobs/code/donor/job/4_tier_jobs.dm
  modular_ss220/jobs/code/donor/job/5_tier_jobs.dm
  modular_ss220/jobs/code/jobs.dm
  modular_ss220/jobs/code/jobs_character.dm
  modular_ss220/jobs/code/jobs_gamemodes.dm
  modular_ss220/jobs/code/jobs_global_list.dm
  modular_ss220/jobs/code/landmarks.dm
  modular_ss220/jobs/code/objects/job_objects.dm
  modular_ss220/jobs/icons/clothing/uniforms.dmi
  modular_ss220/jobs/icons/custom_gun/custom_guns.dmi
  modular_ss220/jobs/icons/custom_gun/mob/custom_guns_lefthand.dmi
  modular_ss220/jobs/icons/custom_gun/mob/custom_guns_righthand.dmi
  modular_ss220/jobs/icons/hud.dmi
  modular_ss220/jobs/icons/landmarks.dmi
  modular_ss220/text_to_speech/code/tts_preferences.dm
Labels: :trollface: Фича, :scroll: CL валиден, :page_with_curl: Требуется изменение WIKI, Изменение Карты, Спрайты, Кибериада, Керберос, Цереброн

#1011 Add: Electrostaff - weapon for real NT shitcure
  modular_ss220/balance/code/species/machine.dm
  modular_ss220/objects/_objects.dme
  modular_ss220/objects/code/closets.dm
  modular_ss220/objects/code/electrostaff.dm
  modular_ss220/objects/icons/inhands/melee_lefthand.dmi
  modular_ss220/objects/icons/inhands/melee_righthand.dmi
  modular_ss220/objects/icons/melee.dmi
  modular_ss220/objects/sound/weapons/melee/electrostaff/on.ogg
Labels: :scroll: CL валиден, Звук, Спрайты

#1002 Tweak: Transfer Airlock names to Autoname helpers
  _maps/map_files220/MetaStation/MetaStation.dmm
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
  _maps/map_files220/generic/Lavaland.dmm
  tools/UpdatePaths/Scripts/ss220/1002_airlock_names_to_autoname.txt
Labels: :scroll: CL валиден, Изменение Карты, Инструменты, Кибериада, Керберос, Цереброн, Testmerge Required

#1025 Allow respawn for regular players
  modular_ss220/verbs/code/verbs.dm
Labels: :scroll: CL валиден

#1027 [FEAT] Donor update
  modular_ss220/jobs/code/donor/job/2_tier_jobs.dm
  modular_ss220/jobs/code/donor/job/3_tier_jobs.dm
  modular_ss220/jobs/code/donor/job/4_tier_jobs.dm
  modular_ss220/jobs/code/job/service_jobs.dm
Labels: :scroll: CL валиден

#1017 fix: drums
  modular_ss220/jukebox/code/jukebox.dm
  modular_ss220/jukebox/code/jukebox_datum.dm
  modular_ss220/jukebox/code/jukebox_subtypes.dm
Labels: :scroll: CL валиден

#1021 Longer pointer animation
  code/modules/point/point.dm
Labels: :scroll: CL валиден, НЕ МОДУЛЬНО

#1022 Map Access fix
  _maps/map_files220/MetaStation/MetaStation.dmm
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
  _maps/map_files220/generic/Lavaland.dmm
  modular_ss220/balance/_balance.dme
  modular_ss220/balance/code/access/access.dm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада, Керберос, Цереброн

#1035 Return deleted areas
  modular_ss220/maps220/code/Areas/station.dm
Labels: :scroll: CL не требуется

#1036 Remove Jukeboxes from maps
  _maps/map_files220/MetaStation/MetaStation.dmm
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада, Керберос, Цереброн

#1037 Better Discord linking
  modular_ss220/discord_link/code/discord.dm
Labels: :scroll: CL валиден

#1039 [FIX] Antag mix random job
  code/controllers/subsystem/SSjobs.dm
Labels: :scroll: CL валиден, НЕ МОДУЛЬНО

#1040 Fixed pepperballs supply crate
  modular_ss220/objects/code/weapons.dm
Labels: :scroll: CL валиден

#1045 [Fix] Metastation Fixes
  _maps/map_files220/MetaStation/MetaStation.dmm
Labels: :scroll: CL валиден, Изменение Карты, Цереброн

#1047 Fix failing OpenDream check
  modular_ss220/bureaucracy/code/forms.dm
Labels: :scroll: CL не требуется

#1038 Another access fixes
  _maps/map_files220/cyberiad/cyberiad.dmm
  _maps/map_files220/delta/delta.dmm
  modular_ss220/balance/code/access/access.dm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада, Керберос

#1018 [TM] Bring animal devouring back
  modular_ss220/mobs/_mobs.dme
  modular_ss220/mobs/code/mob_holder.dm
  modular_ss220/mobs/code/simple_animal/friendly/butterfly.dm
  modular_ss220/mobs/code/simple_animal/friendly/lizard.dm
  modular_ss220/mobs/code/simple_animal/hostile/bee.dm
Labels: :scroll: CL валиден

#1026 Add parry for electrostaff
  modular_ss220/objects/code/electrostaff.dm
Labels: :scroll: CL валиден

#1044 Fix and translate tip of the round
  strings/sillytips.txt
  strings/tips.txt
Labels: :scroll: CL валиден

#1052 add: 5 tier to ttsseedsexplorer
  tgui/packages/tgui/interfaces/TTSSeedsExplorer.tsx
  tgui/public/tgui.bundle.js
Labels: TGUI
