Repository ss220club/Paradise-SS220, pull requests merged in 2024-06, with the labels that each got.

#1271 Translate: Ranks fix
  code/modules/response_team/ert_outfits.dm
Labels: :scroll: CL не требуется, :pencil: Перевод

#1246 [TWEAK] Покраска полотенец балончиками и рефактор кода небольшой
  _maps/map_files220/generic/centcomm.dmm
  _maps/map_files220/stations/boxstation.dmm
  _maps/map_files220/stations/deltastation.dmm
  _maps/map_files220/stations/metastation.dmm
  modular_ss220/clothing/_clothing.dm
  modular_ss220/clothing/code/hats.dm
  modular_ss220/clothing/code/under.dm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада, Керберос, Цереброн

#1279 Translate: Fix keybindings missed translations
  code/datums/keybindings/client.dm
  code/datums/keybindings/mob_keybinds.dm
  code/datums/keybindings/robot_keybinds.dm
Labels: :scroll: CL не требуется, :pencil: Перевод

#1264 Translate: Area translations
  code/game/area/ss13_areas/legal_areas.dm
  code/game/area/ss13_areas/supply_areas.dm
  code/game/gamemodes/malfunction/Malf_Modules.dm
Labels: :scroll: CL не требуется, :pencil: Перевод

#1275 Fix expedition room lack of camera
  _maps/map_files220/stations/boxstation.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#1263 Wish Granter fix & update
  modular_ss220/maps220/code/misc.dm
  modular_ss220/maps220/icons/wish_granter.dmi
Labels: :scroll: CL валиден, Спрайты

#1260 Add: Holster sounds
  code/modules/clothing/under/accessories/holster.dm
  modular_ss220/aesthetics_sounds/code/items.dm
  modular_ss220/aesthetics_sounds/sound/handling/holsterin.ogg
  modular_ss220/aesthetics_sounds/sound/handling/holsterout.ogg
Labels: :scroll: CL валиден, Частичная модульность, Звук

#1274 Update Centcom visual, fix some issues
  _maps/map_files220/generic/centcomm.dmm
Labels: :scroll: CL валиден, Изменение Карты

#1258 Add: ss220 spaceruin & awaymissons loot
  _maps/map_files220/RandomRuins/SpaceRuins/convoy_ambush.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/destroyed_infiltrator.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/infected_ship.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/mechtransport_new.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/voxraiders_1.dmm
  _maps/map_files220/RandomRuins/SpaceRuins/whiteship.dmm
  _maps/map_files220/RandomZLevels/beach.dmm
  _maps/map_files220/RandomZLevels/blackmesa.dmm
  _maps/map_files220/RandomZLevels/caves.dmm
  _maps/map_files220/RandomZLevels/gate_lizard.dmm
  _maps/map_files220/RandomZLevels/spacebattle.dmm
  _maps/map_files220/RandomZLevels/wildwest.dmm
  _maps/map_files220/stations/boxstation.dmm
  _maps/map_files220/stations/deltastation.dmm
  _maps/map_files220/stations/metastation.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада, Керберос, Цереброн

#1268 Add: RnD lobby areas
  _maps/map_files220/stations/boxstation.dmm
  _maps/map_files220/stations/deltastation.dmm
  _maps/map_files220/stations/metastation.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада, Керберос, Цереброн

#1281 Translate: Translate area after upstream merge
  code/game/area/ss13_areas/science_areas.dm
Labels: :scroll: CL не требуется, :pencil: Перевод

#1265 Translate: Modular areas
  modular_ss220/maps220/code/Station/station_areas.dm
Labels: :scroll: CL не требуется, :pencil: Перевод

#1288 Fix slugcat duping hats
  modular_ss220/mobs/code/simple_animal/pets/slugcat.dm
Labels: :scroll: CL валиден, Фикс

#1285 Tweak: No AI interaction with SM Drop Button
  modular_ss220/sm_space_drop/code/sm_drop_button.dm
Labels: :scroll: CL валиден

#1295 Update Mime stamp sprite
  modular_ss220/aesthetics/stamps/icons/stamps.dmi
Labels: :scroll: CL валиден, Спрайты

#1286 Centcom Update: Drop Pods
  _maps/map_files220/generic/centcomm.dmm
  modular_ss220/maps220/_maps220.dme
  modular_ss220/maps220/code/Station/station_areas.dm
  modular_ss220/shuttles/_shuttles.dme
  modular_ss220/shuttles/code/nanotrasen_drop_pod.dm
Labels: :trollface: Фича, :scroll: CL валиден, Изменение Карты

#1298 Translate misstake in code delta
  code/modules/security_levels/security_level_datums.dm
Labels: :scroll: CL не требуется, :pencil: Перевод

#1243 Cyberiad: обновление дормитории
  _maps/map_files220/stations/boxstation.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада, :clock12: Ждёт мержа

#1293 feat: add SSLR as roundstart magazine-based rifle
  _maps/map_files220/stations/boxstation.dmm
  _maps/map_files220/stations/deltastation.dmm
  _maps/map_files220/stations/metastation.dmm
  modular_ss220/objects/_objects.dme
  modular_ss220/objects/code/sslr.dm
  modular_ss220/objects/icons/ammo.dmi
  modular_ss220/objects/icons/guns.dmi
  modular_ss220/objects/icons/inhands/guns_lefthand.dmi
  modular_ss220/objects/icons/inhands/guns_righthand.dmi
Labels: :trollface: Фича, :scroll: CL валиден, Изменение Карты, Спрайты, Кибериада, Керберос, Цереброн

#1301 Add: New Ferry shuttles
  _maps/map_files220/generic/centcomm.dmm
  _maps/map_files220/shuttles/ferry_clown.dmm
  _maps/map_files220/shuttles/ferry_convoy.dmm
  _maps/map_files220/shuttles/ferry_medical.dmm
  _maps/map_files220/shuttles/ferry_tsf.dmm
  _maps/map_files220/shuttles/ferry_ussp.dmm
  _maps/map_files220/shuttles/ferry_vip.dmm
  modular_ss220/shuttles/_shuttles.dme
  modular_ss220/shuttles/code/ferry_shuttles.dm
Labels: :scroll: CL валиден, Изменение Карты

#1280 Обновление камеры хранения ИИ.
  _maps/map_files220/stations/boxstation.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#1303 Translate: Minor hallucinations
  code/modules/hallucinations/effects/minor.dm
Labels: :pencil: Перевод

#1302 Repath & Cleanup weapons
  modular_ss220/objects/_objects.dme
  modular_ss220/objects/code/weapons.dm
  modular_ss220/objects/code/weapons/melee/baseball_bat.dm
  modular_ss220/objects/code/weapons/melee/electrostaff.dm
  modular_ss220/objects/code/weapons/melee/stylet.dm
  modular_ss220/objects/code/weapons/ranged/beretta.dm
  modular_ss220/objects/code/weapons/ranged/pneumagun.dm
  modular_ss220/objects/code/weapons/ranged/revolvers.dm
  modular_ss220/objects/code/weapons/ranged/sslr.dm
Labels: :scroll: CL не требуется

#1310 Fix lavaland_air turfs, fix missed
  _maps/map_files220/RandomZLevels/caves.dmm
  _maps/map_files220/generic/Lavaland.dmm
  modular_ss220/maps220/code/RandomRuins/lavaland/lavaland_turfs.dm
Labels: :scroll: CL валиден, Изменение Карты

#1308 Ремейк oldstation (Theta или АБОТЧ)
  modular_ss220/maps220/code/RandomRuins/space/space_ruins.dm
Labels: :scroll: CL валиден

#1311 Update Cyberiad dorms visual
  _maps/map_files220/stations/boxstation.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#1316 Add: Dye Generator to Cyberiad
  _maps/map_files220/stations/boxstation.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#1294 Add: Sakura tree
  modular_ss220/objects/_objects.dme
  modular_ss220/objects/code/flora/sakura.dm
  modular_ss220/objects/icons/flora/sakura.dmi
  modular_ss220/objects/icons/flora/sakura_grass.dmi
Labels: :trollface: Фича, :scroll: CL валиден, Спрайты, :clock12: Ждёт мержа

#1319 Add RPS into the emote panel
  modular_ss220/_defines220/code/emote.dm
  modular_ss220/emotes/code/emote_names.dm
  modular_ss220/emotes/code/emote_verbs.dm
Labels: :scroll: CL валиден

#1320 Translate RPS
  code/__DEFINES/emotes_defines.dm
  code/datums/status_effects/neutral.dm
Labels: :scroll: CL не требуется, :pencil: Перевод

#1324 Add: Missing soviet laundry soap sprite
  modular_ss220/aesthetics/soap/icons/soap.dmi
Labels: :scroll: CL валиден, Спрайты

#1325 Добавление напитка богов (кваса) в игру
  modular_ss220/food/code/drinks.dm
  modular_ss220/food/icons/drinks.dmi
Labels: :scroll: CL валиден, Спрайты

#1328 Merge Upstream [18.06.2024]
  code/__DEFINES/dcs/signals.dm
  code/__HELPERS/global_lists.dm
  code/_onclick/hud/alert.dm
  code/datums/components/defibrillator.dm
  code/game/machinery/computer/ai_core.dm
  code/game/objects/effects/effect_system/effects_sparks.dm
  code/game/objects/items/weapons/manuals.dm
  code/game/turfs/simulated/floor/misc_floor.dm
  code/modules/antagonists/changeling/changeling_power.dm
  code/modules/antagonists/changeling/datum_changeling.dm
  code/modules/antagonists/changeling/powers/fakedeath.dm
  code/modules/antagonists/changeling/powers/revive.dm
  code/modules/client/preference/loadout/loadout_accessories.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/events/spacevine.dm
  code/modules/hydroponics/grown/misc_seeds.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
  code/modules/mob/mob_misc_procs.dm
  code/modules/mob/new_player/sprite_accessories/sprite_accessories.dm
  icons/_nanomaps/CereStation_nanomap_z1.png
  icons/_nanomaps/MetaStation_nanomap_z1.png
  icons/effects/effects.dmi
  icons/mob/clothing/species/grey/underwear.dmi
  icons/mob/clothing/species/kidan/underwear.dmi
  icons/mob/clothing/species/vox/underwear.dmi
  icons/mob/clothing/underwear.dmi
  icons/mob/ties.dmi
  icons/obj/clothing/ties.dmi
  icons/obj/clothing/ties_overlay.dmi
  modular_ss220/loadout/_loadout.dme
  modular_ss220/loadout/code/removal.dm
Labels: :scroll: CL валиден, Частичная модульность, Спрайты, :clock12: Ждёт мержа

#1329 Fix: awaymissions id issue
  _maps/map_files220/RandomZLevels/gate_lizard.dmm
  _maps/map_files220/RandomZLevels/spacebattle.dmm
Labels: :scroll: CL валиден, Изменение Карты

#1333 [Spellcheck] Она не "экспИдиция"
  code/game/area/ss13_areas/supply_areas.dm
Labels: НЕ МОДУЛЬНО

#1334 [Spellcheck] Убираем плюсик из оповещения об уязвимости сети
  code/modules/events/door_runtime.dm
Labels: :scroll: CL не требуется, :pencil: Перевод

#1330 [FEAT] Nar'Sour
  modular_ss220/food/code/drinks.dm
  modular_ss220/food/icons/drinks.dmi
Labels: :scroll: CL валиден, Спрайты

#1332 Translate: Malf AI, fix cyborg transformer
  code/game/gamemodes/malfunction/Malf_Modules.dm
Labels: :scroll: CL не требуется, :pencil: Перевод

#1337 Feat: Emit news event
  modular_ss220/modular_ss220.dme
  modular_ss220/redis220/_redis220.dm
  modular_ss220/redis220/_redis220.dme
  modular_ss220/redis220/code/news.dm
Labels: :scroll: CL невалиден

#1339 bandaid: redis reconnect on tgs event
  modular_ss220/redis220/_redis220.dme
  modular_ss220/redis220/code/tgs_deploy_bandaid.dm
Labels: :scroll: CL невалиден

#1336 Merge Upstream [21.06.2024]
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_hermit.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_shuttlecrash.dmm
  _maps/map_files220/stations/boxstation.dmm
  code/__HELPERS/trait_helpers.dm
  code/_globalvars/traits.dm
  code/datums/components/parry.dm
  code/datums/components/zombie_regen.dm
  code/datums/uplink_items/uplink_traitor.dm
  code/game/area/ai_monitored.dm
  code/game/area/areas/mining_areas.dm
  code/game/area/asteroid_areas.dm
  code/game/area/centcom_areas.dm
  code/game/area/misc_areas.dm
  code/game/area/shuttle_areas.dm
  code/game/area/ss13_areas/ai_areas.dm
  code/game/area/ss13_areas/command_areas.dm
  code/game/area/ss13_areas/engineering_areas.dm
  code/game/area/ss13_areas/maintenance_areas.dm
  code/game/area/ss13_areas/medical_areas.dm
  code/game/area/ss13_areas/public_areas.dm
  code/game/area/ss13_areas/science_areas.dm
  code/game/area/ss13_areas/supply_areas.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/wizard/magic_tarot.dm
  code/game/objects/items/blueprints.dm
  code/game/objects/items/hand_item.dm
  code/game/objects/items/weapons/dnascrambler.dm
  code/game/objects/items/weapons/holy_weapons.dm
  code/game/objects/items/weapons/shields.dm
  code/game/objects/items/weapons/twohanded.dm
  code/game/turfs/simulated/floor/asteroid_floors.dm
  code/modules/antagonists/zombie/zombie_spells.dm
  code/modules/atmospherics/machinery/atmospherics.dm
  code/modules/awaymissions/mission_code/ruins/oldstation.dm
  code/modules/awaymissions/mob_spawn.dm
  code/modules/clothing/under/jobs/engineering_jumpsuits.dm
  code/modules/events/prison_break.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mob/living/carbon/human/human_mob.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/golem.dm
  code/modules/mod/modules/modules_antag.dm
  code/modules/ruins/ruin_areas.dm
  code/modules/surgery/organs/augments_arms.dm
  code/modules/surgery/organs/autosurgeon.dm
  modular_ss220/maps220/code/Station/station_areas.dm
  paradise.dme
Labels: :scroll: CL валиден, Изменение Карты, Кибериада

#1340 Fix: Немного починил факсы
  _maps/map_files220/stations/boxstation.dmm
  _maps/map_files220/stations/deltastation.dmm
Labels: :scroll: CL валиден, Изменение Карты, Кибериада, Керберос

#1341 CLEANING MANAGER UPDATE
  modular_ss220/aesthetics/soap/code/soap.dm
  modular_ss220/jobs/code/card_id.dm
  modular_ss220/jobs/code/donor/job/3_tier_jobs.dm
  modular_ss220/jobs/code/objects/job_objects.dm
Labels: :scroll: CL валиден

#1342 Fix: send only one frame to redis
  modular_ss220/redis220/code/news.dm
Labels: :scroll: CL невалиден
