Repository ss220club/Paradise-SS220, pull requests merged in 2024-12, with the labels that each got.

#1682 Update translate from tg
  code/__HELPERS/text.dm
  modular_ss220/translations/code/defines.dm
  modular_ss220/translations/code/pronouns.dm
  modular_ss220/translations/code/ru_names/ru_name_base.dm
  modular_ss220/translations/code/translate_data/ru_names.toml
  modular_ss220/translations/code/translation_data/ru_emotes.toml
  modular_ss220/translations/code/translation_data/ru_names.toml
  modular_ss220/translations/code/translation_data/ru_reagents.toml
  modular_ss220/translations/code/translation_data/ru_verbs.toml
Labels: :scroll: CL не требуется, :feelsgood: Частичная модульность

#1681 add: Morphs announcement
  modular_ss220/antagonists/_antagonists.dme
  modular_ss220/antagonists/code/morph/morph.dm
Labels: :scroll: CL валиден

#1687 Update license section in README.md
  README.md
Labels: :neckbeard: Документация, :scroll: CL не требуется

#1649 Meme: ai ahelp autoresponse
  code/controllers/subsystem/tickets/SStickets.dm
  config/example/config.toml
  modular_ss220/ai_integration/_ai_integration.dm
  modular_ss220/ai_integration/_ai_integration.dme
  modular_ss220/ai_integration/code/config.dm
  modular_ss220/ai_integration/code/gpt_subsystem.dm
  modular_ss220/ai_integration/code/ticket.dm
  modular_ss220/modular_ss220.dme
  strings/ahelp_system_message.txt
Labels: :scroll: CL валиден, :floppy_disk: Изменение конфига, :feelsgood: Частичная модульность, Testmerge Required

#1699 Bring scientific analyzer back
  _maps/map_files220/stations/boxstation.dmm
  _maps/map_files220/stations/deltastation.dmm
  _maps/map_files220/stations/metastation.dmm
Labels: :scroll: CL валиден, :wrench: Фикс, Кибериада, Керберос, Цереброн

#1693 Ограничения Раса/Роль
  code/modules/client/preference/character.dm
  config/example/config.toml
  modular_ss220/jobs/_jobs.dme
  modular_ss220/jobs/code/configuration.dm
  modular_ss220/jobs/code/jobs.dm
Labels: :scroll: CL валиден, :floppy_disk: Изменение конфига, :feelsgood: Частичная модульность

#1704 Bring training bomb back
  modular_ss220/events/code/christmas.dm
Labels: :scroll: CL валиден, :wrench: Фикс

#1703 Adds mindflayer to antag mix
  config/example/config.toml
  modular_ss220/antagonists/code/antag_mix/scenarios/minor_scenarios.dm
Labels: :scroll: CL валиден, :floppy_disk: Изменение конфига

#1708 [Fix] Admins can now again spawn BloodBrothers and VoxRaders
  code/modules/admin/verbs/one_click_antag.dm
  modular_ss220/antagonists/code/mind/memory_edit.dm
Labels: :scroll: CL валиден, :wrench: Фикс, :feelsgood: Частичная модульность

#1717 Fix disposalpipe of HoS office
  _maps/map_files220/stations/metastation.dmm
Labels: :scroll: CL валиден, Цереброн

#1718 Fix: Disposal metastation blea
  _maps/map_files220/stations/metastation.dmm
Labels: :scroll: CL валиден, :wrench: Фикс, Цереброн
