Repository ss220club/Paradise-SS220, pull requests merged in 2025-01, with the labels that each got.

#1729 [s] Illegal NT Instructor
  modular_ss220/_defines220/code/job_defines.dm
Labels: :scroll: CL невалиден, :wrench: Фикс

#1732 Shift some donor jobs flags
  modular_ss220/_defines220/code/job_defines.dm
Labels: :scroll: CL не требуется, :wrench: Фикс

#1735 Add: NCT acronyms for TTS
  modular_ss220/text_to_speech/code/tts_subsystem.dm
Labels: :scroll: CL валиден

#1734 Translate: NCT office area
  code/game/area/ss13_areas/procedure_areas.dm
Labels: :pencil: Перевод

#1726 Paramedic room tweaks
  _maps/map_files220/stations/deltastation.dmm
  _maps/map_files220/stations/metastation.dmm
Labels: :scroll: CL валиден, Керберос, Цереброн

#1738 Remove changelog length limit
  tools/changelog/changelog_utils.py
Labels: :scroll: CL не требуется, :shipit: Улучшение, :guitar: Инструменты

#1742 Increase cost of strange seeds from biogen
  modular_ss220/hydroponics/code/biogenerator_designs.dm
Labels: :scroll: CL валиден

#1751 Добавляет таярам новый эмоут - короткое мурчание
  modular_ss220/_defines220/code/emote.dm
  modular_ss220/emotes/audio/mrowss.ogg
  modular_ss220/emotes/code/emote.dm
  modular_ss220/emotes/code/emote_names.dm
  modular_ss220/emotes/code/emote_verbs.dm
  modular_ss220/emotes/code/racial_emotes.dm
  modular_ss220/keybindings/code/emote_keybinds.dm
Labels: :scroll: CL валиден, :sound: Звук

#1754 [FIX] Clothes not showing in vendors roundstart
  modular_ss220/jobs/code/objects/wardrobe_vendors.dm
Labels: :scroll: CL валиден, :wrench: Фикс

#1760 Nerf necropolis' spellbooks
  _maps/map_files220/generic/Lavaland.dmm
  modular_ss220/objects/_objects.dme
  modular_ss220/objects/code/spellbook.dm
Labels: :scroll: CL валиден, :world_map: Изменение Карты

#1772 Тир для ведущего и бибадира
  modular_ss220/donor/code/client_procs.dm
Labels: :scroll: CL невалиден
