Repository ss220club/Paradise-SS220, pull requests merged in 2025-04, with the labels that each got.

#1872 [Fix] Blacksmith wiring + Lobby button at Engineering (Cyberiad)
  _maps/map_files220/stations/boxstation.dmm
Labels: :scroll: CL валиден, :wrench: Фикс, Кибериада

#1864 Штамп для NCT
  code/modules/asset_cache/assets/asset_paper.dm
  modular_ss220/aesthetics/stamps/code/stamps.dm
  modular_ss220/aesthetics/stamps/icons/paper_icons/large_stamp-nct.png
  modular_ss220/aesthetics/stamps/icons/stamps.dmi
  modular_ss220/outfits/code/outfits.dm
Labels: :scroll: CL валиден, :feelsgood: Частичная модульность, :paintbrush: Спрайты

#1884 Merge admin level into centcomm level
  _maps/base_map.dm
  _maps/map_files220/generic/Admin_Zone.dmm
  _maps/map_files220/generic/centcomm.dmm
  _maps/map_files220/stations/boxstation.dmm
  _maps/map_files220/stations/deltastation.dmm
  _maps/map_files220/stations/metastation.dmm
  code/tests/_game_test_puppeteer.dm
  modular_ss220/shuttles/code/lance_shuttle.dm
Labels: :scroll: CL валиден, :feelsgood: Частичная модульность, Кибериада, Керберос, Цереброн

#1891 SS220 Modular Food Recipes Migration
  modular_ss220/food_and_drinks/code/food/food.dm
Labels: :scroll: CL валиден

#1911 Suggest 516
  code/modules/client/client_procs.dm
Labels: :scroll: CL валиден, :finnadie: НЕ МОДУЛЬНО, :shipit: Улучшение
