Repository ss220club/Paradise-SS220, pull requests merged in 2025-02, with the labels that each got.

#1784 Removes useless t-ray scanners
  modular_ss220/devices/_devices.dme
  modular_ss220/devices/code/items/scanners.dm
  modular_ss220/devices/code/research_designs/equipment_designs.dm
Labels: :scroll: CL валиден

#1788 Респрайт нереспрайтнутых печатей
  modular_ss220/aesthetics/stamps/icons/stamps.dmi
Labels: :scroll: CL валиден, :paintbrush: Спрайты

#1787 Респрайт Hydroponic Trays
  modular_ss220/aesthetics/hydroponics/code/hydroponics.dm
  modular_ss220/aesthetics/hydroponics/icons/hydroponics.dmi
Labels: :scroll: CL валиден, :paintbrush: Спрайты

#1765 [TM] Communication Update
  code/game/machinery/tcomms/tcomms_base.dm
  code/game/objects/items/devices/radio/radio_objects.dm
  code/modules/pda/pda_tgui.dm
  config/example/config.toml
  modular_ss220/aesthetics/_aesthetics.dme
  modular_ss220/aesthetics/tcomms/code/message.dm
  modular_ss220/aesthetics/tcomms/sound/walkie_talkie_alert_major.ogg
  modular_ss220/aesthetics/tcomms/sound/walkie_talkie_alert_minor.ogg
  modular_ss220/balance/_balance.dme
  modular_ss220/balance/code/config/config.dm
  modular_ss220/balance/code/events/security_level.dm
  modular_ss220/balance/code/items/pda.dm
  modular_ss220/balance/code/items/radio.dm
  modular_ss220/devices/code/items/radio.dm
  tgui/packages/tgui/interfaces/pda/pda_alarm_button.js
  tgui/packages/tgui/interfaces/pda/pda_main_menu.js
  tgui/public/tgui.bundle.js
Labels: :trollface: Фича, :scroll: CL валиден, :page_with_curl: Требуется изменение WIKI, :floppy_disk: Изменение конфига, :feelsgood: Частичная модульность, :sound: Звук, TGUI, Testmerge Required
